<div class="platform-box">
    <div>
        <ul class="nav nav-tabs scroll-hidden motion" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                    <p>天智</p>
                    <span>人工智能</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                    <p>天算</p>
                    <span>智能大数据</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                    <p>天像</p>
                    <span>智能多媒体</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab1" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact2" aria-selected="false">
                    <p>天工</p>
                    <span>智能物联网</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab2" data-toggle="tab" href="#contact3" role="tab" aria-controls="contact3" aria-selected="false">
                    <p>天链</p>
                    <span>区块链平台</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab3" data-toggle="tab" href="#contact4" role="tab" aria-controls="contact4" aria-selected="false">
                    <p>天合</p>
                    <span>云原生平台</span>
                </a>
            </li>
        </ul>
        <div class="tab-content scroll-hidden motion" id="myTabContent">
            <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-md-5 imgtab">
                        <img lazy_src="https://bce.bdstatic.com/bce-portal/static/assets/assets/9cffebcd.png" alt="" width="100%">
                    </div>
                    <div class="col-md-7 rightbox">
                        <p>天智 人工智能</p>
                        <p>天智基于世界领先的大脑，提供拿来即用的视觉、语音等通用AI能力及行业解决方案、AI开发平台及培训服务等。行业客户可基于自身业务需求及数据，定制出个性化智能应用</p>
                        <div class="row">
                            <div class="col-md-3">
                                <p>216 <span class="unit">项</span></p>
                                <span class="name">技术能力</span>
                            </div>
                            <div class="col-md-3">
                                <p>24h <span  class="unit">项</span></p>
                                <span class="name">持续集成</span>
                            </div>
                            <div class="col-md-3">
                                <p>130w <span class="extra">+</span></p>
                                <span class="name">开发者正在使用</span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-primary btn-lg btnm">了解更多</button>
                        <div class="w-href">
                            <p class="title">相关产品</p>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/91a6b76f.png" alt="" width="20px">
                                    <a href="#">人脸识别</a>
                                </div>
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/e9859d1e.png" alt="" width="20px">
                                    <a href="#">语音识别</a>
                                </div>
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/eaea7857.png" alt="" width="20px">
                                    <a href="#">自然语言处理</a>
                                </div>
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/42cd8e2d.png" alt="" width="20px">
                                    <a href="#">机器学习</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                 <div class="row">
                    <div class="col-md-5 imgtab" >
                        <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/5de5f732.png" alt="" width="100%">
                    </div>
                    <div class="col-md-7 rightbox">
                        <p>天算 智能大数据</p>
                        <p>天算依托长期的业务实践和技术积累，大数据处理和分析服务覆盖数据的全生命周期管理过程，帮助行业客户管理和分析数据，挖掘数据价值，数据驱动业务增长</p>
                        <div class="row">
                            <div class="col-md-3">
                                <p>32w <span class="extra">+</span></p>
                                <span class="name">作业数</span>
                            </div>
                            <div class="col-md-3">
                                <p>100 PB<span class="extra">+</span></p>
                                <span class="name">日均数据处理量</span>
                            </div>
                            <div class="col-md-3">
                                <p>1.3w <span class="extra">+</span></p>
                                <span class="name">服务器单集群规模</span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-primary btn-lg btnm">了解更多</button>
                        <div class="w-href">
                            <p class="title">相关产品</p>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/91a6b76f.png" alt="" width="20px">
                                    <a href="#">MapReduce</a>
                                </div>
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/e9859d1e.png" alt="" width="20px">
                                    <a href="#">数据仓库</a>
                                </div>
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/eaea7857.png" alt="" width="20px">
                                    <a href="#">流式计算</a>
                                </div>
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/42cd8e2d.png" alt="" width="20px">
                                    <a href="#">日志服务</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-md-5 imgtab" >
                        <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/2262c8c4.png" alt="" width="100%">
                    </div>
                    <div class="col-md-7 rightbox">
                        <p>天像 智能多媒体</p>
                        <p>提供一站式音视频、图像、文档等智能多媒体解决方案，全面整合在图像、语音、文字领域的人工智能优势，开放内容生态，助力企业轻松搭建智能多媒体应用</p>
                        <div class="row">
                            <div class="col-md-3">
                                <p>100 T</p>
                                <span class="name">CDN带宽</span>
                            </div>
                            <div class="col-md-3">
                                <p>98%</p>
                                <span class="name">直播流畅率</span>
                            </div>
                            <div class="col-md-3">
                                <p>UHD</p>
                                <span class="name">智感超清 视频处理</span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-primary btn-lg btnm">了解更多</button>
                        <div class="w-href">
                            <p class="title">相关产品</p>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/91a6b76f.png" alt="" width="20px">
                                    <a href="#">内容分发网络</a>
                                </div>
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/e9859d1e.png" alt="" width="20px">
                                    <a href="#">音视频直播</a>
                                </div>
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/eaea7857.png" alt="" width="20px">
                                    <a href="#">音视频转码</a>
                                </div>
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/42cd8e2d.png" alt="" width="20px">
                                    <a href="#">音视频点播</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab1">
                <div class="row">
                    <div class="col-md-5 imgtab" >
                        <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/9aff9017.png" alt="" width="100%">
                    </div>
                    <div class="col-md-7 rightbox">
                        <p>智能物联网</p>
                        <p>融合智能云天工平台，提供数据上行、云上存储和分析的基础物联网服务，以及云上训练，应用下行，本地执行的边缘计算服务。深度赋能物流、车联网、家居、工业等垂直行业</p>
                        <div class="row">
                            <div class="col-md-5">
                                <p>10000w<span class="extra">+</span></p>
                                <span class="name">设备并发在线</span>
                            </div>
                            <div class="col-md-5">
                                <p>10000w<span class="extra">+</span></p>
                                <span class="name">数据并发处理能力</span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-primary btn-lg btnm">了解更多</button>
                        <div class="w-href">
                            <p class="title">相关产品</p>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/91a6b76f.png" alt="" width="20px">
                                    <a href="#">边缘计算</a>
                                </div>
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/e9859d1e.png" alt="" width="20px">
                                    <a href="#">时序数据库</a>
                                </div>
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/eaea7857.png" alt="" width="20px">
                                    <a href="#">物接入</a>
                                </div>
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/42cd8e2d.png" alt="" width="20px">
                                    <a href="#">物可视</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="contact3" role="tabpanel" aria-labelledby="contact-tab2">
                <div class="row">
                    <div class="col-md-5 imgtab" >
                        <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/112eab1b.png" alt="" width="100%">
                    </div>
                    <div class="col-md-7 rightbox">
                        <p>天链 区块链平台</p>
                        <p>天链平台致力于打造灵活可信的企业赋能平台。构建可信BaaS平台降低企业业务上链门槛，同时提供多种一站式的“区块链+ABC”可信解决方案，助力金融、政务、医疗、互联网等各行各业建立新型的企业协作模式</p>
                        <div class="row">
                            <div class="col-md-3">
                                <p>4<span class="unit">种</span></p>
                                <span class="name">主流框架支持</span>
                            </div>
                            <div class="col-md-3">
                                <p>100<span class="extra">+</span></p>
                                <span class="name">中间层服务</span>
                            </div>
                            <div class="col-md-3">
                                <p>10<span class="extra">+</span></p>
                                <span class="name">落地案例</span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-primary btn-lg btnm">了解更多</button>
                        <div class="w-href">
                            <p class="title">相关产品</p>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/91a6b76f.png" alt="" width="20px">
                                    <a href="#">MapReduce</a>
                                </div>
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/e9859d1e.png" alt="" width="20px">
                                    <a href="#">数据仓库</a>
                                </div>
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/eaea7857.png" alt="" width="20px">
                                    <a href="#">流式计算</a>
                                </div>
                                <div class="col-md-3">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/42cd8e2d.png" alt="" width="20px">
                                    <a href="#">日志服务</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="contact4" role="tabpanel" aria-labelledby="contact-tab3">
                <div class="row">
                    <div class="col-md-5 imgtab" >
                        <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/31e891a7.png" alt="" width="100%">
                    </div>
                    <div class="col-md-7 rightbox">
                        <p>天合 云原生开发平台</p>
                        <p>天合基于沉淀多年的云原生开发技术与理念，提供高度容器化函数化的基础设施，具备企业级的微服务治理能力，同时集成自身的最佳实践Devops工具链，保障开发者享受到高效、灵活、弹性的开发体验</p>
                        <div class="row">
                            <div class="col-md-3">
                                <p>500 <span class="extra">+</span></p>
                                <span class="name">单集群节点</span>
                            </div>
                            <div class="col-md-3">
                                <p>1000 <span class="extra">+</span></p>
                                <span class="name">产品迭代</span>
                            </div>
                            <div class="col-md-3">
                                <p>40 <span class="unit">亿/日</span></p>
                                <span class="name">业务请求支持</span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-primary btn-lg btnm">了解更多</button>
                        <div class="w-href">
                            <p class="title">相关产品</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/91a6b76f.png" alt="" width="20px">
                                    <a href="#">容器引擎CCE</a>
                                </div>
                                <div class="col-md-4">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/e9859d1e.png" alt="" width="20px">
                                    <a href="#">函数计算CFC</a>
                                </div>
                                <div class="col-md-4">
                                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/eaea7857.png" alt="" width="20px">
                                    <a href="#">云原生微服务应用平台CNAP</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
