{extend name="index/index"}
{block name="content"}
    <div class="page-header">
        <h5>发送消息</h5>
    </div>
    <div class="main">
        <div class="mixbox">
            <form id="addmessage" class="form-horizontal" action="{:url('operate/messageadd')}" method="post">
              <!--  <div class="form-group">
                    <label class="col-md-2 control-label" for="">用户列表：</label>
                    <div class="col-md-4">
                        <div class="select">
                            <select id="sendee" name="sendee" class="form-control unline">
                                {empty name="userlist"}
                                <option value="">暂无用户</option>
                                {else/}
                                <option value="">请选择</option>
                                {volist name="userlist" id="v"}
                                <option value="{$v['id']}">{$v['username']}</option>
                                {/volist}
                                {/empty}
                            </select>
                            <label class="unline-label"></label>
                        </div>
                    </div>
                </div>-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">标题：</label>
                    <div class="col-md-4">
                        <input type="text" name="title" class="form-control unline title" placeholder="请输入消息标题" />
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group col-md-12" id="feditor">
                    <label for="" class="col-sm-2 control-label text-right">正文：</label>
                    <div class="col-sm-6">
                        <span id="editor" type="text/plain" style="width:100%;height:300px;"></span>
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">消息类型：</label>
                    <div class="col-md-4">
                        <div class="select">
                            <select name="temp" class="form-control unline">
                                <option value="1">产品消息</option>
                                <option value="2">安全消息</option>
                                <option value="3">服务消息</option>
                                <option value="4">活动消息</option>
                                <option value="5">历史消息</option>
                                <option value="6">故障消息</option>
                            </select>
                            <label class="unline-label"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">是否重要：</label>
                    <div class="col-md-4">
                        <div class="radio inline">
                            <input class="vba-rd" type="radio" name="important" id="rd31" value="1">
                            <label class="vba-ridbox" for="rd31">是</label>
                            <input class="vba-rd" type="radio" name="important" id="rd21" value="2">
                            <label class="vba-ridbox" for="rd21">否</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <button type="submit" class="btn btn-ces tijiao">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{/block}
{block name="script"}
<script>
    //实例化编辑器
    var ue = UE.getEditor('editor');

    $(".tijiao").click(function () {
        if ($('#title').val() == '') {
            alert('请输入标题!');
            return false;
        }
        if ($('#sendee').val() == '') {
            alert('请选择接收用户!');
            return false;
        }
        var formData = new FormData($('#addmessage')[0]);
        $.ajax({
            url: "{:url('operate/messageadd')}",
            type: "post",
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log(data);
                if (data['msg'] == 1) {
                    alert('添加成功');
                    window.location.href = "{:url('operate/message')}";
                }else if(data['msg'] == 3) {
                    alert('请填写内容后再添加');
                }else
                {
                    alert('添加失败');
                    window.history.back(-1);
                }
            },
        });

        return false;
    })
</script>
{/block}