  {extend name="index/index"}
{block name="content"}
				<div class="page-header">
					<h5>实名认证详情</h5>
				</div>
				<div class="main">
					<div class="mixbox">
						<div class="form-horizontal worderinfo clearfix">
							{eq name='res.type' value='2'}
							<div class="form-group">
								<label class="col-md-1 control-label">企业名称:</label>
								<div class="col-md-5">
									<p class="form-control-static info">{$res.name}</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-1 control-label">营业执照注册号:</label>
								<div class="col-md-5">
									<p class="form-control-static info">{$res.cardnum}</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-1 control-label">营业执照扫描件:</label>
								<div class="col-md-5">
									<p class="form-control-static info"><img src="{$res.photo1}" alt=""></p>
								</div>
							</div>
							{else/}
							<div class="form-group">
								<label class="col-md-1 control-label">姓名:</label>
								<div class="col-md-5">
									<p class="form-control-static info">{$res.name}</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-1 control-label">身份证号:</label>
								<div class="col-md-5">
									<p class="form-control-static info">{$res.cardnum}</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-1 control-label">身份证照片:</label>
								<div class="col-md-5">
									<p class="form-control-static info"><img src="{$res.photo1}" alt=""></p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-1 control-label">身份证照片:</label>
								<div class="col-md-5">
									<p class="form-control-static info"><img src="{$res.photo1}" alt=""></p>
								</div>
							</div>
							{/eq}
							<button type="button" class="btn" onclick="window.history.go(-1)">返回</button>
						</div>

					</div>
				</div>
{/block}
{block name="script"}
{/block}