{extend name="index/index"}
{block name="content"}
<div class="page-header">
	<h5>发票资质</h5>
</div>
<div class="main">
	<div class="mixbox">
		<div class="table-responsive">
			<div class="tool-box">
				<form class="form-inline" action="{:url('operate/authname')}" method="get">
					<div class="btn-group">
						<div class="col-md-12">
								<select name="istatus" class="form-control">
								<option value="">全部</option>
								<option value="1" {if condition="$Request.session.istatus eq 1"} selected="selected"{/if} >审核通过</option>
								<option value="2" {if condition="$Request.session.istatus eq 2"} selected="selected"{/if} >审核中</option>
								<option value="3" {if condition="$Request.session.istatus eq 3"} selected="selected"{/if} >审核失败</option>
							</select>
						</div>
					</div>
				</form>

			</div>
			<table class="table tools">
				<thead>
				<tr class="sortmix">
					<th class="lock tal">序号</th>
					<th class="lock">用户名称</th>
					<th class="lock">联系方式</th>
					<th class="lock">认证名称</th>
					<th class="lock">认证类型</th>
					<th class="lock">创建时间</th>
					<th class="lock">状态</th>
					<th class="lock">操作</th>
				</tr>
				</thead>
				<tbody>
				{foreach $res as $val}
				<tr>
					<th>{$val.id}</th>
					<th scope="row">{$val.username}</th>
					<th scope="row">{$val.phone}</th>
					<th scope="row">{$val.name}</th>
					<td>{if condition="$val.type eq 1"}个人{else/}企业{/if}</td>
					<td>{$val.create_time}</td>
					<td><span {if condition="$val.status eq 2"}  class="round text-danger" {elseif condition="$val.status eq 3"} class="round text-success" {elseif condition="$val.status eq 1"} class="round text-warning"  {else} class="round text-muted" {/if}>
						{if condition="$val.status eq 3"} 审核通过
						{elseif condition="$val.status eq 1"/}审核中
						{else/}审核失败
						{/if}</span></td>
					<td>
						{if condition="$val.status eq 3"}<!--审核通过-->
						<a href="{:url('operate/authInfo',['id'=>$val.id])}" class="btn btn-ces btn-xs">详情</a>
						<a href="javascript:;" val="1"   nid="{$val.id}"  class="btn btn-danger btn-xs js-save">取消通过</a>
						{elseif condition="$val.status eq 1"/}<!--审核中-->
						<a href="{:url('operate/authInfo',['id'=>$val.id])}" class="btn btn-ces btn-xs">详情</a>
						<a href="javascript:;" val="3"  nid="{$val.id}" class="btn btn-success btn-xs js-save">通过</a>
						<a href="javascript:;" val="2"   nid="{$val.id}"  class="btn btn-danger btn-xs js-save">不通过</a>
						{else/}
						<a href="{:url('operate/authInfo',['id'=>$val.id])}" class="btn btn-ces btn-xs">详情</a>
						<a href="javascript:;" val="3"  nid="{$val.id}" class="btn btn-success btn-xs js-save">通过</a>
						{/if}
					</td>
				</tr>

				{/foreach}
				</tbody>
			</table>
			<div class="vba-pagination">
				<ul class="pagination pull-left">
					{$res->render()}
				</ul>
			</div>
		</div>
	</div>
</div>


{/block}
	{block name="script"}
		<script type="text/javascript">
			$('.callCont').on('click', function() {
				$('#ticketCont .modal-cont').html($(this).data('cont'));
				$('#ticketCont').modal('show');
			});
			$('.callRemark').on('click', function() {
				$('#ticketRemark .modal-cont').html($(this).data('cont'));
				$('#ticketRemark').modal('show');
			});
			/*$('.sendoff').on('click', function() {
				$('#ticketNum').modal('show');
			});*/
			$(".js-save").click(function () {
				var id = $(this).attr('nid');
				var status = $(this).attr('val');
				$.ajax({
					type: 'POST',
					url: "{:url('operate/saveauth')}",
					data: {id: id, status: status},
					dataType: "json",
					success: function (data) {
						if (data['msg'] == 1) {
							alert('修改成功!');
							window.location.reload();
						}else if(data['msg'] == 2){
							alert('您没有操作权限!');
						} else {
							alert('修改失败');
							window.location.reload();
						}
						}
					})
			})
		</script>
{/block}