{extend name="index/index"}
{block name="content"}
    <div class="page-header">
        <h5>域名模板审核</h5>
    </div>
    <div class="main">
        <div class="mixbox">
            <div class="table-responsive">
                <form class="form-inline" action="{:url('operate/domaincheck')}" method="get">
                    <div class="btn-group">
                        <div class="col-md-12">
                            <select name="testatus" class="form-control">
                                <option value="">全部</option>
                                <option value="1" {if condition="$Request.session.testatus eq 1"} selected="selected"{/if} >审核中</option>
                                <option value="2" {if condition="$Request.session.testatus eq 2"} selected="selected"{/if} >审核成功</option>
                                <option value="3" {if condition="$Request.session.testatus eq 3"} selected="selected"{/if} >审核不通过</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group pull-right">
                        <!--<span><input type="text" name="invoice_header" placeholder="请输入客户名称查询" value="{$Request.session.userid}"  class="form-control">-->
                        <input type="submit" value="点击查询" class="btn btn-ces"></span>
                    </div>
                </form>
                <table class="table tools">

                    <thead>
                    <tr class="sortmix">
                        <th class="lock">序号</th>
                        <th class="lock">客户名称</th>
                        <th class="lock">所有者</th>
                        <th class="lock">联系人</th>
                        <th class="lock">区域</th>
                        <th class="lock">邮箱</th>
                        <th class="lock">手机号</th>
                        <th class="lock">申请时间</th>
                        <th class="lock">状态</th>
                        <th class="lock" style="text-align:right">操作</th>

                    </tr>
                    </thead>

                    <tbody>
                    {foreach $data as $v}
                    <tr>

                        <td>
                            {$v.id}
                        </td>
                        <td>
                            {$v.userid}
                        </td>
                        <td>
                            {$v.owner_cn}
                        </td>
                        <td>
                            {$v.contacts_cn}
                        </td>
                        <td>
                           {$v.region}
                        </td>
                        <td>
                            {$v.email}
                        </td>
                        <td>
                            {$v.phone}
                        </td>
                        <td>{$v.create_time}</td>
                        <td><span {if condition="$v.status eq 1"}  class="round text-info" {elseif condition="$v.status eq 2"} class="round text-success"  {else} class="round text-muted" {/if}>
                            {if condition="$v.status eq 1"} 审核中
                            {elseif condition="$v.status eq 2"/}审核通过
                            {else/}审核不通过
                            {/if}</span></td>
                        <td>
                        <td >
                            {if condition="$v.status eq 1"}
                                <a href="{:url('operate/checkinfo',['id'=>$v.id])}" class="btn btn-ces btn-xs">详情</a>
                                <a href="javascript:;" val="2"  nid="{$v.id}" class="btn btn-success btn-xs js-save">通过</a>
                                <a href="javascript:;" val="3"   nid="{$v.id}"  class="btn btn-danger btn-xs js-save">不通过</a>
                            {elseif condition="$v.status eq 2"/}
                                <a href="{:url('operate/checkinfo',['id'=>$v.id])}" class="btn btn-ces btn-xs">详情</a>
                                <a href="javascript:;" val="3"   nid="{$v.id}"  class="btn btn-danger btn-xs js-save">取消</a>
                            {else/}
                                <a href="{:url('operate/checkinfo',['id'=>$v.id])}" class="btn btn-ces btn-xs">详情</a>
                                <a href="javascript:;" val="2"   nid="{$v.id}"  class="btn btn-success btn-xs js-save">通过</a>
                            {/if}
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>

                </table>
                <div class="vba-pagination">
                    <ul class="pagination">
                        {$data->render()}
                    </ul>

                </div>
            </div>
        </div>
    </div>


{/block}

{block name="script"}
<script>
    $(".js-save").click(function () {
        var id = $(this).attr('nid');
        var status =$(this).attr('val');

            $.ajax({
                type: 'POST',
                url:"{:url('operate/savestatus')}",
                data: {id: id, status: status},
                dataType: "json",
                success: function (data) {
                    if (data['msg'] == 1) {
                        alert('修改成功!');
                        window.location.reload();
                    }else if(data['msg'] == 2){
                        alert('您没有操作权限!');
                    } else{
                        alert('修改失败');
                        window.location.reload();
                    }
                }
            })
        //alert(status);
        /**/
    })
</script>
{/block}


