{extend name="index/index"}
{block name="content"}
<div class="page-header">
    <h5>编辑新闻</h5>
</div>
<div class="main">
    <div class="mixbox">
        <form id="editnews" class="form-horizontal" action="/admin/business/editdomain.html" method="post">

            <div class="form-group">
                <label class="col-md-2 control-label" for="">标题</label>
                <div class="col-md-4">
                    <input type="text" name="title" id="title"  class="form-control unline title" value="{$news['title']}" placeholder="请输入标题">
                    <input type="hidden" name="id"   class="form-control unline " value="{$news['id']}" placeholder="请输入标题">
                    <input type="hidden" name="view"   class="form-control unline " value="{$news['view']}" placeholder="请输入标题">

                    <label class="unline-label"></label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="">作者</label>
                <div class="col-md-4">
                    <div class="select">
                        <select name="author" id="author"  class="form-control unline">
                            {foreach $admmember as $val}
                            {if condition="($val['id'] == $news['author'])"}
                            <option value="{$val['id']}" selected="selected">{$val['username']}</option>
                            {else /}
                            <option value="{$val['id']}">{$val['username']}</option>
                            {/if}
                            {/foreach}
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="">分类</label>
                <div class="col-md-4">
                    <div class="select">
                        <select name="classify" id="classify" class="form-control unline">
                            {if condition="($news['classify'] == 1)"}
                            <option value="1" selected="selected">新闻动态</option>
                            <option value="2">产品动态</option>
                            {else /}
                            <option value="1">新闻动态</option>
                            <option value="2" selected="selected">产品动态</option>
                            {/if}
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="">文章</label>
                <div class="col-md-8">
                    <script id="container" name="content"  type="text/plain">{$news['content']}</script>
                    <label class="unline-label"></label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="">是否展示：</label>
                <div class="col-md-4">
                    <div class="radio inline">
                        <input class="vba-rd status" type="radio" name="status" id="rd31" value="1" checked>
                        <label class="vba-ridbox" for="rd31">是</label>
                        <input class="vba-rd status" type="radio" name="status" id="rd21" value="2">
                        <label class="vba-ridbox" for="rd21">否</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <button type="submit" class="btn btn-ces tijiao">提交</button>
                </div>
            </div>
        </form>

    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__ROOT__/static/admin/js/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__ROOT__/static/admin/js/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container');

    $(".tijiao").click(function () {
        if ($('#title').val() == '') {
            alert('请输入标题!');
            return false;
        }
        if ($('#content').val() == '') {
            alert('请输入文章内容!');
            return false;
        }

        var formData = new FormData($('#editnews')[0]);
        $.ajax({
            url: "{:url('operate/editnews')}",
            type: "post",
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log(data);
                if (data['msg'] == 1) {
                    alert('修改成功');
                    window.location.href = "{:url('operate/news')}";
                }else if(data['msg'] == 3) {
                    alert('请填写内容后再修改');
                }else
                {
                    alert('修改失败');
//                    window.history.back(-1);
                }
            },
        });

        return false;
    })



</script>
{/block}