{extend name="index/index"}
{block name="content"}
        <div class="page-header">
            <h5>消息中心</h5>
        </div>
        <div class="main">
            <div class="mixbox">
                <div class="table-responsive">

                    <div class="tool-box">
                        <a href="{:url('operate/addmessage')}" class="btn btn-ces"><i class="iconfont icon-plus r"></i>新增</a>
                       <!-- <a href="" class="btn btn-danger"><i class="iconfont icon-del	 r"></i>删除</a>-->
                    </div>

                    <hr />
                    <div class="tool-box">
                        <a href="{:url('operate/message')}" {if condition="$Request.session.temp eq NULL"}class="btn btn-ces btn-sm" {else} class="btn btn-default btn-sm" {/if} >全部</a>
                        <a href="{:url('operate/message',['temp'=>1])}" {if condition="$Request.session.temp eq 1"}class="btn btn-ces btn-sm" {else} class="btn btn-default btn-sm" {/if} >产品消息</a>
                        <a href="{:url('operate/message',['temp'=>2])}"  {if condition="$Request.session.temp eq 2"}class="btn btn-ces btn-sm" {else} class="btn btn-default btn-sm" {/if} >安全消息</a>
                        <a href="{:url('operate/message',['temp'=>3])}" {if condition="$Request.session.temp eq 3"}class="btn btn-ces btn-sm" {else} class="btn btn-default btn-sm" {/if} >服务消息</a>
                        <a href="{:url('operate/message',['temp'=>4])}" {if condition="$Request.session.temp eq 4"}class="btn btn-ces btn-sm" {else} class="btn btn-default btn-sm" {/if} >活动消息</a>
                        <a href="{:url('operate/message',['temp'=>5])}" {if condition="$Request.session.temp eq 5"}class="btn btn-ces btn-sm" {else} class="btn btn-default btn-sm" {/if} >历史消息</a>
                        <a href="{:url('operate/message',['temp'=>6])}" {if condition="$Request.session.temp eq 6"}class="btn btn-ces btn-sm" {else} class="btn btn-default btn-sm" {/if} >故障消息</a>
                        <p class="pull-right">每页显示<span class="ml10 mr10">{$count}</span>条数据</p>
                    </div>
                    <hr />
                    <table class="table tools">
                        <thead>
                        <tr class="sortmix">
                            <th class="lock">序号</th>
                            <th class="lock">标题</th>
                            <th class="lock">接收者</th>
                            <th class="lock">发布人</th>
                            <th class="lock">状态</th>
                            <th class="lock">类型</th>
                            <th class="lock">发布时间</th>
                            <th class="lock control">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $res as $val}
                        <tr>
                            <th scope="row">{$val['id']}</th>
                            <td><span>{$val['title']}</span></td>
                            <td>所有人</td>
                            <td>{$val['issuer']}</td>
                            <td>
                                {if condition="$val['is_read'] eq 0"}未读{else}已读{/if}
                            </td>
                            <td>
                                {if condition="$val['temp'] eq 1"} 产品消息
                                {elseif condition="$val['temp'] eq 2"/}安全消息
                                {elseif condition="$val['temp'] eq 3"/}服务消息
                                {elseif condition="$val['temp'] eq 4"/}活动消息
                                {elseif condition="$val['temp'] eq 5"/}历史消息
                                {else/}故障消息
                                {/if}
                            </td>
                            <td>{$val['creat_time']}</td>
                            <td class="control">
                                <a class="control btn btn-ces btn-xs" href="{:url('operate/messageinfo',['id'=>$val['id']])}">详情</a>
                                {if condition="$val.is_published eq 0"}
                                <a href="javascript:;" val="1"  nid="{$val.id}" class="btn btn-success btn-xs js-save">发布</a>
                                {/if}
                            </td>
                        </tr>
                        {/foreach}

                        </tbody>
                    </table>
                    <div class="vba-pagination">
                        <ul class="pagination">
                            {$res->render()}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
{/block}
{block name="script"}
<script>
    $(".js-save").click(function () {
        var id = $(this).attr('nid');
        var status =$(this).attr('val');

        $.ajax({
            type: 'POST',
            url:"{:url('operate/savemestatus')}",
            data: {id: id, status: status},
            dataType: "json",
            success: function (data) {
                if (data['msg'] == 1) {
                    alert('修改成功!');
                    window.location.reload();
                }else if(data['msg'] == 2){
                    alert('您没有操作权限!');
                } else{
                    alert('修改失败');
                    window.location.reload();
                }
            }
        })
        //alert(status);
        /**/
    })
</script>
{/block}