{extend name="index/index"}
{block name="content"}
    <div class="page-header">
        <h5>消息详情</h5>
    </div>
    <div class="main">
        <div class="mixbox">
            <div class="form-horizontal worderinfo clearfix">
                <label class="col-md-1 control-label">序号:</label>
                <div class="col-md-5">
                    <p class="form-control-static info">{$res.id}</p>
                </div>
                <label class="col-md-1 control-label">状态:</label>
                <div class="col-md-5">
                    <p class="form-control-static info">
                        {if condition="$res['is_read'] eq 0"}未读{else}已读{/if}
                    </p>
                </div>
                <label class="col-md-1 control-label">标题:</label>
                <div class="col-md-5">
                    <p class="form-control-static info">{$res.title}</p>
                </div>
                <label class="col-md-1 control-label">接收者:</label>
                <div class="col-md-5">
                    <p class="form-control-static info">所有人</p>
                </div>
                <label class="col-md-1 control-label">发布者:</label>
                <div class="col-md-5">
                    <p class="form-control-static info">{$res.issuer}</p>
                </div>
                <label class="col-md-1 control-label">发布状态:</label>
                <div class="col-md-5">
                    <p class="form-control-static info">{if condition="$res['is_published'] eq 0"}未发布{else}已发布{/if}</p>
                </div>
                <label class="col-md-1 control-label">是否重要:</label>
                <div class="col-md-5">
                    <p class="form-control-static info">{if condition="$res['important'] eq 1"}是{else}否{/if}</p>
                </div>
                <label class="col-md-1 control-label">类型:</label>
                <div class="col-md-5">
                    <p class="form-control-static info">
                        {if condition="$res['temp'] eq 1"} 产品消息
                        {elseif condition="$res['temp'] eq 2"/}安全消息
                        {elseif condition="$res['temp'] eq 3"/}服务消息
                        {elseif condition="$res['temp'] eq 4"/}活动消息
                        {elseif condition="$res['temp'] eq 5"/}历史消息
                        {else/}故障消息
                        {/if}</p>
                </div>
                <label class="col-md-1 control-label">url:</label>
                <div class="col-md-5">
                    <p class="form-control-static info">{$res.url}</p>
                </div>
                <label class="col-md-1 control-label">发布时间:</label>
                <div class="col-md-5">
                    <p class="form-control-static info">{$res.creat_time}</p>
                </div>
                <label class="col-md-1 control-label">发布时间:</label>
                <div class="col-md-5">
                    <p class="form-control-static info">{$res.content}</p>
                </div>
            </div>
        </div>
    </div>
{/block}
{block name="script"}
{/block}