{extend name="index/index"}
{block name="content"}
		<div class="page-header">
			<ul class="nav nav-tabs line">
				<li class="active">
					<a href="#nav1" data-toggle="tab">概览</a>
				</li>
				<li>
					<a href="{:url('operate/userinfo',['id'=>$userid])}">客户资料</a>
				</li>
				<li>
					<a href="#nav3">联系方式</a>
				</li>
				<li>
					<a href="#nav3">产品服务</a>
				</li>
				<li>
					<a href="#nav3">域名</a>
				</li>
				<li>
					<a href="{:url('operate/transaction',['id'=>$userid])}">交易记录</a>
				</li>
				<li>
					<a href="#nav3">邮件</a>
				</li>
				<li>
					<a href="{:url('operate/remarks',['id'=>$userid])}">备注</a>
				</li>
				<li>
					<a href="#nav3">操作日志</a>
				</li>
			</ul>
		</div>
		<div class="main">
			<div class="mixbox">
				<div class="row">
					<div class="col-md-3">
						<div class="panel panel-default s-tab">
							<div class="panel-heading text-center">客户信息</div>
							<table class="table table-striped">
								<tbody>
								<tr>
									<td>名字</td>
									<td>{$userInfo.username}</td>
								</tr>
								<tr>
									<td>公司名</td>
									<td>XX</td>
								</tr>
								<tr>
									<td>邮件地址</td>
									<td>{$userInfo.email}</td>
								</tr>
								<tr>
									<td>地址</td>
									<td>{$userInfo.address}</td>
								</tr>
								<tr>
									<td>城市</td>
									<td>shanghai</td>
								</tr>
								<tr>
									<td>省份</td>
									<td>Alaska</td>
								</tr>
								<tr>
									<td>邮编</td>
									<td>{$userInfo.postcode}</td>
								</tr>
								<tr>
									<td>国家</td>
									<td>PRC</td>
								</tr>
								<tr>
									<td>电话号码</td>
									<td>{$userInfo.phone}</td>
								</tr>
								</tbody>
							</table>
							<div class="tools">
								<p>
									<a href="">重设并发送密码</a>
								</p>
								<p>
									<a href="">以该客户登录</a>
								</p>
							</div>
						</div>
						<div class="panel panel-default s-tab">
							<div class="panel-heading text-center">联系人/子账户</div>
							<table class="table table-striped">
								<tbody>
								<tr>
									<td class="text-center">未设置附加联系人</td>
								</tr>
								</tbody>
							</table>
							<div class="tools">
								<p>
									<a href="">添加联系人</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="panel panel-default s-tab">
							<div class="panel-heading text-center">财务/账单</div>
							<table class="table table-striped">
								<tbody>
								<tr>
									<td>已支付</td>
									<td>{$finance1}</td>
								</tr>
								<!--<tr>-->
									<!--<td>已草稿</td>-->
									<!--<td>0 ($0.00 USD)</td>-->
								<!--</tr>-->
								<tr>
									<td>未支付</td>
									<td>{$finance2}</td>
								</tr>
								<tr>
									<td>被取消</td>
									<td>{$finance3}</td>
								</tr>
								<tr>
									<td>已退款</td>
									<td>{$finance4}</td>
								</tr>
								<!--<tr>
									<td>已收藏</td>
									<td>0 ($0.00 USD)</td>
								</tr>-->
								<tr>
									<td>收入</td>
									<td>{$finance5}</td>
								</tr>
								<tr>
									<td>账户余额</td>
									<td>{$ye}</td>
								</tr>
								</tbody>
							</table>
							<div class="tools">
								<p>
									<a href="{:url('finance/billinglist')}">添加账单</a>
								</p>
								<p>
									<a href="{:url('finance/billinglist')}">创建充值账单</a>
								</p>
								<p>
									<a href="">生成续费账单</a>
								</p>
								<p>
									<a href="{:url('finance/billinglist')}">添加收费项目</a>
								</p>
								<p>
									<a href="">余额管理</a>
								</p>
								<p>
									<a href="">添加新报价单</a>
								</p>
							</div>
						</div>
						<div class="panel panel-default s-tab">
							<div class="panel-heading text-center">其他信息</div>
							<table class="table table-striped">
								<tbody>
								<tr>
									<td>状态</td>
									<td>已激活</td>
								</tr>
								<tr>
									<td>客户组</td>
									<td>无</td>
								</tr>
								<tr>
									<td>开通时间</td>
									<td>2017/07/05</td>
								</tr>
								<tr>
									<td>注册时长</td>
									<td>1小时</td>
								</tr>
								<tr>
									<td>最后登录</td>
									<td>在线</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-md-3">
						<div class="panel panel-default s-tab">
							<div class="panel-heading text-center">产品/服务</div>
							<table class="table table-striped">
								<tbody>
								<tr>
									<td>虚拟主机</td>
									<td>0 (0 Total)</td>
								</tr>
								<tr>
									<td>分销主机</td>
									<td>0 (0 Total)</td>
								</tr>
								<tr>
									<td>VPS/独服</td>
									<td>0 (0 Total)</td>
								</tr>
								<tr>
									<td>产品/服务</td>
									<td>1 (1 Total)</td>
								</tr>
								<tr>
									<td>域名</td>
									<td>0 (0 Total)</td>
								</tr>
								<tr>
									<td>接受报价</td>
									<td>0 (0 Total)</td>
								</tr>
								<tr>
									<td>支持工单</td>
									<td>0 (0 Total)</td>
								</tr>
								<tr>
									<td>加盟注册</td>
									<td>0</td>
								</tr>
								</tbody>
							</table>
							<div class="tools">
								<p>
									<a href="">查看订单</a>
								</p>
								<p>
									<a href="">添加新订单</a>
								</p>
							</div>
						</div>
						<div class="panel panel-default s-tab">
							<div class="panel-heading text-center">附件</div>
							<table class="table table-striped">
								<tbody>
								<tr>
									<td class="text-center">未上传附件</td>
								</tr>
								</tbody>
							</table>
							<div class="tools">
								<p>
									<a onclick="$('#addfileform').slideToggle()">添加文件</a>
								</p>
								<div id="addfileform" class="top-margin-5" style="display: none;">
									<form class="form-inline" method="post" action="clientssummary.php?userid=1&amp;action=uploadfile" enctype="multipart/form-data">
										<input type="hidden" name="token" value="6c89153b7f0020440ca6df10a6709b79c87b6d63">
										<table class="clientssummarystats" cellspacing="0" cellpadding="2">
											<tbody>
											<tr>
												<td width="60">文件标题</td>
												<td class="fieldarea"><input type="text" name="title" style="width:90%" class="form-control"></td>
											</tr>
											<tr>
												<td>文件名</td>
												<td class="fieldarea"><input type="file" name="uploadfile" style="width:90%" class="form-control"></td>
											</tr>
											<tr>
												<td></td>
												<td class="fieldarea">
													<div class="checkbox inline">
														<input class="vba-ck" type="checkbox" name="ck1" id="checkbox31" value="">
														<label class="vba-chekbox" for="checkbox31">仅管理员可见</label>
													</div><input type="submit" value="提交" class="btn btn-default btn-xs ml15">
												</td>
											</tr>
											</tbody>
										</table>
									</form>
								</div>
							</div>
						</div>
						<div class="panel panel-default s-tab">
							<div class="panel-heading text-center">最近邮件</div>
							<table class="table table-striped text-center">
								<tbody>
								<tr>
									<td>2017/07/01 09:00 -
										<a href="">First Invoice Overdue Notice</a>
									</td>
								</tr>
								<tr>
									<td>2017/07/01 09:00 -
										<a href="">First Invoice Overdue NoticeNoticeNoticeNotice</a>
									</td>
								</tr>
								<tr>
									<td>2017/07/01 09:00 -
										<a href="">First Invoice</a>
									</td>
								</tr>
								<tr>
									<td>2017/07/01 09:00 -
										<a href="">First Invoice Overdue Notice</a>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-md-3">
						<div class="panel panel-default s-tab">
							<div class="panel-heading text-center">其他操作</div>
							<div class="tools">
								<p>
									<a href="">查看账户状态</a>
								</p>
								<p>
									<a href="">新建工单</a>
								</p>
								<p>
									<a href="">查看工单</a>
								</p>
								<p>
									<a href="">激活推广联盟</a>
								</p>
								<p>
									<a href="">合并客户账户</a>
								</p>
								<p>
									<a href="">关闭客户账户</a>
								</p>
								<p>
									<a href="" class="text-danger">删除客户账户</a>
								</p>
							</div>
						</div>
						<div class="panel panel-default s-tab">
							<div class="panel-heading text-center">发送邮件</div>
							<div class="row">
								<div class="col-md-8">
									<select class="form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<div class="col-md-4">
									<a href="" class="btn btn-default">执行</a>
								</div>
							</div>
						</div>
						<div class="panel panel-default s-tab">
							<div class="panel-heading text-center">管理员备注</div>
							<div class="text-center">
								<textarea name="" rows="7" cols="" class="form-control mb10"></textarea>
								<a href="" class="btn btn-default">执行</a>
							</div>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<div class="panel panel-default">
						<div class="panel-heading text-center">
							产品/服务
						</div>
						<table class="table tools">
							<thead>
							<tr class="sortmix">
								<th class="lock">
									<input class="vba-ck" type="checkbox" name="ckf" id="checkboxf" value="">
									<label class="vba-chekbox" for="checkboxf"></label>
								</th>
								<th class="lock">编号 </th>
								<th><button type="button" class="btn">产品/服务</button></th>
								<th><button type="button" class="btn">金额</button></th>
								<th><button type="button" class="btn">付款周期</button></th>
								<th><button type="button" class="btn">开通时间</button></th>
								<th><button type="button" class="btn">到期时间</button></th>
								<th><button type="button" class="btn">状态</button></th>
								<th class="lock control">操作</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>
									<input class="vba-ck" type="checkbox" name="ckf" id="checkboxf" value="">
									<label class="vba-chekbox" for="checkboxf"></label>
								</td>
								<th scope="row">1</th>
								<td>.com域名 - (无域名)</td>
								<td>$1.00 USD</td>
								<td>季付</td>
								<td>2017/07/05</td>
								<td>2027/07/05</td>
								<td><span class="round text-success">已激活</span></td>
								<td class="control">
									<a class="control btn btn-ces btn-xs" href="">查看</a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="table-responsive">
					<div class="panel panel-default">
						<div class="panel-heading text-center">
							附加套餐
						</div>
						<table class="table tools">
							<thead>
							<tr class="sortmix">
								<th class="lock">
									<input class="vba-ck" type="checkbox" name="ckf" id="checkboxf" value="">
									<label class="vba-chekbox" for="checkboxf"></label>
								</th>
								<th class="lock">ID</th>
								<th><button type="button" class="btn">名称</button></th>
								<th><button type="button" class="btn">金额</button></th>
								<th><button type="button" class="btn">付款周期</button></th>
								<th><button type="button" class="btn">开通时间</button></th>
								<th><button type="button" class="btn">到期时间</button></th>
								<th><button type="button" class="btn">状态</button></th>
								<th class="lock control">操作</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>没有找到相关记录</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="table-responsive">
					<div class="panel panel-default">
						<div class="panel-heading text-center">
							域名
						</div>
						<table class="table tools">
							<thead>
							<tr class="sortmix">
								<th class="lock">
									<input class="vba-ck" type="checkbox" name="ckf" id="checkboxf" value="">
									<label class="vba-chekbox" for="checkboxf"></label>
								</th>
								<th class="lock">编号</th>
								<th><button type="button" class="btn">域名</button></th>
								<th><button type="button" class="btn">注册人</button></th>
								<th><button type="button" class="btn">开通日期</button></th>
								<th><button type="button" class="btn">到期时间</button></th>
								<th><button type="button" class="btn">失效日期</button></th>
								<th><button type="button" class="btn">状态</button></th>
								<th class="lock control">操作</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>没有找到相关记录</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="table-responsive">
					<div class="panel panel-default">
						<div class="panel-heading text-center">
							当前行情
						</div>
						<table class="table tools">
							<thead>
							<tr class="sortmix">
								<th class="lock">编号</th>
								<th><button type="button" class="btn">主题</button></th>
								<th><button type="button" class="btn">主题</button></th>
								<th><button type="button" class="btn">时间</button></th>
								<th><button type="button" class="btn">总计</button></th>
								<th><button type="button" class="btn">有效期至</button></th>
								<th><button type="button" class="btn">状态</button></th>
								<th class="lock control">操作</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>没有找到相关记录</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tool-box mb10">
					<span>选中的项目：</span>
					<a class="btn btn-default"><i class="iconfont icon-refresh mr5"></i>选中项目生成订单</a>
					<a class="btn btn-danger"><i class="iconfont icon-del mr5"></i>删除选中项目单</a>
				</div>
				<div class="tool-box form-inline">
					<div class="pull-left">
						<span>　批量操作：</span>
						<select name="status" class="form-control select-inline">
							<option value="">- 设置状态 -</option>
							<option value="Pending">待审核</option>
							<option value="Active">已激活</option>
							<option value="Suspended">已暂停</option>
							<option value="Terminated">被删除</option>
							<option value="Cancelled">被取消</option>
							<option value="Fraud">有欺诈</option>
						</select>
						<select name="paymentmethod" class="form-control select-inline">
							<option value="">- 设置付款方式 -</option>
							<option value="alipay">Alipay 支付宝全能接口 v1.0</option>
						</select>
						<span>
                        <label class="checkbox-inline">
                        	<div class="checkbox inline">
								<input class="vba-ck" type="checkbox" name="ck1" id="checkbox21" value="">
								<label class="vba-chekbox" for="checkbox21">不要暂停直至</label>
							</div>
                            <input type="text" name="overidesuspenduntil" class="datetime input-inline form-control hasDatepicker" id="dp1499310316796"></label>
                    </span>
					</div>
					<div class="pull-right">
						<button id="massUpdateItems" type="button" class="btn btn-link" onclick="$('#bulkUpdateAdvancedOptions').slideToggle()">
							显示高级选项
						</button>
						<button type="submit" id="massupdate" name="massupdate" value="1" class="btn btn-ces">
							应用
						</button>
					</div>
				</div>
			</div>
			<div id="bulkUpdateAdvancedOptions" class="advanced-options" style="display: none;">
				<table class="form-inline" width="100%" border="0" cellspacing="2" cellpadding="3">
					<tbody>
					<tr>
						<td width="15%" class="fieldlabel" nowrap="">
							首付金额
						</td>
						<td class="fieldarea" width="35%">
							<input type="text" name="firstpaymentamount" class="form-control input-200">
						</td>
						<td width="15%" class="fieldlabel" nowrap="">
							续费金额
						</td>
						<td class="fieldarea">
							<input type="text" name="recurringamount" class="form-control input-200">
						</td>
					</tr>
					<tr>
						<td class="fieldlabel" width="15%">
							到期时间
						</td>
						<td class="fieldarea">
							<input type="text" id="nextDueDate" name="nextduedate" class="datetime form-control input-inline hasDatepicker">
							<div class="checkbox inline">
								<input class="vba-ck" type="checkbox" name="ck1" id="checkbox1" value="">
								<label class="vba-chekbox" for="checkbox1">创建按比例计算的账单</label>
							</div>
						</td>
						<td width="15%" class="fieldlabel">
							付款周期
						</td>
						<td class="fieldarea">
							<select name="billingcycle" class="form-control input-200">
								<option value="">- 未更改 -</option>
								<option value="Free Account">免费</option>
								<option value="One Time">一次性支付</option>
								<option value="Monthly">月付</option>
								<option value="Quarterly">季付</option>
								<option value="Semi-Annually">半年</option>
								<option value="Annually">年付</option>
								<option value="Biennially">两年</option>
								<option value="Triennially">三年</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="fieldlabel" width="15%">
							模块命令
						</td>
						<td class="fieldarea" colspan="3">
							<input type="submit" name="masscreate" value="开通/创建" class="button btn btn-default">
							<input type="submit" name="masssuspend" value="暂停" class="button btn btn-default">
							<input type="submit" name="massunsuspend" value="解除暂停" class="button btn btn-default">
							<input type="submit" name="massterminate" value="删除" class="button btn btn-default">
							<input type="submit" name="masschangepackage" value="更改套餐" class="button btn btn-default">
							<input type="submit" name="masschangepw" value="更改密码" class="button btn btn-default">
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

{/block}
{block name="script"}

<script type="text/javascript">
	$(document).ready(function() {
		$('.datetime').val(moment().format('YYYY/MM/DD'));
		$('.datetime').daterangepicker({
			singleDatePicker: true,
			opens: 'left',
			showButtonPanel: false,
			buttonClasses: 'btn-sm btn btn-default',
			applyClass: 'btn-sm btn btn-ces',
			cancelClass: 'btn-sm btn btn-default',
			locale: {
				applyLabel: '确定',
				cancelLabel: '取消',
				fromLabel: '起始时间',
				toLabel: '结束时间',
				customRangeLabel: '自定义',
				daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
				monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
					'七月', '八月', '九月', '十月', '十一月', '十二月'
				],
				firstDay: 1
			},
			drops: 'up'
		});
		$('.datetime').on('apply.daterangepicker', function(ev, picker) {

			console.log(picker.startDate.format('YYYY/MM/DD'));

			console.log(picker.endDate.format('YYYY/MM/DD'));

		});
	});
</script>
{/block}