{extend name="index/index"}
{block name="content"}
				<div class="page-header">
					<ul class="nav nav-tabs line">
						<li>
							<a href="{:url('operate/platform',['id'=>$userid])}">概览</a>
						</li>
						<li>
							<a href="{:url('operate/userinfo',['id'=>$userid])}">客户资料</a>
						</li>
						<li>
							<a href="#nav3">联系方式</a>
						</li>
						<li>
							<a href="#nav3">产品服务</a>
						</li>
						<li>
							<a href="#nav3">域名</a>
						</li>
						<li>
							<a href="{:url('operate/transaction',['id'=>$userid])}">交易记录</a>
						</li>
						<li>
							<a href="#nav3">邮件</a>
						</li>
						<li  class="active">
							<a href="{:url('operate/remarks',['id'=>$userid])}">备注</a>
						</li>
						<li>
							<a href="#nav3">操作日志</a>
						</li>
					</ul>
				</div>
				<div class="main">
					<div class="mixbox">
						<div class="table-responsive">
							<div class="tool-box">
								<a href="{:url('operate/addremarks',['id'=>$userid])}" class="btn btn-ces btn-add"><i class="iconfont icon-plus r"></i>添加</a>
							</div>
							<table class="table tools">
								<thead>
									<tr class="sortmix">
										<th class="lock">创建时间</th>
										<th class="lock">备注信息</th>
										<th class="lock">备注者</th>
										<th class="lock">最后修改</th>
										<th class="lock" width="">操作</th>
									</tr>
								</thead>
								<tbody>
									{foreach $data as $val}
									<tr>
										<td scope="row" width="150">{$val['create_time']}</td>
										<td>
											<a class="btn btn-ces btn-xs" href="#{$val['id']}" data-toggle="modal">查看</a>
										</td>
										<th>{$val['admid']}</th>
										<td>{$val['update_time']}</td>
										<td>
											<!--<a href="" class="btn btn-success btn-xs">置顶</a>-->
											<a href="" class="btn btn-ces btn-xs">编辑</a>
											<a href="javascript:;" nid="{$val['id']}" class="btn btn-danger btn-xs js-del">删除</a>
										</td>
									</tr>
									<div class="modal fade" id="{$val['id']}" role="dialog" aria-labelledby="DeleteLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div id="modalDeleteHeading" class="modal-header panel-heading">
													<button type="button" class="close" data-dismiss="modal">
														<span aria-hidden="true">×</span>
														<span class="sr-only">关闭</span>
													</button>
													<h4 class="modal-title" id="DeleteLabel">查看备注信息</h4>
												</div>
												<div id="modalDeleteBody" class="modal-body">
													<p>{$val['remarks']}</p>
												</div>
												<div id="modalDeleteFooter" class="modal-footer">
													<button type="button" id="" class="btn btn-default" data-dismiss="modal">关闭</button>
												</div>
											</div>
										</div>
									</div>
									{/foreach}
								</tbody>
							</table>
							<div class="vba-pagination">
								<ul class="pagination pull-left">
									{$data->render()}
								</ul>
							</div>
						</div>
					</div>
				</div>
	{/block}
{block name="script"}
<script>
	$('.js-del').click(function () {
		var thiss = $(this);
		var id = $(this).attr('nid');
		$.ajax({
			type: 'POST',
			url: "{:url('operate/remarks_del')}",
			data: {id: id},
			dataType: 'json',
			success: function (data) {
				if (data['msg'] == 1) {
					alert('删除成功');
					thiss.parent().parent().remove();
				}else if(data['msg'] == 2){
					alert('您没有操作权限!');
				}else if(data['msg'] == 3){
					alert('系统错误!');
				}else{
					alert("删除失败");
				}
			}
		})
	});
</script>
{/block}