h1,
h2,
h3,
h4,
h5 {
  color: #444444;
}
h1.un,
h2.un,
h3.un,
h4.un,
h5.un {
  color: #999999;
}
.en {
  font-family: robote;
}
.cn {
  font-family: webfont;
}
.blod {
  font-weight: bolder;
}
.money:before {
  content: "￥";
}
.baifen:after {
  content: "%";
}
.page-header {
  position: relative;
  margin: 40px 0 50px;
}
.page-header h1,
.page-header h2,
.page-header h3,
.page-header h4,
.page-header h5 {
  position: relative;
}
.page-header small {
  margin-left: 10px;
}
.page-header.un {
  border: none;
}
.page-header.un:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30px;
  height: 1px;
  background-color: #ea5504;
}
.page-header .nav {
  position: absolute;
  right: 0;
  bottom: 15px;
}
.page-header .nav li a {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  border-radius: 0;
  padding: 5px 30px;
  color: #999999;
  border-bottom: 1px solid #d4d2d2;
}
.page-header .nav li a.more {
  padding: 0;
  color: #ffffff;
}
.page-header .nav li.active a,
.page-header .nav li:hover a {
  background-color: #ea5504;
  color: #ffffff;
  border-color: #ea5504;
}
.page-header .nav > li + li {
  margin-left: 10px;
}
.btn {
  border-radius: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}
.btn .label {
  border-radius: 20px;
  margin-left: 5px;
}
.btn .label.label-top {
  position: absolute;
  top: -10px;
  right: -10px;
}
.btn.btn-danger .label {
  border: 1px solid #ffffff;
}
.btn-unbg {
  background: transparent !important;
  border: none;
}
.btn-unbg:hover {
  background: #f8f8f8 !important;
}
.btn-primary,
.bg-primary,
.label-primary {
  background: #2980b9;
}
.btn-success,
.bg-success,
.label-success {
  background: #2ecc71;
}
.btn-info,
.bg-info,
.label-info {
  background: #00b7d6;
}
.btn-warning,
.bg-warning,
.label-warning {
  background: #f1c40f;
}
.btn-danger,
.bg-danger,
.label-danger {
  background: #e74c3c;
}
.btn-ces,
.bg-ces,
.label-ces {
  background: #d34d04;
  color: #ffffff;
}
.btn-ces:hover,
.bg-ces:hover,
.label-ces:hover,
.btn-ces:focus,
.bg-ces:focus,
.label-ces:focus {
  background: #ea5504;
  color: #ffffff;
}
.text-white {
  color: #ffffff;
}
.text-muted,
.btn-unbg.btn-default {
  color: #444444;
}
.text-primary,
.btn-unbg.btn-primary,
.btn-border.btn-primary {
  color: #2980b9;
}
.text-success,
.btn-unbg.btn-success,
.btn-border.btn-success {
  color: #2ecc71;
}
.text-info,
.btn-unbg.btn-info,
.btn-border.btn-info {
  color: #00b7d6;
}
.text-warning,
.btn-unbg.btn-warning,
.btn-border.btn-warning {
  color: #f1c40f;
}
.text-danger,
.btn-unbg.btn-danger,
.btn-border.btn-danger {
  color: #e74c3c;
}
.btn-border {
  background: transparent;
}
.btn-border:hover {
  color: #ffffff;
}
a.more {
  position: relative;
  width: 150px;
  height: 31px;
  text-decoration: none;
  color: #ffffff;
  display: block;
  line-height: 31px;
  padding: 0;
  background-color: #444444;
  border-color: #444444;
  text-align: center;
}
a.more .iconfont {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  margin-left: -12px;
  color: #ffffff;
  opacity: 0;
}
a.more:hover {
  background-color: #ea5504;
  border-color: #ea5504;
}
a.more:hover .iconfont {
  margin-left: 18px;
  opacity: 1;
}
a.more.more-lg {
  width: 200px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
}
.navbar.unbg {
  background-color: #ffffff;
  border: none;
}
.navbar .navbar-header {
  margin: 5px 15px;
  margin-right: 0;
}
.navbar .navbar-right {
  margin-right: 15px;
}
.navbar .nav {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .nav li.active a {
  background-color: #ea5504;
  color: #ffffff;
}
.navbar .nav li.active a:hover {
  background-color: #ea5504;
  color: #ffffff;
}
.navbar .nav li a {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  padding: 10px 30px;
}
.navbar .nav li a:hover {
  background-color: #ea5504;
  color: #ffffff;
}
.navbar .nav.navbar-nav > li + li {
  margin-left: 3px;
}
a.thumbnail {
  position: relative;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0;
  border: none;
}
a.thumbnail.product {
  background-color: #ffffff;
  border: none;
  margin-bottom: 0;
}
a.thumbnail.product img {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.nav-pills.list {
  position: relative;
  margin-bottom: 50px;
}
.nav-pills.list li a {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  border-radius: 0;
  padding: 5px 30px;
  color: #999999;
  border: 1px solid #d4d2d2;
}
.nav-pills.list li a:hover {
  background-color: #ea5504;
  color: #ffffff;
  border-color: #ea5504;
}
.nav-pills.list li.active a {
  background-color: #ea5504;
  color: #ffffff;
  border-color: #ea5504;
}
.nav-pills.list > li + li {
  margin-left: 10px;
}
.nav-pills.list-child {
  margin-top: -25px;
}
.nav-pills.list-child li a {
  border-color: transparent;
}
.nav-pills.list-child li a:hover {
  background: #444444;
  border-color: #444444;
}
.nav-pills.list-child li.active a {
  background: #444444;
  border-color: #444444;
}
.pagination.mp {
  margin-bottom: 0;
}
.pagination.line li a {
  background: transparent;
  color: #999999;
  border-color: transparent;
  border-bottom-color: #929292;
  margin: 0 5px;
}
.pagination.line li a:hover {
  background: none;
  border-bottom-color: #ea5504;
}
.pagination.line li a.prev,
.pagination.line li a.next {
  border-radius: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  border-color: transparent;
}
.pagination.line li a.prev:hover,
.pagination.line li a.next:hover {
  color: #ffffff;
  background-color: #ea5504;
}
.pagination.line li.active a {
  color: #ea5504;
  border-bottom-color: #ea5504;
}
.pagination.line li.active a:hover {
  border-color: transparent;
  background: none;
  border-bottom-color: #ea5504;
}
.table > thead > tr > th {
  font-weight: bold;
  font-weight: bolder;
  border-bottom: 1px solid #e1e1e1;
}
.table:only-of-type {
  margin-bottom: 0;
  border-bottom: 1px solid #e1e1e1;
}
.table a:hover {
  text-decoration: none;
}
.table tbody tr th:first-child,
.table tfoot tr th:first-child,
.table thead tr th:first-child,
.table tbody tr th td:first-child,
.table tfoot tr th td:first-child,
.table thead tr th td:first-child {
  text-align: center;
}
.table tbody tr td,
.table tfoot tr td,
.table thead tr td,
.table tbody tr th,
.table tfoot tr th,
.table thead tr th {
  padding: 15px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.table thead {
  font-weight: bold;
  font-weight: bolder;
  border-bottom: 1px solid #ddd;
}
.table-striped.table thead th {
  border: none;
}
.table thead tr.sortmix th:not(.lock) {
  padding: 0;
}
.table thead tr.sortmix th:not(.lock) .btn {
  line-height: 20px;
  width: 100%;
  text-align: left;
  border: none;
  background: transparent;
  padding: 15px;
  font-weight: bold;
  font-weight: bolder;
  font-size: 16px;
  position: relative;
  display: inline-block;
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
.table thead tr.sortmix th:not(.lock) .btn:hover {
  background-color: #ffffff;
}
.table thead tr.sortmix th:not(.lock) .btn.active {
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
}
.table thead tr.sortmix th:not(.lock) .btn:active,
.table thead tr.sortmix th:not(.lock) .btn:focus {
  outline: none;
}
.table thead tr.sortmix th:not(.lock) .btn:before {
  content: "\e626";
  position: absolute;
  right: 5px;
  color: #929292;
}
.table thead tr.sortmix th:not(.lock) .btn.unicon:before {
  content: "";
}
.table thead tr.sortmix th:not(.lock):first-child .btn {
  padding-left: 30px;
}
.table tbody tr,
.table tbody th,
.table tbody td {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.table tbody th.control,
.table tbody td.control {
  padding: 0;
  vertical-align: middle;
  text-align: center;
}
.table tr.filter td,
.table tr.edit td,
.table tr.filter th,
.table tr.edit th {
  padding: 8px 15px;
  vertical-align: middle;
}
.table tr.filter .form-control,
.table tr.edit .form-control {
  height: auto;
}
.table tr.filter .form-control.line,
.table tr.edit .form-control.line {
  padding-right: 24px;
}
.table tr.filter .form-control.line + .line-label,
.table tr.edit .form-control.line + .line-label {
  margin-bottom: 0;
}
.table tr.edit {
  background-color: #fcf8e3;
}
.table tr.edit td .form-control,
.table tr.edit th .form-control {
  padding-left: 0;
}
.table tr.filter .form-control {
  font-weight: normal;
}
.table tr.filter .form-control.line + .line-label:before {
  font-size: 16px;
  position: relative;
  display: inline-block;
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  content: "\e662";
  color: #929292;
  position: absolute;
  top: -15px;
  right: 12px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.table tr.filter .form-control:focus + .line-label:before {
  content: "";
}
.table .form-group {
  margin-bottom: 0;
}
.table-striped.table.ces > tbody > tr:nth-of-type(odd) {
  background-color: #ffff12;
}
.table-hover.table.ces > tbody > tr:hover {
  background-color: #ffff12;
}
.table.tools {
  min-width: 1000px;
}
.table:not(.table-bordered) {
  border-bottom: 1px solid #e1e1e1;
}
.table + .table {
  margin-top: 30px;
}
.btn {
  border-radius: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}
.btn .label {
  border-radius: 20px;
  margin-left: 5px;
}
.btn .label.label-top {
  position: absolute;
  top: -10px;
  right: -10px;
}
.btn.btn-danger .label {
  border: 1px solid #ffffff;
}
.btn-xs {
  padding-left: 5px;
  padding-right: 5px;
}
.btn-round {
  border-radius: 80px;
}
.btn:active,
.btn:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
}
.btn-unbg {
  background: transparent !important;
  border: none;
}
.btn-unbg:hover {
  background: #f8f8f8 !important;
}
.btn-ces {
  background-color: #ea5504;
  color: #ffffff;
}
.btn-ces:focus,
.btn-ces:hover {
  background-color: #ff6605;
  color: #ffffff !important;
}
.btn-default.active,
.btn-default.active:hover {
  background-color: #ea5504;
  color: #ffffff;
}
.btn-default.disabled,
.btn-default.disabled:hover {
  background: transparent;
  color: inherit;
}
.bg-black,
.btn-black,
.label-black {
  background-color: #000000;
  color: #ffffff;
}
.bg-black:hover,
.btn-black:hover,
.label-black:hover {
  color: #ffffff;
}
.bg-primary,
.btn-primary,
.label-primary {
  background-color: #2980b9;
}
.bg-success,
.btn-success,
.label-success {
  background-color: #2ecc71;
}
.bg-info,
.btn-info,
.label-info {
  background-color: #00b7d6;
}
.bg-warning,
.btn-warning,
.label-warning {
  background-color: #f1c40f;
}
.bg-danger,
.btn-danger,
.label-danger {
  background-color: #e74c3c;
}
.label-white,
.text-white {
  color: #ffffff !important;
}
.btn-unbg.btn-default,
.text-muted {
  color: #444444;
}
.btn-border.btn-primary,
.btn-unbg.btn-primary,
.text-primary {
  color: #2980b9;
}
.btn-border.btn-success,
.btn-unbg.btn-success,
.text-success {
  color: #2ecc71;
}
.btn-border.btn-info,
.btn-unbg.btn-info,
.text-info {
  color: #00b7d6;
}
.btn-border.btn-warning,
.btn-unbg.btn-warning,
.text-warning {
  color: #f1c40f;
}
.btn-border.btn-danger,
.btn-unbg.btn-danger,
.text-danger {
  color: #e74c3c;
}
.btn-border.btn-white,
.btn-unbg.btn-white,
.text-white {
  color: #ffffff;
}
.btn-border.btn-white {
  border: 1px solid #e1e1e1;
  border-color: #ffffff;
}
.btn-border.btn-white:hover {
  background-color: #ffffff;
  color: inherit;
}
.btn-border.btn-ces,
.text-ces {
  color: #ea5504;
}
.btn-border.btn-ces {
  border-color: #ea5504;
}
.btn-border {
  background: transparent;
}
.btn-border:hover {
  color: #ffffff;
}
a.more {
  position: relative;
  width: 150px;
  height: 31px;
  text-decoration: none;
  color: #ffffff;
  display: block;
  line-height: 31px;
  padding: 0;
  background-color: #444444;
  border-color: #444444;
  text-align: center;
}
a.more .iconfont {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  margin-left: -12px;
  color: #ffffff;
  opacity: 0;
}
a.more:hover {
  background-color: #ea5504;
  border-color: #ea5504;
}
a.more:hover .iconfont {
  margin-left: 18px;
  opacity: 1;
}
a.more.more-lg {
  width: 200px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
}
.btn-lg {
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.close-btn {
  text-align: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  background-color: #ea5504;
}
.close-btn .iconfont {
  color: #ffffff;
  opacity: 0.7;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  font-weight: bold;
  font-weight: bolder;
  display: block;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.close-btn:hover {
  text-decoration: none;
}
.close-btn:hover .iconfont {
  opacity: 1;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.btn.icon .iconfont {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  opacity: 0;
  margin-left: -15px;
}
.btn.icon:hover .iconfont {
  opacity: 1;
  margin-left: 15px;
}
input.form-control {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
input.form-control.pw:focus::-webkit-input-placeholder {
  color: #ffffff;
}
input.form-control.pw::-webkit-input-placeholder {
  color: #cccccc;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
input.form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
}
textarea.form-control {
  height: auto;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  border-bottom: 1px solid #e1e1e1;
  resize: none;
}
textarea.form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
}
textarea::-webkit-scrollbar-track {
  width: 3px;
  background-color: #f8f8f8;
}
textarea::-webkit-scrollbar {
  width: 3px;
  height: 15px;
  background-color: #ea5504;
}
textarea::-webkit-scrollbar-thumb {
  background-color: #ea5504;
}
input.label-up.error,
input.line.error,
input.label-up.success,
input.line.success {
  position: relative;
  color: #ffffff;
}
input.label-up.error:focus,
input.line.error:focus,
input.label-up.success:focus,
input.line.success:focus {
  background: transparent;
  color: inherit;
}
input.label-up.error:focus + .line-label:before,
input.line.error:focus + .line-label:before,
input.label-up.success:focus + .line-label:before,
input.line.success:focus + .line-label:before {
  opacity: 0;
}
input.label-up.error + .line-label:before,
input.line.error + .line-label:before,
input.label-up.success + .line-label:before,
input.line.success + .line-label:before {
  content: "";
  font-size: 16px;
  position: relative;
  display: inline-block;
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  left: initial;
  color: #ffffff;
  font-size: 20px;
  opacity: 1;
}
input.label-up.error,
input.line.error {
  background-color: #e74c3c;
}
input.label-up.error + .line-label:before,
input.line.error + .line-label:before {
  content: "\e608";
}
input.label-up.success,
input.line.success {
  background-color: #2ecc71;
}
input.label-up.success + .line-label:before,
input.line.success + .line-label:before {
  content: "\e621";
}
input.label-up.success + .line-label:after,
input.line.success + .line-label:after {
  background-color: #2ecc71;
}
input.line.error + .line-label:before,
input.line.success + .line-label:before {
  top: -20px;
}
input.label-up.error + .line-label:before,
input.label-up.success + .line-label:before {
  opacity: 1;
  top: 10px;
}
input.label-up,
input.line {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  border-bottom: 1px solid #e1e1e1;
}
input.label-up:focus,
input.line:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
}
input.label-up + .line-label,
input.line + .line-label {
  margin-bottom: 0;
}
.form-control.line {
  background: transparent;
  padding-left: 15px;
  padding-right: 15px;
}
.form-control.line:focus {
  border-color: #e1e1e1;
}
.form-control.line:focus + .line-label:after {
  width: 100%;
}
.form-control.line + .line-label {
  position: relative;
  display: block;
}
.form-control.line + .line-label:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: #ea5504;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.input-group .form-control.line + .line-label {
  margin-top: 33px;
}
.form-control.line.fix {
  position: relative;
  z-index: 1;
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.form-control.line.fix.line + .line-label:before {
  content: "";
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.form-control.line.fix.line:focus + .line-label:after {
  background-color: transparent;
}
.form-control.line.fix:focus {
  background-color: #ffffff;
  border-radius: 100px;
  color: #808080;
  z-index: 1001;
  padding-left: 20px;
  padding-right: 20px;
}
.form-control.line.fix:focus + .line-label:before {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: #000000;
  pointer-events: none;
}
input.label-up {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  border-bottom: 1px solid #e1e1e1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
input.label-up::-webkit-input-placeholder {
  color: #ea5504;
}
input.label-up + .line-label {
  position: absolute;
  color: #aeacac;
  display: block;
  left: 10px;
  right: 0;
  top: 50%;
  bottom: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
input.label-up + .line-label span {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  opacity: 0;
}
input.label-up:focus {
  background-color: #ea5504;
  color: #ffffff;
}
input.label-up:focus + .line-label {
  -webkit-transform: translateY(-310%);
  -moz-transform: translateY(-310%);
  -ms-transform: translateY(-310%);
  -o-transform: translateY(-310%);
  transform: translateY(-310%);
}
input.label-up:focus + .line-label span {
  opacity: 1;
  font-size: 12px;
}
input.label-up.error + .line-label {
  color: #ffffff;
}
input.label-up.error:focus + .line-label {
  color: #aeacac;
}
.form-control + input.label-up {
  margin-top: 15px;
}
.line-label + .btn {
  display: inline-block;
}
.select {
  position: relative;
}
.select:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAD1BMVEX///+ZmZm8vLzFxcXAwMAXBx4cAAAALElEQVQI12MAA2YIZQjhCEI4YIpFEEw5AikQB0wpgikmQTClCKIgHEEIRxAAYAEDF3n5iJEAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  right: 0;
  bottom: 2px;
}
.select select {
  border: none;
  border-bottom: 1px solid #e1e1e1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select select,
.select select:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
}
.select select[disabled='disabled'] {
  color: #929292;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  outline: 0;
  background-color: #f8f8f8;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  margin: 17px 0;
}
input[type="range"]:active,
input[type="range"]:focus {
  background-color: #ea5504;
}
input[type="range"]::-webkit-slider-thumb {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -webkit-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  border: 1px solid #ea5504;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  background-color: #ff5e04;
}
input[type="range"].danger:active,
input[type="range"].danger:focus {
  background-color: #e74c3c;
}
input[type="range"].danger::-webkit-slider-thumb {
  background-color: #e74c3c;
  border-color: #e74c3c;
}
input[type="range"].success:active,
input[type="range"].success:focus {
  background-color: #2ecc71;
}
input[type="range"].success::-webkit-slider-thumb {
  background-color: #2ecc71;
  border-color: #2ecc71;
}
input[type="range"].warning:active,
input[type="range"].warning:focus {
  background-color: #f1c40f;
}
input[type="range"].warning::-webkit-slider-thumb {
  background-color: #f1c40f;
  border-color: #f1c40f;
}
.checkbox,
.radio {
  margin-top: 15px;
  margin-bottom: 15px;
}
.vba-ck + label,
.vba-rd + label {
  position: relative;
  padding-left: 25px;
  height: 20px;
  display: block;
}
.vba-ck + label:after,
.vba-rd + label:after {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  border: 1px solid #ccc;
  left: 0;
  top: 3px;
  width: 14px;
  height: 14px;
  display: block;
}
.vba-ck + label:before,
.vba-rd + label:before {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  top: 6px;
  left: 3px;
  width: 8px;
  height: 8px;
  background: #ccc;
}
.vba-ck + label:hover:after,
.vba-rd + label:hover:after {
  border-color: #ea5504;
}
.vba-ck:checked + label,
.vba-rd:checked + label {
  border-color: #ea5504;
}
.vba-ck:checked + label:before,
.vba-rd:checked + label:before {
  background: #ea5504;
}
.vba-ck:checked + label:after,
.vba-rd:checked + label:after {
  border-color: #ea5504;
}
.vba-ck[disabled="disabled"] + label,
.vba-rd[disabled="disabled"] + label {
  cursor: not-allowed;
}
.vba-ck[disabled="disabled"] + label:after,
.vba-rd[disabled="disabled"] + label:after {
  border-color: #ccc;
}
.vba-ck,
.vba-rd {
  display: none;
}
.vba-chekbox,
.vba-ridbox {
  margin-right: 15px;
}
.form-inline .vba-chekbox,
.form-inline .vba-ridbox {
  padding-left: 24px !important;
}
td .vba-chekbox,
td .vba-ridbox,
th .vba-chekbox,
th .vba-ridbox {
  margin: 0;
  padding-left: 0;
}
.vba-rd + label {
  cursor: pointer;
}
.vba-rd + label:after {
  border-radius: 10px;
}
.vba-rd + label:before {
  border-radius: 6px;
}
.checkbox,
.radio {
  margin-bottom: 15px;
}
.checkbox.inline .vba-ck + label,
.radio.inline .vba-ck + label,
.checkbox.inline .vba-rd + label,
.radio.inline .vba-rd + label {
  display: inline-block;
}
input[type="checkbox"].toggle {
  display: none;
}
.toggle-label {
  margin-right: 8px;
}
.toggle + .toggle-round {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 18px;
  border-radius: 9px;
  background-color: #d4d2d2;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  vertical-align: middle;
  cursor: pointer;
}
.toggle + .toggle-round:before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 30px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}
.toggle:checked + .toggle-round {
  background-color: #ea5504;
}
.toggle:checked + .toggle-round:before {
  left: 23px;
}
.danger.toggle:checked + .toggle-round {
  background-color: #e74c3c;
}
.success.toggle:checked + .toggle-round {
  background-color: #2ecc71;
}
.warning.toggle:checked + .toggle-round {
  background-color: #e67e22;
}
.vba-check {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.vba-check > li {
  display: inline-block;
}
.vba-check input[type="checkbox"],
.vba-check input[type="radio"] {
  display: none;
}
.vba-check input + label {
  display: inline-block;
  border: 1px solid #e1e1e1;
  margin-bottom: 0;
  padding: 6px 23px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
}
.vba-check input + label:hover {
  border-color: #e74c3c;
}
.vba-check input:checked + label {
  border-color: #e74c3c;
  border-width: 2px;
}
.vba-check input:checked + label:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 20px solid #e74c3c;
  border-left: 20px solid transparent;
  z-index: 2;
}
.vba-check input:checked + label:after {
  content: "\e60b";
  right: 0;
  bottom: 1px;
  width: 15px;
  height: 15px;
  color: #ffffff;
  font-size: 16px;
  position: relative;
  display: inline-block;
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  z-index: 3;
}
.vba-check.has-info > li {
  display: block;
  margin-bottom: 8px;
}
.vba-check.has-info > li label {
  min-width: 150px;
  text-align: center;
}
.vba-check.has-info li + li {
  margin-top: 15px;
}
.vba-check.has-info .info {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 8px;
}
.form-group {
  position: relative;
}
.form-group .control-label {
  padding-top: 13px;
  color: #6a6969;
}
.form-group .control-label.forta {
  padding-top: 7px;
}
.form-horizontal .form-group.hasbtn .btn-lg {
  padding-left: 15px;
  padding-right: 15px;
}
.input-group .input-group-addon {
  background: transparent;
  border: none;
}
.input-group .input-group-addon + .select[class*="col"] {
  display: inline-block;
  padding-left: 0;
}
.input-group .form-group[class*="col"] {
  margin-bottom: 0;
}
.input-group .select {
  overflow: hidden;
}
fieldset[disabled="disabled"] .vba-ck:hover:after,
fieldset[disabled="disabled"] .vba-rd:hover:after {
  border-color: #ccc;
}
.form-inline .form-group + .checkbox,
.form-inline .form-group + .form-group {
  margin-left: 15px;
}
.form-inline .checkbox + button,
.form-inline .form-group + button {
  margin-left: 30px;
}
@media (min-width: 768px) {
  .form-horizontal .form-group .control-label {
    padding-top: 7px;
  }
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  overflow: hidden;
}
.swiper-slide .swiper-lazy {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
.swiper-pagination-bullet {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  width: 50px;
  height: 3px;
  border-radius: 0;
}
.swiper-pagination-bullet:hover {
  background-color: #ea5504;
  height: 5px;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #ea5504;
  width: 100px;
  height: 5px;
}
.swiper-button-next,
.swiper-button-prev {
  background: none;
  background-color: #ea5504;
  color: #ffffff;
}
.swiper-button-next.iconfont,
.swiper-button-prev.iconfont {
  line-height: 44px;
  font-size: 27px;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  pointer-events: fill;
}
@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1469734605');
  /* IE9*/
  src: url('../font/iconfont.eot?t=1469734605#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff?t=1469734605') format('woff'), /* chrome, firefox */ url('../font/iconfont.ttf?t=1469734605') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg?t=1469734605#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
}
body {
  font-family: "微软雅黑", "microsoft yahei";
  position: relative;
  overflow: auto;
  color: #7a7a7a;
}
label,
th {
  font-weight: normal;
}
.full-width {
  width: 100%;
  height: auto;
  position: relative;
}
@media (max-width: 767px) {
  .nav-mix .col-md-12 {
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .nav-mix .col-md-12::-webkit-scrollbar {
    display: none;
  }
  .nav-mix .nav.list {
    margin-bottom: 30px;
  }
  .nav-mix .nav.list.list-child {
    margin-top: 0;
  }
}
body {
  background-color: #f8f8f8;
}
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}
.log-cont {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -250px;
}
.log-cont .logo {
  text-align: center;
}
.log-cont .logo img {
  display: inline-block;
}
.login .nav-tabs,
.reset .nav-tabs,
.regist .nav-tabs {
  margin-top: 45px;
  text-align: center;
  font-size: 0;
  border: 1px solid #ea5504;
}
.login .nav-tabs li,
.reset .nav-tabs li,
.regist .nav-tabs li {
  display: inline-block;
  float: none;
  font-size: 14px;
  width: 50%;
}
.login .nav-tabs li a,
.reset .nav-tabs li a,
.regist .nav-tabs li a {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  border: none;
  border-radius: 0;
  margin: 0;
  color: #ea5504;
}
.login .nav-tabs li a:hover,
.reset .nav-tabs li a:hover,
.regist .nav-tabs li a:hover,
.login .nav-tabs li a:focus,
.reset .nav-tabs li a:focus,
.regist .nav-tabs li a:focus {
  border: none;
  background-color: transparent;
}
.login .nav-tabs li.active a,
.reset .nav-tabs li.active a,
.regist .nav-tabs li.active a {
  background-color: #ea5504;
  color: #ffffff;
}
.login #passlog,
.reset #passlog,
.regist #passlog {
  padding-top: 15px;
}
.login .btn,
.reset .btn,
.regist .btn {
  border: 1px solid transparent;
  padding: 10px;
  margin: 15px 0;
  width: 100%;
  display: block;
  font-size: 14px;
}
.login .btn:hover,
.reset .btn:hover,
.regist .btn:hover,
.login .btn:focus,
.reset .btn:focus,
.regist .btn:focus {
  outline: none;
  border-color: transparent;
}
.login .form-group,
.reset .form-group,
.regist .form-group {
  margin: 0;
  margin-top: -1px;
  overflow: hidden;
}
.login .form-group .form-control,
.reset .form-group .form-control,
.regist .form-group .form-control {
  height: 40px;
  position: relative;
  border-color: #d4d2d2;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  border-radius: 0;
}
.login .form-group .form-control:focus,
.reset .form-group .form-control:focus,
.regist .form-group .form-control:focus {
  border-color: #ea5504;
  z-index: 9;
}
.login .callforget,
.reset .callforget,
.regist .callforget {
  display: block;
  color: #929292;
  text-align: right;
}
.login #qdlog,
.reset #qdlog,
.regist #qdlog {
  padding: 15px 15px 0;
}
.login #qdlog .qd-box,
.reset #qdlog .qd-box,
.regist #qdlog .qd-box {
  background-color: #ffffff;
  padding: 10px 15px 15px;
}
.login #qdlog .qd-box p,
.reset #qdlog .qd-box p,
.regist #qdlog .qd-box p {
  margin: 0;
  background-color: transparent;
}
.login #qdlog .qd-box img,
.reset #qdlog .qd-box img,
.regist #qdlog .qd-box img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.login #qdlog p,
.reset #qdlog p,
.regist #qdlog p {
  margin: 0;
  background-color: #d4d2d2;
  line-height: 30px;
  color: #444444;
}
.login .hint,
.reset .hint,
.regist .hint {
  margin-top: 30px;
}
.reset .page-header,
.regist .page-header {
  text-align: center;
  border: none;
  margin: 45px;
}
.reset .page-header h4,
.regist .page-header h4 {
  color: #ea5504;
  margin: 0;
}
.reset .input-group .form-control,
.regist .input-group .form-control {
  border-right: none;
}
.reset .input-group .input-group-btn .btn,
.regist .input-group .input-group-btn .btn {
  margin: 0;
  height: 40px;
  background-color: #ea5504;
  color: #ffffff;
  width: 92px;
}
.reset .btn-ces,
.regist .btn-ces {
  margin-top: 45px;
}
.reset .calllogin,
.regist .calllogin {
  color: #929292;
}
.reset .calllogin i,
.regist .calllogin i {
  margin-right: 5px;
}
.reset .btn-group,
.regist .btn-group {
  display: block;
  font-size: 0;
}
.reset .btn-group .btn-ces,
.regist .btn-group .btn-ces {
  margin: 0;
  border: 1px solid #ea5504;
  font-size: 14px;
  height: 40px;
  background-color: #ea5504;
  color: #ffffff;
  width: 50%;
  display: inline-block;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  float: none;
  z-index: 0;
}
.reset .btn-group .btn-ces.active,
.regist .btn-group .btn-ces.active {
  background-color: #bb4403;
}
