@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1469734605');
  src: url('../font/iconfont.eot?t=1469734605#iefix') format('embedded-opentype'), url('../font/iconfont.woff?t=1469734605') format('woff'), url('../font/iconfont.ttf?t=1469734605') format('truetype'), url('../font/iconfont.svg?t=1469734605#iconfont') format('svg');
  
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  /* chrome, firefox */
  /* IE6-IE8 */
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
}
.icon-shezhi:before {
  content: "\e601";
}
.icon-zheqi:before {
  content: "\e602";
}
.icon-arrow:before {
  content: "\e600";
}
