<div class="banner">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item com1 active">
                <!-- <img src="https://bce.bdstatic.com/p3m/common-service/uploads/bg_64e636b.png" class="d-block w-100" alt="..."> -->
                <div class="pic-centent">
                    <div class="imgbox">
                            <img src="https://bce.bdstatic.com/p3m/common-service/uploads/%E5%8F%8C%E5%8D%81%E4%B8%80%20%E6%96%87%E5%AD%97@2x_b81a58e.png" class=""  alt="...">
                    </div>
                </div>
            </div>
            <div class="carousel-item com1">
                <div class="pic-centent">
                    <div class="imgbox">
                            <img src="https://bce.bdstatic.com/p3m/common-service/uploads/%E4%BA%91%E5%B8%82%E5%9C%BA%E5%AE%98%E7%BD%91banner%E6%96%87%E5%AD%97@2x_33311ed.png" class=""  alt="...">
                    </div>
                </div>
            </div>
            <div class="carousel-item com2">
                <div class="titlebox">
                    <div class="text-left">
                        <h1>GPU虚拟化型实例邀测发布</h1>
                        <p>基于Virtual GPU虚拟化技术，为您提供更小粒度的GPU算力，可大幅降低GPU使用成本</p>
                        <button type="button" class="btn btn-primary  btn-lg">申请试用</button>
                    </div>
                    <div class="pic-centent1">
                        <img src="https://bce.bdstatic.com/p3m/common-service/uploads/v-gpu_ce5bc45.png" alt="">
                    </div>
                </div>
            </div>
            <div class="carousel-item com2">
                <div class="titlebox">
                    <div class="text-left">
                        <h1>企业差旅报销一站式解决方案</h1>
                        <p>智能化企业管理平台提升报销体验，变革管控方式，让集团管控从复杂到简单</p>
                        <button type="button" class="btn btn-primary  btn-lg">立即查看</button>
                    </div>
                    <div class="pic-centent1">
                        <img src="https://bce.bdstatic.com/p3m/common-service/uploads/%E6%9C%80%E6%96%B0@2x_74103e4.png" alt="">
                    </div>
                </div>
            </div>
            <div class="carousel-item com1">
                <div class="pic-centent">
                    <div class="imgbox">
                            <img src="https://bce.bdstatic.com/p3m/common-service/uploads/%E5%85%A8%E6%B0%91%20%E6%96%87%E5%AD%97@2x_002c96b.png" class=""  alt="...">
                    </div>
                </div>
            </div>
            <div class="carousel-item com2">
                <div class="titlebox">
                    <div class="text-left">
                        <h1>直播智感超清转码重磅发布</h1>
                        <p>智能实时转码，独特画质增强，对比普通转码，最高节省40%带宽</p>
                        <button type="button" class="btn btn-primary  btn-lg">了解更多</button>
                    </div>
                    <div class="pic-centent1">
                        <img src="https://bce.bdstatic.com/p3m/common-service/uploads/lss%20banner_aa64a10.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="m-card">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div  class="col-md-3"><img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/4e654ed9.png" alt=""></div>
                    <div  class="col-md-9 desc">
                        <p>免费体验馆</p>
                        <span>免费上云 轻松实践</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-3"><img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/ceb0eef8.png" alt=""></div>
                    <div class="col-md-9 desc">
                        <p>.com域名特价抢</p>
                        <span>新用户20元购</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-3"><img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/e1c1e13a.png" alt=""></div>
                    <div class="col-md-9 desc">
                        <p>体验版高稳定虚机</p>
                        <span>新客专享6元体验3月</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-3"><img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/359d9b86.png" alt=""></div>
                    <div class="col-md-9 desc">
                        <p>实名认证领好礼</p>
                        <span>文字识别资源免费领</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
