
<script src="__THEMES__/defualt/js/lib/popper.min.js"></script>
<script src="__THEMES__/defualt/js/lib/bootstrap.min.js"></script>
<script src="__THEMES__/defualt/js/lib/axios.min.js"></script>
<script src="__THEMES__/defualt/js/lib/js.cookie.min.js"></script>
<script src="__THEMES__/defualt/js/lib/lodash.min.js"></script>
<script src="__THEMES__/defualt/js/lib/moment.min.js"></script>
<script src="__THEMES__/defualt/js/lib/echarts.min.js"></script>
<script src="__THEMES__/defualt/js/lib/qs.min.js"></script>
<script src="__THEMES__/defualt/js/lib/decimal.min.js"></script>
<script src="__THEMES__/defualt/js/lib/jQuery.Pinyin-min.js"></script>
<script src="__THEMES__/defualt/js/lib/datepicker.all.js"></script>
<script src="__THEMES__/defualt/js/app.js"></script>
<!-- <script src="__THEMES__/defualt/js/router.js "></script> -->
<script src="__THEMES__/defualt/js/rule.js"></script>
<script src="__THEMES__/defualt/js/temp.js"></script>
<script src="__THEMES__/defualt/js/Etheme.js"></script>
<script src="__THEMES__/defualt/js/region.js"></script>
<script src="__THEMES__/defualt/js/index.js"></script>
<script src="__THEMES__/defualt/js/finance.js"></script>
<script src="__THEMES__/defualt/js/comp.js"></script>