<p>尊敬的用户，欢迎您免费申请成为XX云商业产品的注册用户，我们致力于打通XX云不同商业产品的账号，为您提供一站式服务！您若获得XX云商业产品账户，可在开通相应产品线的权限后，利用同一组用户名和密码访问大部分XX云商业产品，如蓝鲸系统、蓝鲸推广等。 以下为您与XX云的法律协议条款，请您仔细阅读，您访问、浏览或使用XX云商业产品及任何服务即表明您已阅读、理解并同意受本条款的约束。XX云将随时更新或修改XX云商业中的任何信息、服务和程序，也有权随时对本“注册协议”进行变更，您将受到变更后的协议的约束。</p>
<h4>登录步骤</h4>
<p>要登录到XX云商业产品，请按以下步骤操作：</p>
<ol>
    <li>在用户名字段中，输入您的XX云商业产品用户名。</li>
    <li>在密码字段中，输入您的密码；</li>
    <li>在验证码字段中，输入图示验证码；</li>
    <li>点击登录。</li>
</ol>
<h4>注册资料</h4>
<p>基于XX云所提供网络和技术服务的特殊性，您应同意：</p>
<ol>
    <li>提供详尽、准确的注册信息和资料。</li>
    <li>不断更新注册资料，符合及时、详尽、准确的要求。如果您提供的资料包含有不正确的信息，XX云保留结束您使用该网络服务资格的权利。</li>
</ol>
<h4>账户的安全</h4>
<ol>
    <li>您的XX云商业产品账号可以访问并操作您开通的所有XX云商业产品，您需对用户名和密码的安全性负责，请勿向任何人透露您的用户名和密码。</li>
    <li>若您忘记了账户密码，可自行通过您设置的密保手机按照自动流程找回相关信息。</li>
    <li>若您公司负责管理帐户的人员已离开公司， 或您在任何情况下知悉或怀疑您的用户名及密码为任何第三方所知悉，或有人未经授权而使用您的账号，请您主动向XX云提出申请，并按照流程要求提交相关表单。为了确认您是相关帐户的所有人，我们会要求您提供一些详细信息，如最近的付款信息或客户ID等，您应予以配合。在XX云根据流程处理您的账户前，您须就任何第三方使用服务或服务被用作未经授权用途负责。</li>
</ol>
<h4>用户隐私保护</h4>
<p>XX云非常重视信息的保护，在使用XX云的所有产品和服务前，请您务必仔细阅读并透彻理解XX云发布的《隐私保护声明》。一旦您选择使用XX云服务，即表示您认可并接受XX云隐私权保护的条款现有内容及其可能随时更新的内容。</p>
<h4>用户责任</h4>
<ol>
    <li>您需保证您系符合中华人民共和国法律法规的合法经营主体并已取得经营相关业务的合法资质，若您拒绝核查或XX云有理由怀疑其真实合法性的，XX云有权拒绝为您提供服务。</li>
    <li>您应保证按照在开通的各个商业产品线时按照XX云的要求提供资质材料，且保证所提供的资质材料真实有效，否则XX云有权拒绝为您开通相关产品线。</li>
    <li>您应保证遵守您在各个产品线下与XX云签订的各个单项服务协议。</li>
    <li>您保证通过XX云（包括XX云蓝鲸产品或应用程序）发布和链接推广的信息不含有任何违反国家有关法律、法规及中华人民共和国承认或加入的国际条约的内容，包括但不限于危害国家安全、淫秽色情、虚假、侮辱、诽谤、恐吓或骚扰、侵犯他人知识产权、人身权或其他合法权益以及有违社会公序良俗的内容或指向这些内容的链接。否则XX云有权经独立判断取消您的帐号及相关服务。</li>
</ol>
<h4>内容的所有权</h4>
<p>XX云商业产品平台中的内容包括：文字、软件、声音、图片、录象、图表等，XX云拥有所有内容的版权、商标权和其它财产所有权。</p>
<h4>免责</h4>
<p>XX云将尽力提供一切可能的技术和设备维护用户的资料和账户安全，并努力为您提供最好的服务。但XX云对您的下述损失免责，</p>
<ol>
    <li>由于非故意或不可抗拒的原因（含系统维护和升级），导致的用户数据损失、服务停止，XX云不承担赔偿及其他连带的法律责任。</li>
    <li>并非由于XX云的故意或过失而导致XX云账号服务未能注册成功；</li>
    <li>由于您或您的代理人故意或过失导致您遭受损失的；</li>
    <li>由于XX云对服务系统进行系统测试、升级、更新、服务抽样测试，对您产生的任何影响。</li>
    <li>XX云有权随时删除您账户内含有任何危害国家安全、淫秽色情、虚假、侮辱、诽谤、恐吓或骚扰、侵犯他人版权或人身权或其他合法权益等违法或有违社会公序良俗的内容。</li>
</ol>
<h4>其他</h4>
<p>本协议与您与XX云就各个商业产品签订的具体服务协议内容有不一致之处的，以具体服务协议为准。</p>