<div class="container1">
    <div class="nav-tab scroll-hidden">
        <div class="title ">各类业务场景的全栈解决方案</div>
        <div class="nav">
            <ul>
                <li>
                    <p>智能呼叫中心</p>
                </li>
                <li class="active">
                    <p>智能工业制造</p>
                </li>
                <li>
                    <p>数据仓储</p>
                </li>
                <li>
                    <p>教育行业</p>
                </li>
                <li>
                    <p>网站及部署</p>
                </li>
                <li>
                    <p>视频智能应用</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="nav-line"><span></span></div>
    <div class="content motion scroll-hidden">
        <ul >
            <li class="card ">
                <div class="img-content">
                    <div class="mask"></div>
                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/33ebf503.png" alt="智能呼叫中心">
                </div>
                <div class="text-content">
                    <h3>智能呼叫中心</h3>
                    <p class="desc">提供呼叫中心专有识别模型，实时准确的将语音识别为文字。可用于语音IVR、语音机器人、客服对话辅助、语音质检等场景，大幅度降低人工成本</p>
                    <a href="#" data-track-category="解决方案/智能呼叫中心"
                        data-track-name="查看详情">
                        <span>查看详情</span>
                    </a>
                </div>
            </li>

            <li class="card active">
                <div class="img-content">
                    <div class="mask"></div>
                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/e44b4ce7.png" alt="智能工业制造">
                </div>
                <div class="text-content">
                    <h3>智能工业制造</h3>
                    <p class="desc">面向工业制造领域的全数据分析平台，结合质检云质量数据从产品质量数据的分析定位缺陷的成因，反哺工艺优化促进产品迭代，实现AI智能数据的应用闭环</p>
                    <a href="#" data-track-category="解决方案/智能工业制造"
                        data-track-name="查看详情">
                        <span>查看详情</span>
                    </a>
                </div>
            </li>

            <li class="card">
                <div class="img-content">
                    <div class="mask"></div>
                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/8f20ab8a.png" alt="数据仓储">
                </div>
                <div class="text-content">
                    <h3>数据仓储</h3>
                    <p class="desc">数据仓储（Data
                        Warehousing）是企业为了分析数据进而获取洞察力的努力，是商务智能的主要环节。在大数据时代，智能云提供了云端的数据仓储解决方案，为企业搭建现代数据仓库提供指南</p>
                    <a href="#" data-track-category="解决方案/数据仓储"
                        data-track-name="查看详情">
                        <span>查看详情</span>
                    </a>
                </div>
            </li>

            <li class="card">
                <div class="img-content">
                    <div class="mask"></div>
                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/7fae2a84.png" alt="教育行业">
                </div>
                <div class="text-content">
                    <h3>教育行业</h3>
                    <p class="desc">
                        依托稳定的云计算基础服务，借助“文库”的生态内容，为您构建独有的“基础云技术+教育云平台+教育大数据”解决方案，推进教育行业的数字化和智能化，极大地促进行业的转型升级</p>
                    <a href="#" data-track-category="解决方案/教育行业"
                        data-track-name="查看详情">
                        <span>查看详情</span>
                    </a>
                </div>
            </li>

            <li class="card">
                <div class="img-content">
                    <div class="mask"></div>
                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/c182f430.png" alt="网站及部署">
                </div>
                <div class="text-content">
                    <h3>网站及部署</h3>
                    <p class="desc">结合生态专属优势，打通网站全生命周期需求，从域名、建站、备案、选型、部署、测试到运维、推广、变现，想你所需，做最懂站长的网站云服务</p>
                    <a href="#" data-track-category="解决方案/网站及部署"
                        data-track-name="查看详情">
                        <span>查看详情</span>
                    </a>
                </div>
            </li>

            <li class="card">
                <div class="img-content">
                    <div class="mask"></div>
                    <img src="https://bce.bdstatic.com/bce-portal/static/assets/assets/8297736c.png" alt="视频智能应用">
                </div>
                <div class="text-content">
                    <h3>视频智能应用</h3>
                    <p class="desc">
                        基于业界领先的人工智能技术、大数据技术，帮助传统媒体、短视频类客户，实现对视频内容的理解，并基于此构建视频推荐、视频搜索和视频广告系统。提升用户活跃和留存，增大广告变现收益</p>
                    <a href="#" data-track-category="解决方案/视频智能应用"
                        data-track-name="查看详情">
                        <span>查看详情</span>
                    </a>
                </div>
            </li>
        </ul>
        <div class="change">
            <div class="pre" style="left: 383px;">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAAHlBMVEVHcExmcopmc4t2dpdlcopmcotmcopqcY5mdYplcYnLHQOMAAAACXRSTlMA40sLoX3AJCNEwqCQAAAAeklEQVRIx2NgGAWjAC9QFCKgQHKmAiEF4vgVaM6caIBXAevMmcn4jfCcOQW/ArOZMwPwKmCWnDkJvxGNMwn4lGnm4PSp4kx0MAk9htDBRBIVELSC1Ogg5E2CAUUoqIGRJYHXgEIC0U0wwQy8H4HxJkFh5iWY/UfBCAYAzs5Q48MpPuQAAAAASUVORK5CYII="
                    alt="">
            </div>
            <div class="next" style="right: 383px;">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAAHlBMVEVHcExmcopmc4t2dpdlcopmcotmcopqcY5mdYplcYnLHQOMAAAACXRSTlMA40sLoX3AJCNEwqCQAAAAeklEQVRIx2NgGAWjAC9QFCKgQHKmAiEF4vgVaM6caIBXAevMmcn4jfCcOQW/ArOZMwPwKmCWnDkJvxGNMwn4lGnm4PSp4kx0MAk9htDBRBIVELSC1Ogg5E2CAUUoqIGRJYHXgEIC0U0wwQy8H4HxJkFh5iWY/UfBCAYAzs5Q48MpPuQAAAAASUVORK5CYII="
                    alt="">
            </div>
        </div>
    </div>
</div>

<script>
    console.log();
    let btnpx=($(window).width()-992)/2-80;
    let bhl = 1;
    $('.solution .container1 .content ul').css('left',($(window).width()-912)/2+'px');
    $('.pre').css('left',btnpx+'px');
    $('.next').css('right',btnpx+'px');
    $('.solution .nav li').click(function () {
        set(this);
    })

    let af = function () {
        let n = 536 * (bhl);
        let child = $('.solution .content ul').children()[bhl];
        $(child).addClass('active');
        $(child).siblings().removeClass('active');
        $('.solution .content ul').css('transform', 'translateX(-' + n + 'px)');
    }

    function set(note) {
        $(note).addClass('active')
        $(note).siblings().removeClass('active');
        let bh = $(note).prevAll();
        bhl = bh.length;
        let w = 0;
        bh.each(function () {
            console.log()
            w += $(this)[0].clientWidth;
        })
        let wline = 36 + 36 * (bh.length) + w;
        console.log(wline)
        if ($(note)[0].clientWidth - 70 > 0) {
            let i = ($(note)[0].clientWidth - 70) / 2;
            wline += i;
        } else {
            console.log($(note)[0].clientWidth)
            let i = (70 - $(note)[0].clientWidth) / 2;
            console.log(i)
            wline -= i;
        }
        if (bh.length <= 0) {
            $('.pre').addClass('none')
        } else if (bh.length >= 5) {
            $('.next').addClass('none');
        } else {
            $('.next').removeClass('none');
            $('.pre').removeClass('none')
        }
        $('.solution .nav-line span').css('transform', 'translateX(' + wline + 'px)');
        af();
    }
    $('.pre').click(function () {
        if ($('.solution .nav ul').children('.active').prev().length >= 1) {
            set($('.solution .nav ul').children('.active').prev());
        }
    })
    $('.next').click(function () {
        if ($('.solution .nav ul').children('.active').next().length >= 1) {
            set($('.solution .nav ul').children('.active').next());
        }

    })
</script>