<nav class="navbar navbar-expand-lg bg-light fixed-top" style="box-shadow: none;">
    <!-- <a class="navbar-brand" href="/console" style="background-color: rgba(18, 26, 44, 0.891);"><img src="__THEMES__/defualt/img/geestack.png" alt="GEESTACK" style="max-height:35px;"></a> -->
    <a class="navbar-brand" href="/" style="background-color: rgba(18, 26, 44, 0.891);"><img src="{$basicInfo.logo}" alt="GEESTACK" style="max-height:35px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#hideNav" aria-controls="hideNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pl-3" id="hideNav">
        <ul class="navbar-nav mr-auto">
        </ul>
        <!--导航菜单部分-->
        <ul class="navbar-nav nav_bar">
            <!-- <li class="nav-item pt-2 mr-4" id="z-search">
                <div class="btn-group w-100 mt-1">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <input type="text" class="form-control fs-12 form-control-sm bg-transparent border border-right-0">
                        </div>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-light border border-left-0 pt-0 bg-transparent iconfont icon-icon_sousuo-xian mr-0 linkblue zfs-18 font-weight-bold"></button>
                        </div>
                    </div>
                </div>

            </li> -->
            <!--我的工单-->
            <li class="nav-item position-relative pt-2 mr-2" id="z-myorder">
                <div class="btn-group w-100">
                    <button type="button" class="btn navname iconfont icon-gongdan bigicon zfs-18 linkblue"></button>
                    <div class="position-absolute border-0 bg-white" id="z-myorder-content">
                        <div class="px-3 py-2">
                            <div class="mb-4"><span class="text-secondary zfs-12">待处理工单：</span></div>
                            <div class="row">
                                <a href="{:url('index/Ticket/add')}" class="btn-mystyle btn btn-light btn-sm text-primary fs-12 mr-auto ml-3"><span>新建工单</span></a>
                                <a href="{:url('index/Ticket/list')}" class="btn bg-white btn-sm fs-12 mr-2"><span class="text-secondary">全部工单</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!--消息中心-->
            <!-- <li class="nav-item position-relative pt-2 mr-2" id="z-newscenter">
                <div class="btn-group w-100">
                    <button type="button" class="btn navname iconfont icon-xiaoxi bigicon zfs-18 linkblue" id="message-click"></button>
                    <div class="bg-secondary position-absolute text-center" id="z-newscenter-remind">
                        <span class="zfs-12 text-white">消息中心</span>
                    </div>
                </div>
            </li> -->
            <!--帮助中心-->
            <!-- <li class="nav-item position-relative pt-2 mr-2" id="z-helpcenter">
                <div class="btn-group w-100">
                    <button type="button" class="btn navname iconfont icon-question bigicon zfs-18 linkblue" data-toggle="dropdown"></button>
                    <div class="position-absolute bg-white border-0" id="z-helpcenter-content">
                        <div class="pl-3 py-2 zfs-12">
                            <ul class="list-inline d-flex mt-1">
                                <button class="list-inline-item btn btn-sm bg-white mr-3 ztext-lightgray pl-0" data-toggle="tooltip" data-placement="bottom" title="帮助文档"><span class="fs-12">帮助中心</span></button>
                                <button class="list-inline-item btn btn-sm bg-white ml-1 ztext-lightgray" data-toggle="tooltip" data-placement="bottom" title="帮助文档"><span class="fs-12">开发者资源</span></button>
                            </ul>
                            <ul class="list-inline d-flex mt-3 mb-2">
                                <li class="list-inline-item mr-3">
                                    <a href="#" class="zchangeblue">
                                        <span class="iconfont icon-oss mr-2 zfs-16"></span><span>产品文档</span>
                                    </a>
                                </li>
                                <li class="list-inline-item ml-3">
                                    <a href="#" class="zchangeblue">
                                        <span class="iconfont icon-shezhi mr-2 zfs-16"></span><span>SDK中心</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="list-inline d-flex mt-3 mb-2">
                                <li class="list-inline-item mr-3">
                                    <a href="#" class="zchangeblue">
                                        <span class="iconfont icon-oss mr-2 zfs-16"></span><span>入门指南</span>
                                    </a>
                                </li>
                                <li class="list-inline-item ml-3">
                                    <a href="#" class="zchangeblue">
                                        <span class="iconfont icon-oss mr-2 zfs-16"></span><span>API平台</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="list-inline d-flex mt-3 mb-2">
                                <li class="list-inline-item mr-3">
                                    <a href="#" class="zchangeblue">
                                        <span class="iconfont icon-oss mr-2 zfs-16"></span><span>自助服务</span>
                                    </a>
                                </li>
                                <li class="list-inline-item ml-3">
                                    <a href="#" class="zchangeblue">
                                        <span class="iconfont icon-oss mr-2 zfs-16"></span><span>鉴权</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </li> -->
            <!--企业组织-->
            <!-- <li class="nav-item position-relative pt-2 mr-2" id="z-organization">
                <div class="btn-group w-100">
                    <button type="button" class="btn navname iconfont icon-icon- zfs-18 linkblue"></button>
                    <div class="bg-secondary position-absolute text-center" id="z-organization-remind">
                        <span class="zfs-12 text-white">企业组织</span>
                    </div>
                </div>
            </li> -->
            <!--财务-->
            <li class="nav-item position-relative pt-2 mr-2" id="z-finance">
                <div class="btn-group w-100">
                    <a href="{:url('index/Billing/overview')}" class="btn navname iconfont icon-caiwu bigicon zfs-18 linkblue broder-0 myborder-left-0"></a>
                    <div class="position-absolute bg-white py-0 border-0" id="z-finance-content">
                        <div>
                            <div class="row mx-0 mt-0" style="background-color: #F6F7FB">
                                <div class="col-md-6 py-2">
                                    <span class="d-block mb-1 text-secondary zfs-12">余额</span>
                                    <span class="money">{$userinfo.balance|to_double}</span>
                                </div>
                                <div class="col pl-3 pt-3 mr-0">
                                    <a href="{:url('index/Billing/recharge')}" class="ml-1 mr-3 zfs-12 linkblue broder-0 myborder-left-0">充值</a>
                                    <a href="{:url('index/Invoice/list')}" class="zfs-12 linkblue broder-0 myborder-left-0">发票</a>
                                </div>
                            </div>
                            <div>
                                <ul class="list-inline d-flex mt-3 mb-2 ml-4 zfs-12">
                                    <li class="list-inline-item mr-3">
                                        <a href="{:url('index/Consumption/overview')}" class="zchangeblue broder-0 myborder-left-0">
                                            <span class="iconfont icon-caiwurenminbizhifu-copy mr-2 zfs-18"></span><span>消费总览</span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item ml-3">
                                        <a href="{:url('index/Billing/dealrecord')}" class="zchangeblue broder-0 myborder-left-0">
                                            <span class="iconfont icon-paichandingdan mr-2 zfs-18"></span><span>收支明细</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="list-inline d-flex mt-3 mb-2 ml-4 zfs-12">
                                    <li class="list-inline-item mr-3">
                                        <a href="{:url('index/Billing/order')}" class="zchangeblue broder-0 myborder-left-0">
                                            <span class="iconfont icon-gongdanliebiao mr-2 zfs-18"></span><span>订单管理</span>
                                        </a>
                                    </li>
                                    <!-- <li class="list-inline-item ml-3">
                                        <a href="{:url('index/Billing/renew')}" class="zchangeblue broder-0 myborder-left-0">
                                            <span class="iconfont icon-paichandingdan mr-2 zfs-18"></span><span>续费管理</span>
                                        </a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!--用户中心-->
            <li class="nav-item position-relative pt-2 zfs-12 mr-4" id="z-usercenter">
                <div class="btn-group w-100 position-relative">
                    <button type="button" class="btn navname pt-0 pr-3">
                        <div class="bg-dark zrounded-circle my-1">
                          <span class="zfs-12 text-white">{$userinfo.name|strFirst}</span>
                        </div>
                    </button>
                    <span class="iconfont icon-icon_jiantou-xia zfs-10 font-weight-bold position-absolute" style="top: 10px;left: 50px"></span>
                    <div class="position-absolute bg-white py-0 border-0" id="z-usercenter-content">
                        <div>
                            <div class="d-flex mx-0 mt-0 py-2 px-3" style="background-color: #F6F7FB">
                                <div class="zbg-lightblue zrounded-circle my-1">
                                    <span class="zfs-12 text-white">{$userinfo.name|strFirst}</span>
                                </div>
                                <a href="{:url('Index/Iam/overview')}" class="pt-2 pl-1 mr-auto linkblue"><span>{$userinfo.name}</span></a>
                                <div class="pt-1">
                                    <a href="javascript:;" data-toggle="tooltip" class="iconfont icon-idcard zfs-18 {$userinfo.realverify != 2?'ztext-unbind':'text-primary'}" title="{$userinfo.realverify != 2?'未实名认证':'已实名认证'}"></a>
                                    <a href="javascript:;" class="px-1 iconfont icon-mobile zfs-18 {$userinfo.is_phone == '0'?'ztext-unbind':'text-primary'}" data-toggle="tooltip" title="{$userinfo.is_phone == '0'?'手机未绑定':'手机已绑定'}"></a>
                                    <a href="javascript:;" data-toggle="tooltip" title="{$userinfo.is_email == '0'?'邮箱未绑定':'邮箱已绑定'}" class="iconfont icon-mail zfs-18 {$userinfo.is_email == '0'?'ztext-unbind':'text-primary'}"></a>
                                </div>
                            </div>
                            <div>
                                <ul class="list-inline d-flex mt-2 mb-2 ml-3">
                                    <li class="list-inline-item mr-auto">
                                        <a href="{:url('Index/Iam/overview')}" class="linkblue">
                                            <span class="iconfont icon-paichandingdan mr-2 zfs-18"></span><span>用户中心</span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item mr-4">
                                        <a href="{:url('Index/Iam/accesslist')}" class="linkblue   broder-0 myborder-left-0">
                                            <span class="iconfont icon-Security-SCS mr-2 zfs-18"></span><span>安全认证</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="list-inline d-flex mt-4 mb-2 ml-3">
                                    <!-- <li class="list-inline-item mr-auto">
                                        <a href="#" class="linkblue">
                                            <span class="iconfont icon-gongdanliebiao mr-2 zfs-18"></span><span>多用户访问控制</span>
                                        </a>
                                    </li> -->
                                    <li class="list-inline-item mr-5">
                                        <a href="/logout" class="linkblue">
                                            <span class="iconfont icon-roundclose mr-2 zfs-18"></span><span>退出</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>