{extend name="index/index"}
{block name="content"}
    <div class="page-header">
        <h5>站点信息</h5>
    </div>
    <div class="mixbox box mt15 main">
        <div class="box-content tab-pane J-check-box">
            <form id="edit" class="form-horizontal" action="{:url('setting/save_site')}" method="post">
                <div class="form-group">
                    <label class="col-sm-1 control-label">站点名称：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control pull-left" name="siteName" id="siteName" value="{$res['siteName']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">网站名称：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control pull-left" name="webName" id="webName" value="{$res['webName']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">网站网址：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control pull-left" name="webSite" id="webSite" value="{$res['webSite']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">网站Logo：</label>
                    <div class="col-sm-4">
                        <img class="img-responsive" src="{$res['pic']}" alt="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">Logo图：</label>
                    <div class="col-sm-4">
                        <input type="file" class="form-control pull-left" name="file" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">管理邮箱：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control pull-left" name="email" id="email" value="{$res['email']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">客服QQ：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control pull-left" name="QQ" id="QQ" value="{$res['QQ']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">备案信息：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control pull-left" name="filingInfo" id="filingInfo" value="{$res['filingInfo']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">统计代码：</label>
                    <div class="col-sm-4">
                        <textarea style="resize:none;" name="code" id="" cols="61" rows="10">{$res['code']}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">关闭站点：</label>
                    <div class="col-sm-4">

                        <div class="checkbox-inline">
                            <label><input type="radio" name="site_status"  value="0" {if condition="$res['site_status'] eq 0"} checked="checked" {/if} >是</label>
                            <label><input type="radio" name="site_status" value="1" {if condition="$res['site_status'] eq 1"} checked="checked" {/if} >否</label>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-1">
                        <button type="submit" class="btn btn-ces btn-block">确认提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{/block}

{block name="script"}
<script>
    $(function(){
        option1 = ({
            beforeSend: function() {
                if($("#edit #title").val() == "") {
                    alert('网站名不能为空！提交失败');
                    return false;
                }
                if($("#edit #beian").val() == "") {
                    alert('备案号不能为空！提交失败');
                    return false;
                }
                if($("#edit #domain").val() == "") {
                    alert('域名不能为空！提交失败');
                    return false;
                }
                if($("#edit #copyright").val() == "") {
                    alert('版权不能为空！提交失败');
                    return false;
                }
                if($("#edit #email").val() == "") {
                    alert('邮箱不能为空！提交失败');
                    return false;
                }
                if($("#edit #phone").val() == "") {
                    alert('电话不能为空！提交失败');
                    return false;
                }

            },
            success: function(data) {
                var data = eval('(' + data + ')');
                if(data.status == 1) {
                    alert("提交成功！");
                    window.location.href="{:url('setting/index')}";
                }else if (data.status == 1){
                    alert("BOS配置错误！");
                }else {
                    alert("提交出错");
                }
            }
        });
        $("#edit").ajaxForm(option1);
    })

</script>
{/block}