{extend name="index/index"}

{block name="content"}
        <div class="page-header">
            <h5>支付设置</h5>
        </div>
        <div class="main user">
            <form id="edit" class="form-horizontal" action="{:url('setting/save_pay')}" method="post">
                <div class="form-group">
                    <label class="col-md-1 control-label" for="">支付宝账户：</label>
                    <div class="col-md-4">
                        <input type="text" name="AlipayEmail" class="form-control line nickname" value="{$res.AlipayEmail}" placeholder="请输入您的支付宝账户邮箱" />
                        <label class="line-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label" for="">合作身份id：</label>
                    <div class="col-md-4">
                        <input type="text" name="AlipayPID" class="form-control line nickname" value="{$res.AlipayPID}" placeholder="请输入您的合作身份id" />
                        <label class="line-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label" for="">安全校验码：</label>
                    <div class="col-md-4">
                        <input type="text" name="AlipayKey" class="form-control line nickname" value="{$res.AlipayKey}"  placeholder="请输入您的支付宝安全校验码" />
                        <label class="line-label"></label>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-md-1 control-label" for="">微信APPID：</label>
                    <div class="col-md-4">
                        <input type="text" name="WxpayAPPID" class="form-control line nickname" value="{$res.WxpayAPPID}" placeholder="请输入您的昵称" />
                        <label class="line-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label" for="">微信商户ID：</label>
                    <div class="col-md-4">
                        <input type="text" name="WxpayMCHID" class="form-control line qq" value="{$res.WxpayMCHID}" placeholder="请输入您的QQ号码" />
                        <label class="line-label"></label>
                    </div>
                </div>
                <input type="hidden" name="id" value="{$res['id']}">
                <div class="form-group">
                    <label class="col-md-1 control-label" for="">微信KEY：</label>
                    <div class="col-md-4">
                        <input type="text" name="WxpayKEY" class="form-control line nickname" value="{$res.WxpayKEY}" placeholder="请输入您的昵称" />
                        <label class="line-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label" for="">Appsecret：</label>
                    <div class="col-md-4">
                        <input type="text" name="WxpayAPPSECRET" class="form-control line nickname" value="{$res.WxpayAPPSECRET}" placeholder="请输入您的昵称" />
                        <label class="line-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-4">
                        <button type="submit" class="btn btn-ces">提交修改</button>
                    </div>
                </div>
            </form>
        </div>
{/block}

{block name="script"}
<script>
    $(function(){
        option1 = ({
            beforeSend: function() {

            },
            success: function(data) {
                var data = eval('(' + data + ')');
                if(data.status == 1) {
                    alert("提交成功！");
                    window.location.href="{:url('setting/pay')}";
                }else if(data.status == 2){
                    alert('您没有操作权限!');
                } else {
                    alert("提交出错");
                }
            }
        });
        $("#edit").ajaxForm(option1);
    })

</script>
{/block}