{extend name="index/index"}

{block name="content"}
    <div class="page-header">
        <h5>验证码模板</h5>
    </div>
    <div class="mixbox box mt15 main">
        <div class="box-content tab-pane J-check-box">
            <form id="edit"  action="{:url('setting/save_yzm')}" method="post">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label" >AK：</label>
                        <div class="row" >
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="AK" id="AK" value="{$res['AK']}" />
                            </div>
                            <div class="col-md-8">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <br>
                        <input type="hidden" name="id" value="{$res['id']}">
                        <label class="control-label" >SK：</label>
                        <div class="row" >
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="SK" id="SK" value="{$res['SK']}" />
                            </div>
                            <div class="col-md-8">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <br>
                        <label class="control-label" >APPID：</label>
                        <div class="row" >
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="APPID" id="APPID" value="{$res['APPID']}" />
                            </div>
                            <div class="col-md-8">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <br>
                        <label class="control-label" >域名注册成功模板：</label>
                        <div class="row" >
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="domainReg" id="domainReg" value="{$res['domainReg']}" />
                            </div>
                            <div class="col-md-8">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <br>
                        <label class="control-label" >域名续费通知模板：</label>
                        <div class="row" >
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="domainRenew" id="domainRenew" value="{$res['domainRenew']}" />
                            </div>
                            <div class="col-md-8">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <br>
                        <label class="control-label" >域名续费成功模板：</label>
                        <div class="row" >
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="domainSucc" id="domainSucc" value="{$res['domainSucc']}" />
                            </div>
                            <div class="col-md-8">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <br>
                        <label class="control-label" >虚拟主机开通模板：</label>
                        <div class="row" >
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="host" id="host" value="{$res['host']}" />
                            </div>
                            <div class="col-md-8">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <br>
                        <label class="control-label" >虚拟主机续费模板：</label>
                        <div class="row" >
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="hostRenew" id="hostRenew" value="{$res['hostRenew']}" />
                            </div>
                            <div class="col-md-8">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <br>
                        <label class="control-label" >虚拟主机到期模板：</label>
                        <div class="row" >
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="hostExpire" id="hostExpire" value="{$res['hostExpire']}" />
                            </div>
                            <div class="col-md-8">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <br>
                        <label class="control-label" >企业邮箱开通模板：</label>
                        <div class="row" >
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="mail" id="mail" value="{$res['mail']}" />
                            </div>
                            <div class="col-md-8">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <br>
                        <label class="control-label" >云服务器开通模板：</label>
                        <div class="row" >
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="server" id="server" value="{$res['server']}" />
                            </div>
                            <div class="col-md-8">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <br>
                        <label class="control-label" >云服务器到期模板：</label>
                        <div class="row" >
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="serverExpire" id="serverExpire" value="{$res['serverExpire']}" />
                            </div>
                            <div class="col-md-8">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <br>
                        <label class="control-label" >云服务器续费模板：</label>
                        <div class="row" >
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="serverRenew" id="serverRenew" value="{$res['serverRenew']}" />
                            </div>
                            <div class="col-md-8">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-ces">确认提交</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
{/block}
{block name="script"}
<script>
    $(function(){
        option1 = ({
            beforeSend: function() {

            },
            success: function(data) {
                var data = eval('(' + data + ')');
                if(data.status == 1) {
                    alert("提交成功！");
                    window.location.href="{:url('setting/yzm')}";
                }else if(data.status == 2){
                    alert('您没有操作权限!')
                } else {
                    alert("提交出错");
                }
            }
        });
        $("#edit").ajaxForm(option1);
    })

</script>
{/block}