{extend name='index@Common/index' /} {block name='content'}
<div class="card">
  <div class="card-header  border-t pb-0" style="background-color: #fff">
    <!-- <p><small>查询财务状况或管理优惠券和发票。</small></p> -->
    <div class="tool-list d-flex">
      <ul class="list-inline mr-auto  m-0">
        <li class="list-inline-item ">
          <a href="#" class="fs-16">
            <h4>Access Key</h4>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-body fs-12 ">
    <div class="cont-box">
      <div class="pb-2">
        <span class="bg-f7f7 p-2">已创建{$count}个，最多可创建20个</span>
      </div>
      <div class="py-2">
        <button type="button" class="btn btn-primary btn-sm addlist"><i class="iconfont icon-icon_tianjia"></i>创建Access
          Key</button>
      </div>
      <div class="py-2 ml-nge">
        <div>
          <table class="table table-border mytb">
            <thead class="bg-fB p-2">
              <tr class="font-weight-light">
                <th>Access Key</th>
                <th>Secret Key</th>
                <th class="" style="width: 350px">说明</th>
                <th>创建时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              {if !empty($list) && !empty($list[0])} {foreach name="list" item="v"}
              <tr data-id="{$v.id}">
                <td>{$v.ak}</td>
                <td><button class="btn btn-link block_id px-0">显示</button><span class="d-none">{$v.sk}</span></td>
                <td>
                  <div class="inputclickblock">
                    <span class="inputclick-val mr-3">{$v.intro}</span><i class="iconfont icon-icon_xie1 fc-bff"></i>
                    <div class="inputclick d-none">
                      <input type="text" class="form-control form-control-sm mb-2" value="{$v.intro}">
                      <button type="button" class="btn btn-primary btn-sm enter-input">确定</button>
                      <button type="button" class="btn btn-light btn-sm out-input">取消</button>
                    </div>
                  </div>
                </td>
                <td>{$v.create_time}</td>
                <td>
                  <button class="btn btn-link px-0" onclick="del($(this))">删除</button>
                </td>
              </tr>
              {/foreach}{else /}
              <tr>
                <td colspan="5" rowspan="1" class="text-center">暂无数据</td>
              </tr>
              {/if}
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-between pt-3 pl-3">
          <ul class="mr-auto"></ul>
          <div class="pagination mb-0">
            {$list->render()}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{/block} {block name='modal'} {/block} {block name='js'}
<script>
  $(".addlist").click(function () {
    ajax('{:url("index/Iam/addaccessAuth")}', {}, 'post').then(e => {
      if (e.status == 200) {
        window.location.reload()
      } else {
        alert(e.msg)
      }
    })
  })

  const addclickblockbtn = function () {
    $(".block_id").click(function () {
      $(this).addClass("d-none");
      $(this).parent().children("span").removeClass("d-none")
    })
  }
  addclickblockbtn();
  const addclickblockinput = function () {
    $(".icon-icon_xie1").click(function () {
      $(".inputclick").addClass("d-none");
      $(this).siblings(".inputclick").removeClass("d-none");
    })
    $(".enter-input").click(function () {
      let t = $(this);
      t.parents('tr').find(".inputclick-val").html(t.prev().val());
      ajax('{:url("index/Iam/editaccessIntro")}',{
        id: t.parents('tr').data('id'),
        intro: t.prev().val()
      },'post').then(e=>{
        if(e.status == 200){
          // window.location.reload()
        } else {
          alert(e.msg)
        }
      })
      $(".inputclick").addClass("d-none");
    })
    $(".out-input").click(function () {
      $(".inputclick").addClass("d-none");
    })
  }
  addclickblockinput();
  function del(t){
    if(confirm('确认要删除该Access Key吗?')){
      ajax('{:url("index/Iam/delaccess")}',{
        id: t.parents('tr').data('id')
      },'post').then(e=>{
        if(e.status == 200){
          t.parents('tr').remove()
        } else {
          alert(e.msg)
        }
      })
    }
  }
</script>
{/block}