<div id="zmessage-wrap"> <!--消息滑入框部分-->
    <div class="border position-absolute bg-white" id="message-frame">
        <div>
            <div class="px-4 py-3 border-bottom d-flex list-inline">
                <span class="mr-3 list-inline-item">未读消息</span>
                <a href="../messageCenter/station-message.html" class="border px-2 text-secondary list-inline-item mr-auto" style="padding-bottom: 2px;"><span class="fs-12 linkblue">进入消息中心</span></a>
                <button type="button"  class="btn bg-white close list-inline-item" id="closemessage">
                    <span class="iconfont iconicon_guanbi zfs-16"></span>
                </button>
            </div>

            <!--有消息时的样式-->

            <div class="px-4 pt-2 set-readed">
                <ul class="list-inline form-inline mb-0" style="height: 30px">
                    <li class="list-inline-item mr-auto fs-12 text-secondary ml-1">[ 公告 ]</li>
                    <li class="list-inline-item fs-12 set-readed-1" style="color: #999">2019-03-25 10:43:08</li>
                    <li class="d-none set-readed-2">
                        <button type="button" class="list-inline-item btn btn-light btn-sm fs-12 px-1 py-0" style="border-radius: 30px!important;">设为已读</button>
                    </li>
                </ul>
                <div class="ml-1 border-bottom pb-3">
                    <span class="iconfont iconwarning text-warning zfs-16"></span>
                    <span class="fs-12">2019年3月25日，七朵云部分网络设备升级优化公告</span>
                </div>
            </div>
            <div class="px-4 pt-2 set-readed">
                <ul class="list-inline form-inline mb-0" style="height: 30px">
                    <li class="list-inline-item mr-auto fs-12 text-secondary ml-1">[ 百度云动态 ]</li>
                    <li class="list-inline-item fs-12 set-readed-1" style="color: #999">2019-03-25 10:43:08</li>
                    <li class="d-none set-readed-2">
                        <button type="button" class="list-inline-item btn btn-light btn-sm fs-12 px-1 py-0" style="border-radius: 30px!important;">设为已读</button>
                    </li>
                </ul>
                <div class="ml-1 border-bottom pb-3">
                    <span class="fs-12">2019年3月25日，七朵云产品技术更新，技术更新了，更新了</span>
                </div>
            </div>
            <div class="px-4 pt-2 set-readed">
                <ul class="list-inline form-inline mb-0" style="height: 30px">
                    <li class="list-inline-item mr-auto fs-12 text-secondary ml-1">[ 产品服务 ]</li>
                    <li class="list-inline-item fs-12 set-readed-1" style="color: #999">2019-03-25 10:43:08</li>
                    <li class="d-none set-readed-2">
                        <button type="button" class="list-inline-item btn btn-light btn-sm fs-12 px-1 py-0" style="border-radius: 30px!important;">设为已读</button>
                    </li>
                </ul>
                <div class="ml-1 border-bottom pb-3">
                    <span class="fs-12">2019年3月25日，七朵云产品上新公告</span>
                </div>
            </div>

            <!--无消息时的样式-->

            <!--<div class="position-absolute z-nomessage-position">
                <span class="fs-12">
                    <a href="../messageCenter/station-message.html">进入消息中心<br>查看全部消息</a>
                </span>
            </div>-->

        </div>
    </div>
</div>