 <footer class="main-footer">
    <div class="footerbox">
        <div class="footer-service">
            <ul>
                <li><img src="__THEMES__/defualt/img/renmb2.png" width="50px" alt=""> 5天内无理由退款</li>
                <li><img src="__THEMES__/defualt/img/biey.png" width="50px" alt=""> 免费备案</li>
                <li><img src="__THEMES__/defualt/img/kehu.png" width="50px" alt=""> 1V1大客户服务</li>
                <li><img src="__THEMES__/defualt/img/kefu.png" width="50px" alt=""> 7x24小时服务</li>
            </ul>
        </div>
        <div class="row listhref">
            <div class="col-md-2">
                <div class="name">云计算</div>
                <ul>
                    <li><a href="#">产品</a></li>
                    <li><a href="#">云市场</a></li>
                    <li><a href="#">客户案例</a></li>
                    <li><a href="#">产品发布台</a></li>
                    <li><a href="#">网站备案</a></li>
                    <li><a href="#">认证信息</a></li>
                    <li><a href="#">许可证说明</a></li>
                    <li><a href="#">隐私声明</a></li>
                    <li><a href="#">关于我们</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <div class="name">解决方案</div>
                <ul>
                    <li><a href="#">视频</a></li>
                    <li><a href="#">游戏</a></li>
                    <li><a href="#">金融</a></li>
                    <li><a href="#">电商</a></li>
                    <li><a href="#">网站</a></li>
                    <li><a href="#">大数据</a></li>
                    <li><a href="#">人脸核身</a></li>
                    <li><a href="#">在线教育</a></li>
                    <li><a href="#">微信小程序</a></li>
                    <li><a href="#">微信小程序音视频</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <div class="name">资源与社区</div>
                <ul>
                    <li><a href="#">免费套餐</a></li>
                    <li><a href="#">入门中心</a></li>
                    <li><a href="#">定价中心</a></li>
                    <li><a href="#">资源中心</a></li>
                    <li><a href="#">在线学习中心</a></li>
                    <li><a href="#">云+社区</a></li>
                    <li><a href="#">专栏</a></li>
                    <li><a href="#">问答</a></li>
                    <li><a href="#">沙龙</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <div class="name">合作与生态</div>
                <ul>
                    <li><a href="#">合作伙伴</a></li>
                    <li><a href="#">合作伙伴学院</a></li>
                    <li><a href="#">推广奖励</a></li>
                    <li><a href="#">云+公益</a></li>
                    <li><a href="#">云+校园</a></li>
                    <li><a href="#">云+创业</a></li>
                    <li><a href="#">“云+未来”峰会</a></li>
                    <li><a href="#">云启产业计划</a></li>
                    <li><a href="#">腾讯云启创新基地</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <div class="name">管理与支持</div>
                <ul>
                    <li><a href="#">公告</a></li>
                    <li><a href="#">控制台</a></li>
                    <li><a href="#">续费管理</a></li>
                    <li><a href="#">访问管理</a></li>
                    <li><a href="#">安全中心</a></li>
                    <li><a href="#">工单管理</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">产品建议与反馈</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <div class="name">
                    <span>微信</span>
                </div>
                <ul style="width: 75%;">
                    <li>Copyright © 2013 - 2019 </li>
                    <li>qiduo Cloud. All Rights Reserved. </li>
                    <li>七朵云版权所有</li>
                </ul>
                <button type="button" class="btn btn-primary btnbuy">购买咨询</button>
            </div>
        </div>
        <div class="products-links">
            <div>
                <ul>
                    <li><span class="name">热门产品</span></li>
                    <li><a href="#">域名注册</a></li>
                    <li><a href="#">云服务器</a></li>
                    <li><a href="#">区块链技术</a></li>
                    <li><a href="#">消息队列</a></li>
                    <li><a href="#">网络加速</a></li>
                    <li><a href="#">关系型数据库</a></li>
                    <li><a href="#">域名解析</a></li>
                    <li><a href="#">云存储</a></li>
                    <li><a href="#">宿主机</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><span class="name">更多推荐</span></li>
                    <li><a href="#">数据安全</a></li>
                    <li><a href="#">学生机</a></li>
                    <li><a href="#">短信群发平台</a></li>
                    <li><a href="#">文字识别</a></li>
                    <li><a href="#">视频点播</a></li>
                    <li><a href="#">数据安全审计</a></li>
                    <li><a href="#">小程序开发</a></li>
                    <li><a href="#">网站监控</a></li>
                    <li><a href="#">域名备案</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><span class="name">热门推荐</span></li>
                    <li><a href="#">人脸识别</a></li>
                    <li><a href="#">网站备案</a></li>
                    <li><a href="#">数据可视化</a></li>
                    <li><a href="#">CDN 加速</a></li>
                    <li><a href="#">视频转码</a></li>
                    <li><a href="#">图片文字识别</a></li>
                    <li><a href="#">MySQL 数据库</a></li>
                    <li><a href="#">SSL 证书</a></li>
                    <li><a href="#">语音识别</a></li>
                </ul>
            </div>
        </div>
        <div class="products-links2">
            <div class="row">
                <div class="col-md-10">
                    <div class="">
                        <img src="{$basicInfo.logo}" alt="" width="100px">
                        <a href="#">开放平台</a>
                        <a href="#">物联</a>
                        <a href="#">DNSPod</a>
                        <a href="#">公众平台</a>
                        <a href="#">优图</a>
                        <a href="#">蓝鲸</a>
                        <a href="#">企业</a>
                        <a href="#">微云</a>
                        <a href="#">文档</a>
                        <a href="#">友情链接</a>
                    </div>
                    <div class="copyright">
                      <span>© 2019 {$basicInfo.name} </span>
                      <a href="#" target="_blank" class="mr-2">{$basicInfo.idc}</a> 
                      <a href="#" target="_blank" class="mr-2">{$basicInfo.isp}</a> 
                      <span>ICP备案：</span>
                      <a href="#" target="_blank" class="mr-2">{$basicInfo.icp}</a> 
                      <span>公安网安备：</span> 
                      <a href="#" target="_blank" class="mr-2">{$basicInfo.beian}</a>
                    </div c>
                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            中国站
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">中国站</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>