<meta charset="utf-8" />
<title>{$basicInfo.name}</title>
<link rel="Shortcut Icon" href="{$basicInfo.favicon}">
<link rel="Bookmark" href="{$basicInfo.favicon}">
<link rel="stylesheet" href="__THEMES__/defualt/css/lib/bootstrap.min.css">
<link rel="stylesheet/less" href="__THEMES__/defualt/css/less/style.less">
<script src="__THEMES__/defualt/js/lib/less.min.js"></script>
<link rel="stylesheet" href="__THEMES__/defualt/css/lib/datepicker.css">
<script src="__THEMES__/defualt/js/lib/jquery.min.js"></script>