<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <!--这里未使用定制bootstrap，而是使用覆盖的方式，是为了大家届时替换为第三方cdn-->
    <link rel="stylesheet" href="__ROOT__/static/install/css/lib/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/install/css/lib/swiper-3.3.1.min.css" />
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_it542entz5btke29.css" />
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--<link rel="stylesheet" href="__ROOT__/static/install/css/css/style.css?v0.001" />-->
    <link rel="stylesheet/less" type="text/css" href="__ROOT__/static/install/css/less/style.less?v1.0.0" />
    <script type="text/javascript" src="__ROOT__/static/install/js/lib/less.js"></script>
    <script type="text/javascript" src="__ROOT__/static/install/js/lib/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="__ROOT__/static/install/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="__ROOT__/static/install/js/lib/swiper-3.3.1.jquery.min.js"></script>
    <script type="text/javascript" src="__ROOT__/static/install/js/lib/swiper.animate.min.js"></script>
</head>

<body class="install">
{block name='content'}

{/block}
</body>
<script type="text/javascript">
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 30,
        effect: 'fade',
        loop: true,
        autoplay: 5000,
        autoplayDisableOnInteraction: false
    });
    $(window).scroll(function(e) {
        if(this.scrollY > 430) {
            $('.navbar').addClass('fixed');
        } else {
            $('.navbar').removeClass('fixed');
        }
    });
</script>
</html>