<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="HandheldFriendly" content="True">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<!--这里未使用定制bootstrap，而是使用覆盖的方式，是为了大家届时替换为第三方cdn-->
		<link rel="stylesheet" href="__ROOT__/static/install/css/lib/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" type="text/css" href="__ROOT__/static/install/css/lib/swiper-3.3.1.min.css" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_it542entz5btke29.css" />
		<!--[if lt IE 9]>
 	    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
 	    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
   		<![endif]-->
		<!--<link rel="stylesheet" href="__ROOT__/static/install/css/__ROOT__/static/install/css/style.css?v0.001" />-->
		<link rel="stylesheet/less" type="text/css" href="__ROOT__/static/install/css/less/style.less?v1.0.0" />
		<script type="text/javascript" src="__ROOT__/static/install/js/lib/less.js"></script>
	</head>

	<body class="install">
		<div class="install-step step1">
			<div class="thumbnail">
				<div class="header-box" style="background-image: url('__ROOT__/static/install/img/bj2.png');">
					<div class="amid text-center">
						<div class="media">
							<div class="media-left media-middle">
								<span>1.</span>
							</div>
							<div class="media-body media-middle">
								<h2>开始安装</h2>
								<p>环境以及文件目录权限检查</p>
							</div>
						</div>
					</div>
					<ul class="nav nav-pills nav-justified step step-round-wh unhover">
						<li class="active">
							<a>检查环境</a>
						</li>
						<li>
							<a>设置运行环境</a>
						</li>
						<li>
							<a>创建数据库</a>
						</li>
						<li>
							<a>安装</a>
						</li>
					</ul>
				</div>
				<div class="caption body-box">
					<div class="panel">
						<div class="panel-heading">
							环境检查
						</div>
						<table class="table">
							<thead>
								<tr>
									<th>项目</th>
									<th>所需配置</th>
									<th>最佳配置</th>
									<th style="width: 210px;">当前配置</th>
								</tr>
							</thead>
							<tbody>
							{foreach $env as $v}
								<tr>
									<td>{$v.0}</td>
									<td>{$v.1}</td>
									<td>{$v.2}</td>
									<td>{eq name='v.4' value='success'}<i class="iconfont icon-dui">{else/}<i class="iconfont icon-guanbi text-danger" style="margin-right: 10px;">{/eq}</i>{$v.3}</td>
								</tr>
							{/foreach}
							</tbody>
						</table>
					</div>
					<div class="panel">
						<div class="panel-heading">
							目录、文件权限检查
						</div>
						<table class="table">
							<thead>
								<tr>
									<th>目录文件</th>
									<th>所需状态</th>
									<th>当前状态</th>
								</tr>
							</thead>
							<tbody>
								{foreach $file as $v}
								<tr>
									<td>{$v.3}</td>
									<td><i class="iconfont icon-dui"></i>{$v.1}</td>
									<td>{eq name='v.2' value='success'}<i class="iconfont icon-dui"></i>可写{else/}<i class="iconfont icon-guanbi text-danger" style="margin-right: 10px;"></i>不可写{/eq}</td>
								</tr>
								{/foreach}
							</tbody>
						</table>
					</div>
					<div class="panel">
						<div class="panel-heading">
							函数依赖性检查
						</div>
						<table class="table">
							<thead>
								<tr>
									<th>函数名称</th>
									<th>类型</th>
									<th>检查结果</th>

								</tr>
							</thead>
							<tbody>
								{foreach $func as $v}
								<tr>
									<td>{$v.0}</td>
									<td>{$v.3}</td>
									<td>{eq name='v.2' value='success'}<i class="iconfont icon-dui"></i>支持{else/}<i class="iconfont icon-guanbi text-danger" style="margin-right: 10px;"></i>不支持{/eq}</td>

								</tr>
								{/foreach}
							</tbody>
						</table>
					</div>
					<div class="mt45">
						<a href="{:url('/install/index')}" class="btn btn-ces">上一步</a>
						<a href="{:url('/install/index/install_step2')}" class="btn btn-ces">下一步</a>
					</div>
				</div>
				<div class="copyright">
					Copyright&copy; 2016-2017 Geesystem
				</div>
			</div>
		</div>
		<script type="text/javascript" src="__ROOT__/static/install/js/lib/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="__ROOT__/static/install/js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="__ROOT__/static/install/js/lib/swiper-3.3.1.jquery.min.js"></script>
		<script type="text/javascript" src="__ROOT__/static/install/js/lib/swiper.animate.min.js"></script>
		<script type="text/javascript">
			var swiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				paginationClickable: '.swiper-pagination',
				nextButton: '.swiper-button-next',
				prevButton: '.swiper-button-prev',
				spaceBetween: 30,
				effect: 'fade',
				loop: true,
				autoplay: 5000,
				autoplayDisableOnInteraction: false
			});
			$(window).scroll(function(e) {
				if(this.scrollY > 430) {
					$('.navbar').addClass('fixed');
				} else {
					$('.navbar').removeClass('fixed');
				}
			});
		</script>
	</body>

</html>