<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="HandheldFriendly" content="True">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<!--这里未使用定制bootstrap，而是使用覆盖的方式，是为了大家届时替换为第三方cdn-->
		<link rel="stylesheet" href="__ROOT__/static/install/css/lib/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" type="text/css" href="__ROOT__/static/install/css/lib/swiper-3.3.1.min.css" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_it542entz5btke29.css" />
		<!--[if lt IE 9]>
 	    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
 	    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
   		<![endif]-->
		<!--<link rel="stylesheet" href="__ROOT__/static/install/css/css/style.css?v0.001" />-->
		<link rel="stylesheet/less" type="text/css" href="__ROOT__/static/install/css/less/style.less?v1.0.0" />
		<script type="text/javascript" src="__ROOT__/static/install/js/lib/less.js"></script>
	</head>

	<body class="install">
		<div class="install-step step3 mt15">
			<div class="thumbnail">
				<div class="header-box" style="background-image: url('__ROOT__/static/install/img/bj3.png');">
					<div class="amid text-center">
						<div class="media">
							<div class="media-left media-middle">
								<span>3.</span>
							</div>
							<div class="media-body media-middle">
								<h2>配置数据库</h2>
								<p>请填写数据库信息</p>
							</div>
						</div>
					</div>
					<ul class="nav nav-pills nav-justified step step-round-wh unhover">
						<li class="active">
							<a>检查环境</a>
						</li>
						<li class="active">
							<a>设置运行环境</a>
						</li>
						<li class="active">
							<a>创建数据库</a>
						</li>
						<li>
							<a>安装</a>
						</li>
					</ul>
				</div>
				<div class="caption body-box">
					<form action="{:url('/install/index/install')}" method="post">
						<div class="panel">
							<div class="panel-heading">
								填写数据库信息
							</div>
							<div class="form-horizontal">
								<div class="form-group">
									<label for="" class="control-label col-md-3">数据库服务器：</label>
									<div class="col-md-4">
										<input type="text" name="dbaddress" class="form-control unline" />
									</div>
									<div class="col-md-5">
										<span class="help-block">
											数据库服务器地址，一般为localhost
										</span>
									</div>
								</div>
								<div class="form-group">
									<label for="" class="control-label col-md-3">数据库名：</label>
									<div class="col-md-4">
										<input type="text" name="dbname" class="form-control unline" />
									</div>
									<div class="col-md-5">
										<span class="help-block">

										</span>
									</div>
								</div>
								<div class="form-group">
									<label for="" class="control-label col-md-3">数据库用户名：</label>
									<div class="col-md-4">
										<input type="text" name="dbuser" class="form-control unline" />
									</div>
									<div class="col-md-5">
										<span class="help-block">

										</span>
									</div>
								</div>
								<div class="form-group">
									<label for="" class="control-label col-md-3">数据库密码：</label>
									<div class="col-md-4">
										<input type="password" name="dbpwd" class="form-control unline" />
									</div>
									<div class="col-md-5">
										<span class="help-block">

										</span>
									</div>
								</div>
								<div class="form-group">
									<label for="" class="control-label col-md-3">数据库前缀：</label>
									<div class="col-md-4">
										<input type="text" name="dbpre"  class="form-control unline" />
									</div>
									<div class="col-md-5">
										<span class="help-block">
											同一数据库运行多个论坛时，请改前缀
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								填写管理员信息
							</div>
							<div class="form-horizontal">
								<div class="form-group">
									<label for="" class="control-label col-md-3">管理员账号：</label>
									<div class="col-md-4">
										<input type="text" name="adminuser" class="form-control unline" />
									</div>
									<div class="col-md-5">
										<span class="help-block">

										</span>
									</div>
								</div>
								<div class="form-group">
									<label for="" class="control-label col-md-3">管理员密码：</label>
									<div class="col-md-4">
										<input type="password" name="adminpwd" class="form-control unline" />
									</div>
									<div class="col-md-5">
										<span class="help-block">
											管理员密码不能为空
										</span>
									</div>
								</div>
								<div class="form-group">
									<label for="" class="control-label col-md-3">重复密码：</label>
									<div class="col-md-4">
										<input type="password" name="readminpwd" class="form-control unline" />
									</div>
									<div class="col-md-5">
										<span class="help-block">

										</span>
									</div>
								</div>
								<div class="form-group">
									<label for="" class="control-label col-md-3">系统信箱Email：</label>
									<div class="col-md-4">
										<input type="text" name="email" class="form-control unline" />
									</div>
									<div class="col-md-5">
										<span class="help-block">
											用于发送程序错误报告
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="mt45">
							<!--<a href="" class="btn btn-ces">上一步</a>-->
							<button class="btn btn-ces">下一步</button>
						</div>
					</form>
				</div>
				<div class="copyright">
					Copyright&copy; 2016-2017 Geesystem
				</div>
			</div>
		</div>
		<script type="text/javascript" src="__ROOT__/static/install/js/lib/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="__ROOT__/static/install/js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="__ROOT__/static/install/js/lib/swiper-3.3.1.jquery.min.js"></script>
		<script type="text/javascript" src="__ROOT__/static/install/js/lib/swiper.animate.min.js"></script>
		<script type="text/javascript">
			var swiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				paginationClickable: '.swiper-pagination',
				nextButton: '.swiper-button-next',
				prevButton: '.swiper-button-prev',
				spaceBetween: 30,
				effect: 'fade',
				loop: true,
				autoplay: 5000,
				autoplayDisableOnInteraction: false
			});
			$(window).scroll(function(e) {
				if(this.scrollY > 430) {
					$('.navbar').addClass('fixed');
				} else {
					$('.navbar').removeClass('fixed');
				}
			});
		</script>
	</body>

</html>