<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>验证手机号</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="__ROOT__/static/login/css/lib/bootstrap.min.css" type="text/css">
    <!--[if lt IE 9]> <script>location.href="old.html"</script> <![endif]-->
    <!--<link rel="stylesheet" href="__ROOT__/static/login/css/less/style.css?v0.001" />-->
    <link rel="stylesheet/less" type="text/css" href="__ROOT__/static/login/css/less/style.less?1.00" />
    <script type="text/javascript" src="__ROOT__/static/login/js/lib/less.js"></script>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_n82t7dpj70evcxr.css" />
</head>

<body class="log-qr">
<div class="container log-cont">
    <div class="logo">
        <img src="/static/login/img/qiduo.png">
    </div>
    <div class="box regist">
        <div class="tab-content" style="margin-top: 45px;">
            <div role="tabpanel" class="tab-pane active" id="passlog">
                <form id="log" class="form-horizontal" action="{:url('login/savephone')}" method="post">
                    <div class="form-group">
                        <input type="text" id="regTel" name="phone" class="form-control" placeholder="手机">
                    </div>
                    <input type="hidden" name="id" value="{$id}">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="yzm" id="notecode" class="form-control" placeholder="验证码">
                            <span class="input-group-btn" id="hqdx">
				        		<button class="btn btn-default" type="button" onclick="timeedCount(60,1)">发送验证码</button>
				    		</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-ces">立即登录</button>
                </form>
            </div>
            <div class="hint">
                <p class="text-center small">推荐使用先进浏览器获得最佳体验</p>
                <p class="text-center small">
                    <a href="http://rj.baidu.com/soft/detail/14744.html" target="_blank"><img style="width:25px;margin-right:5px;" src="https://stor.weixinhost.com/3/wxhost-images/ar_766e9d8fc25580e98ff4416d62f06e2a5423e3a8"> 下载Chrome浏览器</a>
                </p>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="__ROOT__/static/login/js/lib/jquery-1.11.0.js"></script>
<script type="text/javascript" src="__ROOT__/static/login/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/login/js/lib/jquery.nicescroll.js"></script>
<script type="text/javascript" src="__ROOT__/static/login/js/lib/jquery.qqFace.js"></script>
<script type="text/javascript" src="__ROOT__/static/login/js/lib/store.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/login/js/lib/jquery.form.js"></script>
<script type="text/javascript" src="__ROOT__/static/login/js/app.js"></script>
<script>
    var yzm;
    var t = 1;
    function timeedCount(time, type) {
        times = time;
        var text = $("#regTel").val();
        if (!(/^(1[3-9][0-9])\d{8}$/.test($("#regTel").val()))) {
            $("#hqdx").html('<a class="btn btn-sm btn-primary" onclick="timeedCount(60,1)"><span class="pl5 pr5">发送验证码</span></a>');
            alert('电话号码输入有误！');
            return false;
        }
        $.ajax({
            url: "{:url('Login/phoneve')}",
            data: {'phone': text},
            asyn: false,
            type: 'post',
            success: function (d) {
                if (d == 1) {
                    alert('电话号码已注册！');
                } else {

                    if (type == 1) {
                        var phone = $("#regTel").val();
                        if (t == 1) {
                            $.ajax({
                                url: "{:url('Login/bcesms')}",
                                data: {'phone': phone},
                                type: 'post',
                                success: function (d) {
                                    if (d != 1) {
                                        yzm = d;
                                    }else if(d ==3){
                                        alert('验证码已发送，请勿重新提交');
                                    }
                                }
                            });
                        }
                        $("#hqdx").html('<a class="btn btn-sm btn-primary"><span class="pl5 pr5">' + times + '秒</span></a>');
                        if (times > 0) {
                            times = times - 1;
                            t = setTimeout("timeedCount(times,1)", 1000);
                        } else {
                            clearTimeout(t);
                            $("#hqdx").html('<a class="btn btn-sm btn-primary" onclick="timeedCount(60,1)"><span class="pl5 pr5">发送验证码</span></a>');
                        }
                    }
                }
            }
        });

    }
</script>
<script>
    option2 = ({
        beforeSend: function () {
            if (!(/^(1[3-9][0-9])\d{8}$/.test($("#regTel").val()))) {
                alert('电话号码输入有误！');
                return false;
            }
            if ($("#log #regTel").val() == '') {
                alert('请输入电话号码！');
                return false;
            }
            if ($("#log #notecode").val() == '') {
                alert('请输入手机验证码！');
                return false;
            }
            if ($("#log #notecode").val() != yzm) {
                alert('手机验证码不正确！');
                return false;
            }
        },
        success: function (data) {
            if (data == 1) {
                window.location.href = "{:url('member/index/index')}";
            } else {
                alert('表单提交失败');
            }
        }
    });
    $("#log").ajaxForm(option2);
</script>
</body>

</html>