{extend name="index/index"}
{block name="content"}
				<div class="page-header">
					<h5>代理商管理</h5>
				</div>
				<div class="main">
					<div class="mixbox">
						<div class="table-responsive">

							<div class="tool-box">
								<a href="{:url('finance/editAgent')}" class="btn btn-ces"><i class="iconfont icon-plus r"></i>新增</a>
							</div>
							<table class="table tools">
								<thead>
								<tr class="sortmix">

									<th class="lock">等级名称</th>
									<th class="lock">等级状态</th>
									<th class="lock control">操作</th>
								</tr>
								</thead>
								<tbody>
								{foreach $res as $v}
								<tr>
									<th scope="row">{$v.name}</th>
									<td>
										<a href="javascript:;" class="updatestatus btn {eq name='$v.status' value='1'} btn-success {else/} btn-danger {/eq} btn-xs" nid="{$v.id}" nstatus="{$v.status}">
											{if condition="$v['status'] eq 1"} 启用
											{else /} 停用
											{/if}
										</a>
									</td>
									<td style="text-align:left;" class="control">
										<a href="{:url('finance/editAgent',['id'=>$v.id])}" class="btn btn-ces btn-xs">修改</a>
										<a href="javascript:;" nid="{$v.id}" class="btn btn-danger btn-xs js-del">删除</a>
									</td>
								</tr>
								{/foreach}
								</tbody>
							</table>
						</div>
					</div>
				</div>


	{/block}
{block name="script"}
<script>
	//显示隐藏
	$('.updatestatus').click(function () {
		var id = $(this).attr('nid');
		var thiss = $(this);
		var stat = $(this).attr('nstatus');
		if (stat == 1) {
			stat = 0;
		} else {
			stat = 1;
		}
		$.ajax({
			type: 'POST',
			url:"{:url('finance/statusAgent')}",
			data: {id: id, status: stat},
			dataType: "json",
			success: function (data) {
				if (data['msg'] == 1) {
					if (data['status'] == 1) {
						thiss.removeClass('btn-danger');
						thiss.addClass('btn-success');
						thiss.html('启用');
					} else {
						thiss.removeClass('btn-success');
						thiss.addClass('btn-danger');
						thiss.html('停用');
					}
					thiss.attr('nid', data['id']);
					thiss.attr('nstatus', data['status']);
				}
			}
		})
	});

	$('.js-del').click(function () {

		var thiss = $(this);
		var id = $(this).attr('nid');
		$.ajax({
			type: 'POST',
			url:"{:url('finance/delAgent')}",
			data: {id: id},
			dataType: 'json',
			success: function (data) {
				if (data['msg'] == 1) {
					alert('删除成功');
					window.location.reload();
				}
			}
		})
	});
</script>
{/block}
