{extend name="index/index"}
{block name="content"}
				<div class="page-header">
					<h5>优惠管理</h5>
				</div>
				<div class="main">
					<div class="mixbox">
						<div class="table-responsive">
							<div class="tool-box">
								<form class="form-inline" action="{:url('finance/flowrecord')}" method="get">
									<div class="btn-group">
										<div class="col-md-12">
											<select name="t_type" class="form-control">
												<option value="">全部</option>
												<option value="1" {if condition="$Request.session.t_type eq 1"} selected="selected"{/if} >未使用</option>
												<option value="2" {if condition="$Request.session.t_type eq 2"} selected="selected"{/if} >已使用</option>
											</select>
										</div>
									</div>
									<div class="input-group pull-right">
										<input type="submit" value="点击查询" class="btn btn-ces"></span>
									</div>
								</form>

							</div>
							<table class="table tools">
								<thead>
									<tr class="sortmix">
										<th class="lock tal">序号</th>
										<th class="lock">所有人</th>
										<th class="lock">使用类型</th>
										<th class="lock">满减金额</th>
										<th class="lock">获取时间</th>
										<th class="lock">代金券状态</th>
										<th class="lock">是否使用</th>
									</tr>
								</thead>
								<tbody>
								{foreach $res as $val}
									<tr>
										<td>{$val.id}</td>
										<th class="lock">{$val.userq.username}</th>
										<th class="lock">{if condition="$val.type eq 'ALL'"} 通用 {else/}{$val.type}{/if}</th>
										<th class="lock">满{$val.money}减{$val.discount}</th>
										<th class="lock">{$val.create_time}</th>
										<th class="lock">{if condition="$val.create_time gt $current"}未过期 {else/}已过期{/if}</th>
										<th class="lock">
											{switch name='val.status'}
												{case value='1'}未使用{/case}
											{default /}已使用
											{/switch}
										</th>
									</tr>
								{/foreach}
								</tbody>
							</table>
							<div class="vba-pagination">
								<ul class="pagination pull-left">
									{$res->render()}
								</ul>
							</div>
						</div>
					</div>
				</div>
{/block}
{/block name="script"}
		<script type="text/javascript" src="js/lib/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/lib/echarts.min.js"></script>
		<script type="text/javascript">

		</script>
{/block}