{extend name="index/index"}
{block name="content"}

    <div class="page-header">
        <h5>编辑代理等级</h5>
    </div>
    <div class="main">
        <div class="mixbox">
            <form id="addserver" class="form-horizontal" action="{:url('finance/saveAgent')}" method="post">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">等级名称：</label>
                    <div class="col-md-4">
                        <input type="text" name="name" class="form-control unline title" placeholder="请输产品入型号" {notempty name="data.name"}value="{$data.name}"{/notempty}/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">等级状态：</label>
                    <div class="checkbox col-md-4">
                        <select class="form-control line" name="status">
                            <option value="1" {notempty name="status"}{eq name="status" value="1" }selected{/eq}{/notempty}>启用</option>
                            <option value="0" {notempty name="status"}{eq name="status" value="0" }selected{/eq}{/notempty}selected{/eq}>停用</option>
                        </select>
                    </div>
                </div>

                <input type="hidden" name="id" {notempty name="id"} value={$id} {/notempty}>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <button type="submit" class="btn btn-ces tijiao">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    $(function() {
        $('#selectTitle').initList();

        $('.select select').on('change', function() {
            if($(this).val() == '1') {
                $('.crowdGroup').removeClass('hidden');
                $('.aloneGroup').addClass('hidden');
                $('.aloneGroup').find('#hideSel').val('');
            } else {
                $('.aloneGroup').removeClass('hidden');
                $('.crowdGroup').addClass('hidden');
                $('.aloneGroup').find('#hideSel').val('');
            }
        });
    })


    $('.tijiao').click(function () {
        var formData = new FormData($('#addserver')[0]);
        $.ajax({
            url: "{:url('finance/saveAgent')}",
            type: "post",
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {

                if (data['code'] == 1) {
                    alert(data.msg);
                    window.location.href = "{:url('finance/agent')}";
                }else {
                    alert(data.msg);
                    window.history.back(-1);
                }
            },
        });

        return false;
    })
</script>
{/block}