{extend name="index/index"}
{block name="content"}
				<div class="page-header">
					<h5>财务概览</h5>
				</div>
				<div class="main">
					<div class="mixbox">
						<h4>概览</h4>
						<hr />
						<div class="row">
							<div class="col-md-12">
								<ul class="list-unstyled row ucenter-info">
									<li class="col-xs-2 text-center">当期余额
										<h1 class="text-danger rmb">{$ye}</h1>
									</li>
									<li class="col-xs-2 text-center">当期充值
										<h1 class="text-success rmb">{$cz}</h1>
									</li>
									<li class="col-xs-2 text-center">当期消费
										<h1 class="text-warning rmb">{$xf}</h1>
									</li>
									<li class="col-xs-2 text-center">代金券总额
										<h1 class="info ac"><a href="">0</a></h1>
									</li>
									<li class="col-xs-2 text-center">快捷操作<br />
										<div class="row pt10">
											<div class="col-sm-6">
												<a href="{:url('finance/ticketapply')}" class="btn btn-default btn-sm mb10">发票管理 </a>
											</div>
											<div class="col-sm-6">
												<a href="" class="btn btn-default btn-sm mb10">代金券发放</a>
											</div>
											<div class="col-sm-6">
												<a href="{:url('finance/billinglist')}" class="btn btn-default btn-sm mb10">账户充值</a>
											</div>
										</div>

									</li>
								</ul>
							</div>
						</div>
						<hr />
						<h4>消费概览</h4>
						<hr />
						<div id="main" style="width: 100%;height: 400px;"></div>
						<hr />
						<h4>当月消费情况</h4>
						<hr />
						<div class="table-responsive">
							<div class="tool-box">
								<form class="form-inline" action="{:url('finance/index')}" method="get">
									<!--<div class="btn-group">-->
										<!--&lt;!&ndash;<button type="button" class="btn btn-default">全部</button>-->
										<!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>-->
										<!--<ul class="dropdown-menu">-->
											<!--<li class="active">-->
												<!--<a>全部</a>-->
											<!--</li>-->
											<!--<li class="">-->
												<!--<a>审核中</a>-->
											<!--</li>-->
											<!--<li class="">-->
												<!--<a>待寄出</a>-->
											<!--</li>-->
											<!--<li class="">-->
												<!--<a>已寄出</a>-->
											<!--</li>-->
										<!--</ul>&ndash;&gt;-->
										<!--<select class="" name="" id="">-->
											<!--<option value="">全部</option>-->
											<!--<option value="">审核中</option>-->
											<!--<option value="">待寄出</option>-->
											<!--<option value="">已寄出</option>-->
										<!--</select>-->
									<!--</div>-->
									<div class="form-group">
										<div class="col-md-12">
											<select name="status" class="form-control">
												<option value="">全部</option>
												<option value="1" {if condition="$Request.session.ostatus eq 1"} selected="selected"{/if} >成功</option>
												<option value="2" {if condition="$Request.session.ostatus eq 2"} selected="selected"{/if} >未支付</option>
												<option value="3" {if condition="$Request.session.ostatus eq 3"} selected="selected"{/if} >已取消</option>
											</select>
										</div>
									</div>
									<div class="input-group pull-right">
										<input type="text" name="product" placeholder="请输入产品名查询" value="{$Request.session.product}" class="form-control">
										<span class="input-group-addon input-group-btn">
		<input type="submit" value="点击查询" class="btn btn-ces"></span></div>
								</form>

							</div>
							<table class="table tools">
								<thead>
									<tr class="sortmix">
										<th class="lock tal">序号</th>
										<th class="lock">订单编号</th>
										<th class="lock">产品服务</th>
										<th class="lock">客户</th>
										<th class="lock">截至帐期</th>
										<th class="lock">总金额</th>
										<th class="lock">实付金额</th>
										<th class="lock">支付状态</th>
										<th class="lock">操作</th>
									</tr>
								</thead>
								<tbody>
								{foreach $res as $val}
									<tr>
										<td>{$val.id}</td>
										<td>{$val.order_id}</td>
										<td scope="row">{$val.product}</td>
										<td scope="row"><a href="javascript:;">{$val.userid}</a></td>
										<td>{$val.create_time}</td>
										<td><span class="money">{$val.money}</span></td>
										<td><span class="money">500</span></td>
										<td><span {if condition="$val['status'] eq 1"}  class="round text-success" {elseif condition="$val['status'] eq 2"} class="round text-danger" {else} class="round text-muted" {/if}>
											{if condition="$val['status'] eq 1"} 支付成功
											{elseif condition="$val['status'] eq 2"/}未支付
											{else/}已取消
											{/if}
											</span></td>
										<td>
											<a href="{:url('finance/orderInfo',['id'=>$val.id])}" class="btn btn-ces btn-xs">查看详情</a>
										</td>
									</tr>
								{/foreach}
								</tbody>
							</table>
							<div class="vba-pagination">
								<ul class="pagination pull-left">
									{$res->render()}
								</ul>

							</div>
						</div>
					</div>
				</div>

{/block}
{block name="script"}
		<script>
			var myChart = echarts.init(document.getElementById('main'));
			myChart.title = '堆叠柱状图';

			option = {
				tooltip: {
					trigger: 'axis',
					axisPointer: { // 坐标轴指示器，坐标轴触发有效
						type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
					}
				},
				legend: {
					data: ['短信使用情况', 'BCE使用情况', '其他使用情况1', '其他使用情况2', '其他使用情况3']
				},
				grid: {
					left: '3%',
					right: '4%',
					bottom: '3%',
					containLabel: true
				},
				xAxis: [{
					type: 'category',
					data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
				}],
				yAxis: [{
					type: 'value'
				}],
				series: [{
						name: '短信使用情况',
						type: 'bar',
						stack: '短信使用情况',
						barWidth: '20%',
						data: [320, 332, 301, 334, 390, 330, 320]
					},
					{
						name: 'BCE使用情况',
						type: 'bar',
						stack: '短信使用情况',
						barWidth: '20%',
						data: [120, 132, 101, 134, 90, 230, 210]
					},
					{
						name: '其他使用情况1',
						type: 'bar',
						stack: '短信使用情况',
						barWidth: '20%',
						data: [220, 182, 191, 234, 290, 330, 310]
					},
					{
						name: '其他使用情况2',
						type: 'bar',
						stack: '短信使用情况',
						barWidth: '20%',
						data: [150, 232, 201, 154, 190, 330, 410]
					},
					{
						name: '其他使用情况3',
						type: 'bar',
						stack: '短信使用情况',
						barWidth: '20%',
						data: [862, 1018, 964, 1026, 1679, 1600, 1570]
					}
				]
			};
			myChart.setOption(option);
		</script>
{/block}