{extend name="index/index"}
{block name="content"}
				<div class="page-header">
					<h5>发票资质详情</h5>
				</div>
				<div class="main">
					<div class="mixbox">
						<div class="form-horizontal worderinfo clearfix">
							<label class="col-md-1 control-label">抬头:</label>
							<div class="col-md-5">
								<p class="form-control-static info">{$res.head}</p>
							</div>
							<label class="col-md-1 control-label">状态:</label>
							<div class="col-md-5">
								<p class="form-control-static info"><span {if condition="$res.status eq 1"}  class="round text-info" {elseif condition="$res.status eq 2"} class="round text-danger" {elseif condition="$res.status eq 3"} class="round text-success" {elseif condition="$res.status eq 2"} class="round text-warning"  {else} class="round text-muted" {/if}>
									{if condition="$res.status eq 1"} 审核通过
									{elseif condition="$res.status eq 2"/}审核中
									{else/}审核失败
									{/if}</span></p>
							</div>
							<label class="col-md-1 control-label">税号:</label>
							<div class="col-md-5">
								<p class="form-control-static info">{$res.taxnum}</p>
							</div>
							<label class="col-md-1 control-label">注册地址:</label>
							<div class="col-md-5">
								<p class="form-control-static info">{$res.regaddress}</p>
							</div>

							<label class="col-md-1 control-label">发票类型:</label>
							<div class="col-md-5">
								<p class="form-control-static info">{if condition="$res.type eq 1"}增值税{else}普通{/if}</p>
							</div>
							<label class="col-md-1 control-label">注册电话:</label>
							<div class="col-md-5">
								<p class="form-control-static info">{$res.regphone}</p>
							</div>
							<label class="col-md-1 control-label">开户银行:</label>
							<div class="col-md-5">
								<p class="form-control-static info">{$res.bankname}</p>
							</div>
							<label class="col-md-1 control-label">银行账户:</label>
							<div class="col-md-5">
								<p class="form-control-static info">{$res.bankaccount}</p>
							</div>
							<label class="col-md-1 control-label">申请时间:</label>
							<div class="col-md-5">
								<p class="form-control-static info">{$res.time} </p>
							</div>
							<label class="col-md-1 control-label">统一社会信用代码:</label>
							<div class="col-md-5">
								<p class="form-control-static info">{$res.credit}</p>
							</div>

						</div>
					</div>
				</div>
{/block}
{block name="script"}
{/block}