{extend name='Common/index' /} {block name='content'}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header clearfix">
                    <div class="box-tools pull-left form-inline">
                        <input type="text" class="form-control input-sm global_filter" placeholder="关键字">
                        <button class="btn btn-primary btn-sm serchBtn">查询</button>
                        <div class="pull-right">
                            <a href="{:url('admin/Product/addaddedgroup')}" class="btn btn-primary btn-sm">新增增值服务组</a>
                            <a href="{:url('admin/Product/addadded')}" class="btn btn-primary btn-sm">新增增值服务</a>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover tableData">
                        <thead>
                            <tr>
                                <th>名称</th>
                                <th>排序</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {if !empty($grouplist)} {foreach name="grouplist" item="var"}
                            <tr class="group bg-gray" data-id="{$var.id}">
                                <td>{$var.title}</td>
                                <td>{$var.sort}</td>
                                <td>
                                    <a href="{:url('admin/Product/addaddedgroup',['id'=>$var['id']])}">编辑</a>
                                    <a href="javascript:;" onclick="deladdedgroup($(this))">删除</a>
                                </td>
                            </tr>
                            {if !empty($list)} {foreach name="list" item="v"}{if $v['group_id'] == $var['id']}
                            <tr class="item" data-id="{$v.id}">
                                <td>{$v.title}</td>
                                <td>{$v.sort}</td>
                                <td>
                                    <a href="{:url('admin/Product/addadded',['id'=>$v['id']])}">编辑</a>
                                    <a href="javascript:;" onclick="deladded($(this))">删除</a>
                                </td>
                            </tr>
                            {/if}{/foreach} {/if} {/foreach} {/if}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{/block} {block name='js'}
<script>
    function deladded(t) {
        if (confirm('确认要删除这个产品吗？')) {
            ajax("{:url('admin/Product/deladded')}", {
                id: t.parents('tr').data('id')
            }, 'delete').then((e) => {
                if (e.status == 200) {
                    t.parents('tr').remove();
                } else {
                    alert(e.smg);
                }
            })
        }
    }

    function deladdedgroup(t) {
        if (confirm('确认要删除这个产品组吗？')) {
            ajax("{:url('admin/Product/deladdedgroup')}", {
                id: t.parents('tr').data('id')
            }, 'delete').then((e) => {
                if (e.status == 200) {
                    t.parents('tr').remove();
                } else {
                    alert(e.msg);
                }
            })
        }
    }
    $('.tableData').DataTable({
        'paging': false,
        'fixedHeader': true,
        'lengthChange': false,
        'searching': true,
        'ordering': false,
        'info': true,
        'autoWidth': false,
        'deferRender': true,
        'processing': true,
    });
</script>
{/block}