{extend name="index/index"}
{block name="content"}
    <div class="page-header">
        <h5>编辑产品</h5>
    </div>
    <div class="main">
        <div class="mixbox">
            <form id="addserver" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">产品型号：</label>
                    <div class="col-md-4">
                        <input type="text" name="product" class="form-control unline title" placeholder="请输产品入型号" {notempty name="data.product"}value="{$data.product}"{/notempty}/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">产品标示：</label>
                    <div class="col-md-4">
                        <input type="text" name="title" class="form-control unline title" placeholder="请输产品入型号" {notempty name="data.title"}value="{$data.title}"{/notempty}/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">CPU参数：</label>
                    <div class="col-md-4">
                        <input type="text" name="cpu" class="form-control unline title" placeholder="cpu核数" {notempty name="data.cpu"}value="{$data.cpu}"{/notempty}/>
                    </div>
                    <label class="col-md-2 control-label" for="">CPU频率：</label>
                    <div class="col-md-4">
                        <input type="text" name="cputype" class="form-control unline title" placeholder="cpu频率" {notempty name="data.cputype"}value="{$data.cputype}"{/notempty}/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">内存大小：</label>
                    <div class="col-md-4">
                        <input type="text" name="memory" class="form-control unline title" placeholder="内存容量" {notempty name="data.memory"}value="{$data.memory}"{/notempty}/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">硬盘类型：</label>
                    <div class="col-md-4">
                        <input type="text" name="disktype" class="form-control unline title" placeholder="硬盘类型" {notempty name="data.disktype"}value="{$data.disktype}"{/notempty}/>
                    </div>
                    <label class="col-md-2 control-label" for="">硬盘大小：</label>
                    <div class="col-md-4">
                        <input type="text" name="disksize" class="form-control unline title" placeholder="硬盘大小" {notempty name="data.disksize"}value="{$data.disksize}"{/notempty}/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">操作系统：</label>
                    <div class="col-md-4">
                        {foreach $system as $k=>$v}
                        <input class="vba-ck" type="checkbox" name="system[]" id="checkbox.{$k}" value="{$v.id}" {notempty name="res.system"}{in name="v.id" value="$res.system"} checked="checked" {/in}{/notempty}/>
                        <label class="vba-chekbox" for="checkbox.{$k}">{$v.name} {$v.version}</label>
                        {/foreach}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">类型：</label>
                    <div class="checkbox col-md-4">
                        <select class="form-control line" name="room">
                            {foreach $room as $key=>$val}
                            <option value="{$val.id}" {notempty name="data.room"}{in name="val.id" value="$data.room"} selected {/in}{/notempty}>{$val.name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">1个月价钱：</label>
                    <div class="col-md-4">
                        <input type="text" name="month" class="form-control unline title" placeholder="请输入一个月价钱" {notempty name="price.0.time"}{eq name="price.0.time" value="month" }value="{$price.0.price}"{/eq}{/notempty} />
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">半年价钱：</label>
                    <div class="col-md-4">
                        <input type="text" name="half" class="form-control unline title" placeholder="请输入半年价钱" {notempty name="price.1.time"}{eq name="price.1.time" value="half" }value="{$price.1.price}"{/eq}{/notempty}/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">1年价钱：</label>
                    <div class="col-md-4">
                        <input type="text" name="year" class="form-control unline title" placeholder="请输入一年价钱" {notempty name="price.2.time"}{eq name="price.2.time" value="year" }value="{$price.2.price}"{/eq}{/notempty}/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">2年价钱：</label>
                    <div class="col-md-4">
                        <input type="text" name="two" class="form-control unline title" placeholder="请输入两年价钱" {notempty name="price.3.time"}{eq name="price.3.time" value="two" }value="{$price.3.price}"{/eq}{/notempty}/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">3年价钱：</label>
                    <div class="col-md-4">
                        <input type="text" name="three" class="form-control unline title" placeholder="请输入三年价钱" {notempty name="price.4.time"}{eq name="price.4.time" value="three" }value="{$price.4.price}"{/eq}{/notempty}/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">5年价钱：</label>
                    <div class="col-md-4">
                        <input type="text" name="five" class="form-control unline title" placeholder="请输入五年价钱" {notempty name="price.5.time"}{eq name="price.5.time" value="five" }value="{$price.5.price}"{/eq}{/notempty}/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">一级代理商返点比例：</label>
                    <div class="col-md-4">
                        <input type="text" name="agent_1" class="form-control unline title" placeholder="请输产品返点比例，例：0.05" {notempty name="data.agent_1"}value="{$data.agent_1}"{/notempty}/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">二级代理商返点比例：</label>
                    <div class="col-md-4">
                        <input type="text" name="agent_2" class="form-control unline title" placeholder="请输产品返点比例，例：0.05" {notempty name="data.agent_2"}value="{$data.agent_2}"{/notempty}/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">三级代理商返点比例：</label>
                    <div class="col-md-4">
                        <input type="text" name="agent_3" class="form-control unline title" placeholder="请输产品返点比例，例：0.05" {notempty name="data.agent_3"}value="{$data.agent_3}"{/notempty}/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">四级代理商返点比例：</label>
                    <div class="col-md-4">
                        <input type="text" name="agent_4" class="form-control unline title" placeholder="请输产品返点比例，例：0.05" {notempty name="data.agent_4"}value="{$data.agent_4}"{/notempty}/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">五级代理商返点比例：</label>
                    <div class="col-md-4">
                        <input type="text" name="agent_5" class="form-control unline title" placeholder="请输产品返点比例，例：0.05" {notempty name="data.agent_5"}value="{$data.agent_5}"{/notempty}/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                <input type="hidden" name="id" {notempty name="id"} value={$id} {/notempty}>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <button type="submit" class="btn btn-ces tijiao">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{/block}
{block name="script"}
<script>
    $(function() {
        $('#selectTitle').initList();

        $('.select select').on('change', function() {
            if($(this).val() == '1') {
                $('.crowdGroup').removeClass('hidden');
                $('.aloneGroup').addClass('hidden');
                $('.aloneGroup').find('#hideSel').val('');
            } else {
                $('.aloneGroup').removeClass('hidden');
                $('.crowdGroup').addClass('hidden');
                $('.aloneGroup').find('#hideSel').val('');
            }
        });
    })


    $('.tijiao').click(function () {
        var formData = new FormData($('#addserver')[0]);
        $.ajax({
            url: "{:url('product/saveserverhost')}",
            type: "post",
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
//                console.log(data);
                if (data['code'] == 1) {
                    alert(data.msg);
                    //window.location.href = "{:url('product/serverhost')}";
                }else {
                    alert(data.msg);
                    //window.history.back(-1);
                }
            },
        });

        return false;
    })
</script>
{/block}