{extend name="index/index"}
{block name="content"}

    <div class="page-header">
        <h5>快云vps产品列表</h5>
    </div>
    <div class="main">
        <div class="mixbox">
            <div class="table-responsive">

                <div class="tool-box">
                    <a href="{:url('product/editfastcloud')}" class="btn btn-ces"><i class="iconfont icon-plus r"></i>新增</a>
                    <a href="javascript:;" class="btn btn-danger"><i class="iconfont icon-del r js-alldel"></i>删除</a>
                </div>
                <table class="table tools">
                    <thead>
                    <tr class="sortmix">
                        <th class="lock">
                            <input class="vba-ck" type="checkbox" name="ckf[]" id="checkboxf" value="">
                            <label class="vba-chekbox" for="checkboxf"></label>
                        </th>
                        <th class="lock">产品类型</th>
                        <th class="lock">所属路线</th>
                        <th class="lock">产品标示</th>
                        <th class="lock">销售状态</th>
                        <th class="lock">产品状态</th>
                        <th class="lock control">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $data as $v}
                    <tr>
                        <td>
                            <input class="vba-ck" type="checkbox" name="ckf[]" id="{$v.id}" value="{$v.id}">
                            <label class="vba-chekbox" for="{$v.id}"></label>
                        </td>
                        <th scope="row">{$v.name}</th>
                        <th scope="row">{$v.room}</th>
                        <th scope="row">{$v.title}</th>
                        <td>
                            <a href="javascript:;" class="updatestatus btn {eq name='$v.status' value='1'} btn-success {else/} btn-danger {/eq} btn-xs" nid="{$v.id}" nstatus="{$v.status}">
                                {if condition="$v['status'] eq 1"} 已上架
                                {else /} 已下架
                                {/if}
                            </a>
                        </td>
                        <td>
                                {switch $v.sale}
                                    {case 1}正常{/case}
                                    {case 2}热销{/case}
                                    {case 3}爆款{/case}
                                    {case 3}爆款{/case}
                                {/switch}
                        </td>
                        <td style="text-align:left;" class="control">
                            <a href="{:url('product/editfastcloud',['id'=>$v.id])}" class="btn btn-ces btn-xs">修改</a>
                            <a href="javascript:;" nid="{$v.id}" class="btn btn-danger btn-xs js-del">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{/block}
{block name="script"}
<script>

    //显示隐藏
    $('.updatestatus').click(function () {
        var id = $(this).attr('nid');
        var thiss = $(this);
        var stat = $(this).attr('nstatus');
        if (stat == 1) {
            stat = 2;
        } else {
            stat = 1;
        }
        $.ajax({
            type: 'POST',
            url:"{:url('product/statusFastCloud')}",
            data: {id: id, status: stat},
            dataType: "json",
            success: function (data) {
                if (data['msg'] == 1) {
                    if (data['status'] == 1) {
                        thiss.removeClass('btn-danger');
                        thiss.addClass('btn-success');
                        thiss.html('已上架');
                    } else {
                        thiss.removeClass('btn-success');
                        thiss.addClass('btn-danger');
                        thiss.html('已下架');
                    }
                    thiss.attr('nid', data['id']);
                    thiss.attr('nstatus', data['status']);
                }else if(data['msg'] == 2){
                    alert('您没有操作权限!');
                }
            }
        })
    });

    $('.js-del').click(function () {

        var thiss = $(this);
        var id = $(this).attr('nid');
        $.ajax({
            type: 'POST',
            url:"{:url('product/deletepro')}",
            data: {id: id},
            dataType: 'json',
            success: function (data) {
                if (data['msg'] == 1) {
                    alert('删除成功');
                    window.location.reload();
                }else if(data['msg'] == 2){
                    alert('您没有操作权限!');
                }else{
                    alert("删除失败");
                }
            }
        })
    });
    //全选按钮
    $('thead th input[type="checkbox"].vba-ck').on('click', function() {
        if($(this).is(':checked')) {
            $('input[name="' + $(this).attr('name') + '"]').prop('checked', true);
        } else {
            $('input[name="' + $(this).attr('name') + '"]').prop('checked', false);
        }

    });

    $(".js-alldel").click(function () {
        var str ='';
        $.each($('input:checkbox:checked'),function(){
            if ($(this).val()!=''){
                str += $(this).val() + ",";
            }
        });
        /*$.each($('input:checkbox:checked'),function(){
         window.alert("你选了："+
         $('input[type=checkbox]:checked').length+"个，其中有："+$(this).val());
         });*/
        //去掉最后一个逗号(如果不需要去掉，就不用写)
        if (str.length > 0) {
            str = str.substr(0,str.length - 1);
        }
        console.log(str);
        var id = str;
        $.ajax({
            type: 'POST',
            url:"{:url('product/deletepro')}",
            data: {id: id},
            dataType: 'json',
            success: function (data) {
                if (data['msg'] == 1) {
                    alert('删除成功');
                    window.location.reload();
                }else if(data['msg'] == 2){
                    alert('您没有操作权限!');
                }else if(data['msg'] == 3){
                    alert('非法操作!');
                }else{
                    alert("删除失败");
                }
            }
        })
    })
</script>
{/block}