{extend name="index/index"}
{block name="content"}

    <div class="page-header">
        <h5>编辑产品</h5>
    </div>
    <div class="main">
        <div class="mixbox">
            <form id="addserver" class="form-horizontal" action="{:url('product/edit_product')}" method="post">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">产品名称：</label>
                    <div class="col-md-4">
                        <input type="text" name="name" value="{$res.name}" class="form-control unline title" placeholder="请输产品入名称" />
                        <label class="unline-label"></label>
                    </div>
                </div>
                <input type="hidden" name="id" value="{$res.id}">


                <!--<div class="form-group aloneGroup">
                    <label for="" class="col-md-2 control-label">服务器列表：</label>
                    <div class="col-md-6">
                        <div id="selectTitle" class="list-select">
                            <div class="list-title">
                                <h4>请选择服务器并移到右边</h4>
                            </div>
                            <div class="list-body">
                                <div class="item-box left-box">
                                    {foreach $vhost as $v}
                                    &lt;!&ndash; 左边框初始化待选项 &ndash;&gt;
                                    <span class="item" data-id="{$v.id}">{$v.name}</span>
                                    {/foreach}
                                </div>
                                <div class="center-box">
                                    <button type="button" class="btn btn-default btn-sm add-one mb10" title="添加选中项"><i class="iconfont icon-you"></i></button>
                                    <button type="button" class="btn btn-default btn-sm add-all mb10" title="添加全部"><i class="iconfont icon-syou"></i></button>
                                    <button type="button" class="btn btn-default btn-sm remove-one mb10" title="移除选中项"><i class="iconfont icon-zuo"></i></button>
                                    <button type="button" class="btn btn-default btn-sm remove-all" title="移除全部"><i class="iconfont icon-szuo"></i></button>
                                </div>
                                <div class="item-box right-box">
                                    {foreach $vhostlist as $val}
                                    &lt;!&ndash; 左边框初始化待选项 &ndash;&gt;
                                    <span class="item" data-id="{$val.id}">{$val.name}</span>
                                    {/foreach}
                                </div>
                            </div>
                            <div class="list-footer">
                                <button type="button" class="btn btn-ces btn-sm selected-val" title="获取选择值，输出到控制台">确定</button>
                            </div>
                            <input type="hidden" name="vhostlist" class="" id="hideSel" value="{$data}" />
                        </div>

                    </div>
                </div>
-->

                <div class="form-group">
                    <label class="col-md-2 control-label" for="">产品组：</label>
                    <div class="col-md-4">
                        <div class="select">
                            <select name="pro_id" class="form-control unline">
                                {empty name="group"}
                                <option value="">暂无分类</option>
                                {else/}
                                {volist name="group" id="v"}
                                <option value="{$v['id']}" {if condition="$res.pro_id eq $v['id']"} selected="selected" {/if}>{$v['name']}</option>
                                {/volist}
                                {/empty}
                            </select>
                            <label class="unline-label"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">产品配置(空间大小(MB))：</label>
                    <div class="col-md-4">
                        <input type="text" name="space" value="{$res.space}" class="form-control unline title" placeholder="请输入产品配置" />
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">操作系统：</label>
                    <div class="col-md-4">
                        {foreach $system as $k=>$v}
                        <input class="vba-ck" type="checkbox" name="system[]" id="checkbox.{$k}" value="{$v.id}" {notempty name="res.system"}{in name="v.id" value="$res.system"} checked="checked" {/in}{/notempty}/>
                        <label class="vba-chekbox" for="checkbox.{$k}">{$v.name} {$v.version}</label>
                        {/foreach}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">支持语言及其版本：</label>
                    <div class="col-md-4">
                        <input class="vba-ck" type="checkbox" name="language[]" id="checkbox1" value="1" {notempty name="res.language"}{in name="1" value="$res.language"} checked="checked" {/in}{/notempty}/>
                        <label class="vba-chekbox" for="checkbox1">PHP 5.2/5.3/5.4/5.5/5.6、html、CGI、伪静态</label>
                        <input class="vba-ck" type="checkbox" name="language[]" id="checkbox2" value="2" {notempty name="res.language"}{in name="2" value="$res.language"} checked="checked" {/in}{/notempty}/>
                        <label class="vba-chekbox" for="checkbox2">ASP、.net2.0/3.5/4.0、html、CGI、伪静态</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">MYSQL版本：</label>
                    <div class="col-md-4">
                        <input type="text" name="mysql" value="{$res.mysql}" class="form-control unline title" placeholder="请输入MYSQL版本" />
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">流量带宽(MB)：</label>
                    <div class="col-md-4">
                        <input type="text" name="flow" value="{$res.flow}" class="form-control unline title" placeholder="请输入流量带宽" />
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">数据库大小：</label>
                    <div class="col-md-4">
                        <input type="text" name="dbsize" value="{$res.dbsize}" class="form-control unline title" placeholder="请输入数据库大小" />
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">网站数量：</label>
                    <div class="col-md-4">
                        <input type="text" name="webnum" value="{$res.webnum}" class="form-control unline title" placeholder="请输入网站数量" />
                        <label class="unline-label"></label>
                    </div>
                </div>

                {foreach $price as $pri}
                {switch name="$pri.term" }
                {case value="1" }
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">一个月价钱：</label>
                    <div class="col-md-4">
                        <input type="text" name="month" class="form-control unline title" value="{$pri.price}" />
                        <label class="unline-label"></label>
                    </div>
                </div>
                {/case}
                {case value="6"}
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">半年价钱：</label>
                    <div class="col-md-4">
                        <input type="text" name="half" class="form-control unline title" value="{$pri.price}"/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                {/case}
                {case value="12"}
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">一年价钱：</label>
                    <div class="col-md-4">
                        <input type="text" name="year" class="form-control unline title" value="{$pri.price}"/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                {/case}
                {case value="24"}
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">两年价钱：</label>
                    <div class="col-md-4">
                        <input type="text" name="two" class="form-control unline title" value="{$pri.price}"/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                {/case}
                {case value="36"}
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">三年价钱：</label>
                    <div class="col-md-4">
                        <input type="text" name="three" class="form-control unline title" value="{$pri.price}"/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                {/case}
                {case value="60"}
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">五年价钱：</label>
                    <div class="col-md-4">
                        <input type="text" name="five" class="form-control unline title" value="{$pri.price}"/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                {/case}
                {/switch}
                {/foreach}

                <div class="form-group">
                    <label class="col-md-2 control-label" for="">一级代理商返点比例：</label>
                    <div class="col-md-4">
                        <input type="text" name="agent_1" class="form-control unline title" placeholder="请输产品返点比例，例：0.05" value="{$res.agent_1}"/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">二级代理商返点比例：</label>
                    <div class="col-md-4">
                        <input type="text" name="agent_2" class="form-control unline title" placeholder="请输产品返点比例，例：0.05" value="{$res.agent_2}"/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">三级代理商返点比例：</label>
                    <div class="col-md-4">
                        <input type="text" name="agent_3" class="form-control unline title" placeholder="请输产品返点比例，例：0.05" value="{$res.agent_3}"/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">四级代理商返点比例：</label>
                    <div class="col-md-4">
                        <input type="text" name="agent_4" class="form-control unline title" placeholder="请输产品返点比例，例：0.05" value="{$res.agent_4}"/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="">五级代理商返点比例：</label>
                    <div class="col-md-4">
                        <input type="text" name="agent_5" class="form-control unline title" placeholder="请输产品返点比例，例：0.05" value="{$res.agent_5}"/>
                        <label class="unline-label"></label>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <button type="submit" class="btn btn-ces tijiao">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{/block}
{block name="script"}
<script>
    $(function() {
        $('#selectTitle').initList();
        $('.watch').on('click', function() {
            $('#watchModal .modal-cont').html($(this).data('cont'));
            $('#watchModal').modal('show');
        });
        $('.select select').on('change', function() {
            if($(this).val() == '1') {
                $('.crowdGroup').removeClass('hidden');
                $('.aloneGroup').addClass('hidden');
                $('.aloneGroup').find('#hideSel').val('');
            } else {
                $('.aloneGroup').removeClass('hidden');
                $('.crowdGroup').addClass('hidden');
                $('.aloneGroup').find('#hideSel').val('');
            }
        });
    })

    $('.tijiao').click(function () {
        var formData = new FormData($('#addserver')[0]);
        $.ajax({
            url: "{:url('product/edit_product')}",
            type: "post",
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log(data);
                if (data['msg'] == 1) {
                    alert('修改成功');
                    window.location.href = "{:url('product/product')}";
                }else if(data['msg'] == 2){
                 alert('请选择服务器后再添加');
                 }/*else if(data['msg'] == 3){
                 alert('该用户名已存在');
                 }else if(data['msg'] == 4){
                 alert('密码不能少于6位');
                 }else if(data['msg'] == 5){
                 alert('请输入正确的手机号');
                 }else if(data['msg'] == 6){
                 alert('该手机号已经注册过了');
                 }*/
                else
                {
                    alert('修改失败');
                    window.history.back(-1);
                }
            },
        });

        return false;
    })
</script>
{/block}