{extend name="index/index"}
{block name="content"}
				<div class="page-header">
					<h5>营销中心</h5>
				</div>
				<div class="main">
					<div class="mixbox board">
						<h5><b>新手必备<small><a href="">新商户如何做到月入3万＋！</a></small></b></h5>
						<div class="row">
							<div class="col-md-4">
								<a href="" class="or">
									<h4>有效提升客单价</h4>
									<p>优惠套餐，打包销售</p>
									<button type="button" class="btn btn-ces btn-xs">了解详情</button>
								</a>
							</div>
							<div class="col-md-4">
								<a href="" class="gr">
									<h4>有效提升客单价</h4>
									<p>优惠套餐，打包销售</p>
									<button type="button" class="btn btn-ces btn-xs">了解详情</button>
								</a>
							</div>
							<div class="col-md-4">
								<a href="" class="pr">
									<h4>有效提升客单价</h4>
									<p>优惠套餐，打包销售</p>
									<button type="button" class="btn btn-ces btn-xs">了解详情</button>
								</a>
							</div>
						</div>
					</div>
					<div class="mixbox">
						<h5><b>经营渠道</b></h5>
						<div class="row">
							<div class="col-md-3">
								<a href="" class="media hot">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a href="" class="media">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a href="" class="media new">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a href="" class="media">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a class="media un">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a href="" class="media">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a href="" class="media">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="mixbox">
						<h5><b>经营渠道</b></h5>
						<div class="row">
							<div class="col-md-3">
								<a href="" class="media hot">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a href="" class="media">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a href="" class="media new">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a href="" class="media">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a class="media un">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a href="" class="media">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a href="" class="media">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="mixbox">
						<h5><b>经营渠道</b></h5>
						<div class="row">
							<div class="col-md-3">
								<a href="" class="media hot">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a href="" class="media">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a href="" class="media new">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a href="" class="media">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a class="media un">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a href="" class="media">
									<div class="media-left">
										<img src="__ROOT__/static/admin/img/mixbox-wx.png" alt="" />
									</div>
									<div class="media-body media-middle">
										<h5><b>微信红包</b></h5>
										<p>公众号群发红包</p>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="mixbox">
						<h5><b>第三方应用</b></h5>
						<div class="row">
							<div class="col-md-3">
								<a href="">
									<img src="__ROOT__/static/admin/img/ump_barber5.jpg" class="img-responsive" />
								</a>
							</div>
						</div>
					</div>
				</div>


{/block}