{extend name="index/index"}
{block name="content"}

				<div class="page-header">
					<h5>用户组列表</h5>
				</div>
				<div class="main">
					<div class="mixbox">
						<div class="table-responsive">
							<p class="pull-right">每页显示<span class="ml10 mr10">{$count}</span>条数据</p>
							<div class="tool-box">
								<a href="{:url('member/groupadd')}" class="btn btn-ces"><i class="iconfont icon-plus r"></i>新增</a>
								<a href="javascript:;" class="btn btn-danger"><i class="iconfont icon-del	 r"></i>删除</a>
							</div>
							<table class="table tools">
								<thead>
									<tr class="sortmix">
										<th class="lock">
											<input class="vba-ck" type="checkbox" name="ckf" id="checkboxf" value="">
											<label class="vba-chekbox" for="checkboxf"></label>
										</th>
										<th class="lock">序号</th>
										<th class="lock">用户组名</th>
										<th class="lock">创建时间</th>
										<th class="lock control" style="text-align:center;">操作</th>
									</tr>
								</thead>
								<tbody>
								{foreach $data as $v}
									<tr>
										<td>
											<input class="vba-ck" type="checkbox" name="ckf" id="{$v.id}" value="{$v.id}">
											<label class="vba-chekbox" for="{$v.id}"></label>
										</td>
										<th scope="row">{$v.id}</th>
										<td>{$v.author}</td>
										<td>{$v.creat_time}</td>
										<td class="control">
											<a class="control" href="{:url('member/groupedit',['id'=>$v.id])}"><span>编辑</span></a>
											<a class="control js-del"  nid="{$v.id}" href="javascript:;"><span></span>删除</a>
										</td>
									</tr>
								{/foreach}
								</tbody>
							</table>
							<div class="vba-pagination">
								<ul class="pagination">
									{$data->render()}
								</ul>
							</div>
							</div>
					</div>
				</div>
	{/block}
{block name="script"}
<script>

	$('.js-del').click(function () {

		var thiss = $(this);
		var id = $(this).attr('nid');
		$.ajax({
			type: 'POST',
			url:"{:url('member/deleteGroup')}",
			data: {id: id},
			dataType: 'json',
			success: function (data) {
				if (data['msg'] == 1) {
					alert('删除成功');
					thiss.parent().parent().remove();
				}else if(data['msg'] == 2){
					alert('您没有操作权限!');
				}else if(data['msg'] == 3){
					alert('您没有操作权限!');
				}else{
					alert("删除失败");
				}
			}
		})
	});

	//全选按钮
	$('thead th input[type="checkbox"].vba-ck').on('click', function() {
		if($(this).is(':checked')) {
			$('input[name="' + $(this).attr('name') + '"]').prop('checked', true);
		} else {
			$('input[name="' + $(this).attr('name') + '"]').prop('checked', false);
		}

	});

	$(".btn-danger").click(function () {

		var str ='';
		$.each($('input:checkbox:checked'),function(){
			if ($(this).val()!=''){
				str += $(this).val() + ",";

			}
		});
		/*$.each($('input:checkbox:checked'),function(){
		 window.alert("你选了："+
		 $('input[type=checkbox]:checked').length+"个，其中有："+$(this).val());
		 });*/
		//去掉最后一个逗号(如果不需要去掉，就不用写)
		if (str.length > 0) {
			str = str.substr(0,str.length - 1);
			$.session.set('str', 'str');
		}
		console.log(str);
		var id = str;
		$.ajax({
			type: 'POST',
			url:"{:url('member/deleteGroup')}",
			data: {id: id},
			dataType: 'json',
			success: function (data) {
				if (data['msg'] == 1) {
					alert('删除成功');
					window.location.reload();
				}else if(data['msg'] == 2){
					alert('您没有操作权限!');
				}else{
					alert("删除失败");
				}
			}
		})
	})

</script>
{/block}
