{extend name="index/index"}
{block name="content"}
<div class="page-header">
    <h5>权限管理</h5>
</div>
<div class="main">
    <div class="mixbox">
        <form id="userinfo" class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="">用户组名：</label>
                <div class="">
                    <input type="text" class="form-control unline name" name="author" placeholder="请输入用户组名" value="{$author.author}" />
                    <input type="hidden" name="id" value="{$author.id}">
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <!--<div class="checkbox inline group">
                        <div class="tit">
                            <input class="vba-ck" type="checkbox" name="article" id="rd1" value="">
                            <label class="vba-chekbox" for="rd1">文章管理</label>
                        </div>
                        <div class="group-mix">
                            <div class="tit">
                                <input class="vba-ck" type="checkbox" name="article" id="rdc1" value="">
                                <label class="vba-chekbox" for="rdc1">编辑文章</label>
                            </div>
                            <div class="group-mix">
                                <input class="vba-ck" type="checkbox" name="article" id="rdcc2" value="">
                                <label class="vba-chekbox" for="rdcc2">新增文章</label>
                                <input class="vba-ck" type="checkbox" name="article" id="rdcc3" value="">
                                <label class="vba-chekbox" for="rdcc3">发布文章</label>
                                <input class="vba-ck" type="checkbox" name="article" id="rdcc4" value="">
                                <label class="vba-chekbox" for="rdcc4">删除文章</label>
                                <input class="vba-ck" type="checkbox" name="article" id="rdcc5" value="">
                                <label class="vba-chekbox" for="rdcc5">禁用文章</label>
                            </div>
                            <div class="tit">
                                <input class="vba-ck" type="checkbox" name="article" id="rdc2" value="">
                                <label class="vba-chekbox" for="rdc2">新增文章</label>
                            </div>
                            <div class="group-mix">
                                <input class="vba-ck" type="checkbox" name="article" id="rdcc2" value="">
                                <label class="vba-chekbox" for="rdcc2">新增文章</label>
                                <input class="vba-ck" type="checkbox" name="article" id="rdcc3" value="">
                                <label class="vba-chekbox" for="rdcc3">发布文章</label>
                                <input class="vba-ck" type="checkbox" name="article" id="rdcc4" value="">
                                <label class="vba-chekbox" for="rdcc4">删除文章</label>
                                <input class="vba-ck" type="checkbox" name="article" id="rdcc5" value="">
                                <label class="vba-chekbox" for="rdcc5">禁用文章</label>
                            </div>
                        </div>
                    </div>-->
                    <div class="table-responsive checkbox inline group">
                        {volist name="group" id="val"}
                        <table class="table table-bordered table-priv">
                            <tbody>
                            <tr>
                                <th rowspan="{$val['count']}" class="w-80px">
                                    <label class="checkbox-inline">
                                        {$val['munu']}              <input type="checkbox" name="authority[]" class="checkApp" value="{$val['id']}" {eq name="val['data']" value="1"}checked{/eq}>
                                    </label>
                                </th>
                                {volist name="val['son']" id="v" offset="0" length="1"}
                                <th class="text-right w-120px">
                                    <label class="checkbox-inline">
                                        {$v['munu']}              <input type="checkbox" name="authority[]" class="checkModule" value="{$v['id']}" {eq name="v['data']" value="1"}checked{/eq}>
                                    </label>
                                </th>
                                <td id="workflow" colspan="2">
                                    {foreach $v['small'] as $j}
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="authority[]" value="{$j['id']}" id="actions[workflow]browse"  value="{$v['id']}" {eq name="j['data']" value="1"}checked{/eq}> {$j['munu']}
                                    </label>
                                    {/foreach}
                                </td>
                                {/volist}
                            </tr>
                            {volist name="val['son']" id="v" offset="1"}
                            <tr>
                                <th class="text-right w-120px">
                                    <label class="checkbox-inline">
                                        {$v['munu']}              <input type="checkbox" name="authority[]" class="checkModule" value="{$v['id']}" {eq name="v['data']" value="1"}checked{/eq}>
                                    </label>
                                </th>
                                <td id="test" colspan="1">
                                    {foreach $v['small'] as $j}
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="authority[]" value="{$j.id}" id="actions[test]create" {eq name="j['data']" value="1"}checked{/eq}> {$j['munu']}
                                    </label>
                                    {/foreach}
                                </td>
                            </tr>{/volist}
                            </tbody>
                        </table>
                        {/volist}
                    </div>
                </div>
            </div>
            <!--<div class="form-group">
                <label class="control-label" for="">管理权限：</label>
                <div class="">
                    <div class="checkbox inline">
                        <input class="vba-ck" type="checkbox" name="manage" id="gl1" value="">
                        <label class="vba-chekbox" for="gl1">员工管理</label>
                        <input class="vba-ck" type="checkbox" name="manage" id="gl2" value="">
                        <label class="vba-chekbox" for="gl2">用户管理</label>
                        <input class="vba-ck" type="checkbox" name="manage" id="gl3" value="">
                        <label class="vba-chekbox" for="gl3">域名管理</label>
                        <input class="vba-ck" type="checkbox" name="manage" id="gl4" value="">
                        <label class="vba-chekbox" for="gl4">权限管理</label>
                    </div>
                </div>
            </div>-->
            <div class="form-group">
                <div class="col-md-offset-1 col-md-4">
                    <button type="button" id="tijiao" class="btn btn-ces">提交修改</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    $('.tit').find(':checkbox').on('click', function() {
        if($(this).is(':checked')) {
            $(this).parents('.tit').eq(0).next('.group-mix').find(':checkbox').prop('checked', true);
        } else {
            $(this).parents('.tit').eq(0).next('.group-mix').find(':checkbox').prop('checked', false);
        }
    });

    //权限 全选操作
    $('.checkApp').on('click', function() {
        if($(this).is(':checked')) {
            $(this).parents('table').find('input[type="checkbox"]').prop('checked', true);
        } else {
            $(this).parents('table').find('input[type="checkbox"]').prop('checked', false);
        }
    });
    $('.checkModule').on('click', function() {
        if($(this).is(':checked')) {
            $(this).parents('th').nextAll('td').find('input[type="checkbox"]').prop('checked', true);
        } else {
            $(this).parents('th').nextAll('td').find('input[type="checkbox"]').prop('checked', false);
        }
    });
    $('input[id*="]browse"]').on('click', function() {
        if($(this).next().length != 0) {
            if($(this).is(':checked')) {
                $(this).parent().nextAll().find('input[type="checkbox"]').prop('checked', true);
            } else {
                $(this).parent().nextAll().find('input[type="checkbox"]').prop('checked', false);
            }
        }
    });
    $('#tijiao').click(function () {
        var formData = new FormData($('#userinfo')[0]);
        $.ajax({
            url:"{:url('member/editgroup')}",
            type:'POST',
            data:formData,
            dataType: "json",
            async: false,
            contentType: false,
            processData: false,
            success:function (d) {
                if(d.code==1){
                    mAlert(3, '', d.msg, '1', function() {
                        window.location.href="{:url('member/group')}";
                    });
                }else{
                    mAlert(2,d.code,d.msg);
                }
            }
        });
    });

</script>
{/block}
