{extend name="index/index"}
{block name="content"}

<div class="page-header">
	<h5>权限管理</h5>
</div>
<div class="main">
	<div class="mixbox">
		<form id="userinfo" class="col-md-12">
			<div class="form-group">
				<label class="control-label" for="">用户组名：</label>
				<div class="">
					<input type="text" class="form-control unline name" name="author" placeholder="请输入用户组名" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="">文章权限：</label>
				<div class="">
					<div class="table-responsive checkbox inline group">
						{volist name="res" id="val"}
						<table class="table table-bordered table-priv">
							<tbody>
							<tr>
								<th rowspan="{$val['count']}" class="w-80px">
									<label class="checkbox-inline">
										{$val['munu']}              <input type="checkbox" name="authority[]" class="checkApp" value="{$val['id']}">
									</label>
								</th>
								{volist name="val['son']" id="v" offset="0" length="1"}
								<th class="text-right w-120px">
									<label class="checkbox-inline">
										{$v['munu']}              <input type="checkbox" name="authority[]" class="checkModule" value="{$v['id']}">
									</label>
								</th>
								<td id="workflow" colspan="2">
									{foreach $v['small'] as $j}
									<label class="checkbox-inline">
										<input type="checkbox" name="authority[]" value="{$j['id']}" id="actions[workflow]browse"> {$j['munu']}
									</label>
									{/foreach}
								</td>
								{/volist}
							</tr>
							{volist name="val['son']" id="v" offset="1"}
							<tr>
								<th class="text-right w-120px">
									<label class="checkbox-inline">
										{$v['munu']}              <input type="checkbox" name="authority[]" class="checkModule" value="{$v['id']}">
									</label>
								</th>
								<td id="test" colspan="1">
									{foreach $v['small'] as $j}
									<label class="checkbox-inline">
										<input type="checkbox" name="authority[]" value="{$j.id}" id="actions[test]create"> {$j['munu']}
									</label>
									{/foreach}
								</td>
							</tr>{/volist}
							</tbody>
						</table>
						{/volist}
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-1 col-md-4">
					<button id="tijiao" type="button" class="btn btn-ces">提交修改</button>
				</div>
			</div>
		</form>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
	$('.tit').find(':checkbox').on('click', function() {
		if($(this).is(':checked')) {
			$(this).parents('.tit').eq(0).next('.group-mix').find(':checkbox').prop('checked', true);
		} else {
			$(this).parents('.tit').eq(0).next('.group-mix').find(':checkbox').prop('checked', false);
		}
	});
	//权限 全选操作
	$('.checkApp').on('click', function() {
		if($(this).is(':checked')) {
			$(this).parents('table').find('input[type="checkbox"]').prop('checked', true);
		} else {
			$(this).parents('table').find('input[type="checkbox"]').prop('checked', false);
		}
	});
	$('.checkModule').on('click', function() {
		if($(this).is(':checked')) {
			$(this).parents('th').nextAll('td').find('input[type="checkbox"]').prop('checked', true);
		} else {
			$(this).parents('th').nextAll('td').find('input[type="checkbox"]').prop('checked', false);
		}
	});
	$('input[id*="]browse"]').on('click', function() {
		if($(this).next().length != 0) {
			if($(this).is(':checked')) {
				$(this).parent().nextAll().find('input[type="checkbox"]').prop('checked', true);
			} else {
				$(this).parent().nextAll().find('input[type="checkbox"]').prop('checked', false);
			}
		}

	});
	$('#tijiao').click(function () {
		var formData = new FormData($('#userinfo')[0]);
		$.ajax({
			url:"{:url('member/addgroup')}",
			type:'POST',
			data:formData,
			dataType: "json",
			async: false,
			contentType: false,
			processData: false,
			success:function (d) {
				if(d['code']==1){
					mAlert(3, '', d.msg, '1', function() {
						window.location.href="{:url('member/group')}";
					});

				}else{
					mAlert(2,d.msg);
				}
			}
		});
	});
</script>
{/block}