{extend name='Common/index' /} {block name='content'}
<style>
  th,td{
    padding: 10px !important;
  }
  .btn-link{
    padding: 0px !important;
  }
</style>
<section class="content">
  <div class="box">
    <div class="box-body">
      <div class="text-center p-3">
        <img src="__THEMES__/defualt/img/website-logo.jpg" alt="" width="40%">
      </div>
      <div>
        <table class="table table-condensed">
          <tr style="background-color: #f7f8fa;
          color: #999;
          line-height: 1;">
            <th style="width: 100px">基本信息</th>
            <th></th>
            <th style="width: 150px"></th>
          </tr>
          <tr>
            <td>站点ID</td>
            <td>209012</td>
            <td></td>
          </tr>
          <tr>
            <td>通信密钥</td>
            <td>7c445*****4cb36</td>
            <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">查看全部</button></td>
          </tr>
          <tr>
            <td>服务类型</td>
            <td>免费版 <a href="#">升级为商业服务</a><a href="#">商业版介绍</a></td>
            <td></td>
          </tr>
          <tr>
            <td>增值服务</td>
            <td>未获得</td>
            <td><a href="#">购买增值服务</a></td>
          </tr>
          <tr>
            <td>网站名称</td>
            <td>http://ce.geecp.com的站点</td>
            <td></td>
          </tr>
          <tr>
            <td>网站URL</td>
            <td>http://ce.geecp.com</td>
            <td></td>
          </tr>
          <tr>
            <td>网站IP</td>
            <td>106.12.38.50</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div>
        <table class="table table-condensed">
          <tr style="background-color: #f7f8fa;
          color: #999;
          line-height: 1;">
            <th style="width: 100px">绑定信息</th>
            <th></th>
          </tr>
          <tr>
            <td>关联论坛ID</td>
            <td>qiduo</td>
          </tr>
          <tr>
            <td></td><td></td><td></td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</section>
{/block} {block name='js'}
{/block}