<!--
<div class="right-group product">
    <div class="product-nav">
        <div class="side">
            <div class="side-tit">用户管理</div>
            <ul class="side-menu list-unstyled">
                <li>
                    <a href="{:url('User/index')}">所有用户</a>
                </li>
                <li>
                    <a href="{:url('User/adduser')}">创建用户</a>
                </li>
                &lt;!&ndash;<li>&ndash;&gt;
                    &lt;!&ndash;<a href="{:url('Articlen/categorylists')}">标签</a>&ndash;&gt;
                &lt;!&ndash;</li>&ndash;&gt;
            </ul>
        </div>
    </div>-->
{block name="mie"}
<div class="page-lastmenu wht">
    <div class="page-header">
        <h5>应用和营销</h5>
    </div>
    <ul class="list-unstyled">
        <li class="active">
            <a href="">应用管理</a>
        </li>
        <li>
            <a href="">应用市场</a>
        </li>
        <li>
            <a href="">云平台</a>
        </li>
        <li>
            <a href="">云诊断</a>
        </li>
    </ul>
</div>
{/block}
