{extend name="index/index"}
{block name="content"}
		<div class="page-header">
			<ul class="nav nav-tabs line">
				<li class="active">
					<a href="javascript:;">编辑域名</a>
				</li>
			</ul>
		</div>
		<div class="main">
			<div class="mixbox">
				<form id="editdomain" class="form-horizontal" action="{:url('business/editdomain')}" method="post">
					<div class="form-group">
						<label class="col-md-2 control-label" for="">域名：</label>
						<div class="col-md-4">
							<input type="text" name="domainname" class="form-control unline title" placeholder="请输入域名" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">域名密码：</label>
						<div class="row">
							<div class="col-md-4">
								<div class="form-control-static line">
									<input type="text" name="password" class="form-control unline title" placeholder="请输入密码" />

								</div>
							</div>
							<div class="col-md-3" style="line-height: 45px;">
								<a href="#editPass" data-toggle="modal">修改密码</a>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">所属注册商：</label>
						<div class="col-md-4">
							<div class="select">
								<select name="registrar" class="form-control unline">
									{foreach $addons as $k =>$v}
									<option value="{$v['title']}" >{$v['title']}</option>
									{/foreach}
								</select>
							</div>
						</div>
					</div>
					<br>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">后缀：</label>
						<div class="col-md-4">
							<input type="text" name="suffix" class="form-control unline title" placeholder="请输入后缀" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">所有者：</label>
						<div class="col-md-4">
							<input type="username" name="suffix" class="form-control unline title" placeholder="请输入所有者" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">开通时间：</label>
						<div class="col-md-4">
							<input id="create_time" type="text" name="create_time" class="form-control create" />
						</div>
					</div>
					<br>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">到期时间：</label>
						<div class="col-md-4">
							<input id="last_time" type="text" name="last_time" class="form-control last" />
						</div>
					</div>
					<br>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">实名：</label>
						<div class="col-md-4">
							<div class="select">
								<select name="realname" class="form-control unline">
									<option value="1" >未实名</option>
									<option value="2" >无需实名</option>
									<option value="3" >已实名</option>
								</select>
							</div>
							<label class="unline-label"></label>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label" for="">DNS1：</label>
						<div class="col-md-4">
							<input type="text" name="dns1" id="dns1" class="form-control unline title" placeholder="请输入DNS1" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">DNS2：</label>
						<div class="col-md-4">
							<input type="text" name="dns2" id="dns2" class="form-control unline title" placeholder="请输入DNS2" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">DNS3：</label>
						<div class="col-md-4">
							<input type="text" name="dns3" id="dns3" class="form-control unline title" placeholder="请输入DNS3" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">DNS4：</label>
						<div class="col-md-4">
							<input type="text" name="dns4" id="dns4" class="form-control unline title" placeholder="请输入DNS4" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">DNS5：</label>
						<div class="col-md-4">
							<input type="text" name="dns5" id="dns5" class="form-control unline title" placeholder="请输入DNS5" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">DNS6：</label>
						<div class="col-md-4">
							<input type="text" name="dns6" id="dns6" class="form-control unline title" placeholder="请输入DNS6" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">DNSIP：</label>
						<div class="row">
								<div class="col-md-4">
									<textarea name="dnsip" type="text" class="form-control unline idiograph" placeholder="多个ip用逗号隔开" rows="6"></textarea>
									<label class="unline-label"></label>
								</div>
								<div class="col-md-4">
									<span class="help-block">DNSIP 多个用 , 隔开</span>
								</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">备注：</label>
						<div class="col-md-4">
							<textarea name="remarks" type="text" class="form-control unline idiograph" placeholder="请输入备注" rows="6"></textarea>
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-4">
							<button type="submit" class="btn btn-ces tijiao">提交</button>
						</div>
					</div>
				</form>
			</div>
		</div>
<div class="modal fade" id="editPass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">修改密码</h4>
			</div>
			<div class="modal-body">
				<form id="savepass" class="form-horizontal" action="{:url('business/editdomain')}" method="post">
					<div class="form-group">
						<label class="col-md-3 control-label" for="">输入旧密码：</label>
						<div class="col-md-8">
							<input type="password" name="oldpassword" class="form-control line oldpass" />
							<label class="line-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="">输入新密码：</label>
						<div class="col-md-8">
							<input type="password" name="password"  class="form-control line newpass" />
							<label class="line-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="">重复新密码：</label>
						<div class="col-md-8">
							<input type="password" name=""  class="form-control line newpass1" />
							<label class="line-label"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-3 col-md-8">
							<button type="submit" class="btn btn-ces js-tijiao">提交修改</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{/block}
{block name="script"}
<script>
	$(document).ready(function() {

		//开始时间

		$('.create').daterangepicker({
			singleDatePicker: true,
			opens: 'left',
			endDate: moment(),
			maxDate: moment().endOf('day'),
			showButtonPanel: false,
			buttonClasses: 'btn-sm btn btn-default',
			applyClass: 'btn-sm btn btn-ces',
			cancelClass: 'btn-sm btn btn-default',
			ranges: {
			},
			locale: {
				applyLabel: '确定',
				cancelLabel: '取消',
				fromLabel: '起始时间',
				toLabel: '结束时间',
				customRangeLabel: '自定义',
				daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
				monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
					'七月', '八月', '九月', '十月', '十一月', '十二月'
				],
				firstDay: 1
			}
		});
		$('.create').on('apply.daterangepicker', function(ev, picker) {

			//console.log(picker.startDate.format('YYYY-MM-DD HH:II:SS'));
			$("#create_time").val(picker.endDate.format('YYYY-MM-DD hh:mm:ss'));
		});

		//到期时间
		$('.last').daterangepicker({
			singleDatePicker: true,
			opens: 'left',
			endDate: moment(),
			maxDate: moment().endOf('year'),
			showButtonPanel: false,
			buttonClasses: 'btn-sm btn btn-default',
			applyClass: 'btn-sm btn btn-ces',
			cancelClass: 'btn-sm btn btn-default',
			ranges: {
			},
			locale: {
				applyLabel: '确定',
				cancelLabel: '取消',
				fromLabel: '起始时间',
				toLabel: '结束时间',
				customRangeLabel: '自定义',
				daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
				monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
					'七月', '八月', '九月', '十月', '十一月', '十二月'
				],
				firstDay: 1
			}
		});
		$('.last').on('apply.daterangepicker', function(ev, picker) {

			//console.log(picker.startDate.format('YYYY-MM-DD HH:II:SS'));
			$("#last_time").val(picker.endDate.format('YYYY-MM-DD hh:mm:ss'));
		});

	});

	$('.js-tijiao').click(function () {

		//提交后获取所有内容 判断
		if($("#savepass .oldpass").val() == '') {
			alert('请输入旧密码！');
			return false;
		}
		if($("#savepass .newpass").val() == '') {
			alert('请输入新密码！');
			return false;
		}
		if($("#savepass .newpass1").val() == '') {
			alert('请输入确认密码！');
			return false;
		}

		if($("#savepass .newpass").val() != $("#savepass .newpass1").val()) {
			alert('新密码与确认密码不一致！');
			return false;
		}
		/*if ($('#password').val() == '') {
		 alert('请输入密码!');
		 return false;
		 }
		 if ($('#repassword').val() == '') {
		 alert('请重复输入密码');
		 return false;
		 }*/
		var formData = new FormData($('#savepass')[0]);
		$.ajax({
			url: "{:url('business/editdomain')}",
			type: "post",
			data: formData,
			async: false,
			cache: false,
			contentType: false,
			processData: false,
			success: function (data) {
				console.log(data);
				if(data['msg'] == 1) {
					alert("修改成功");
					window.location.reload();
				} else if(data['msg'] == 2) {
					alert("原密码不正确");
				}else if(data['msg'] == 3) {
					alert("新密码不能与原密码相同");
				}
				else {
					alert('修改失败');
					window.location.reload();
				}
			},
		});

		return false;
	})


	$('.tijiao').click(function () {

   //提交后获取所有内容 判断
		if ($('#dns1').val() == '') {
			alert('请输入dns1!');
			return false;
		}
		if ($('#dns2').val() == '') {
			alert('请输入dns2!');
			return false;
		}

		var formData = new FormData($('#editdomain')[0]);
		$.ajax({
			url: "{:url('business/editdomain')}",
			type: "post",
			data: formData,
			async: false,
			cache: false,
			contentType: false,
			processData: false,
			success: function (data) {
				console.log(data);
				if (data['msg'] == 1) {
					alert('修改成功');
					window.location.href = "{:url('business/index')}";
				}/*else if(data['msg'] == 2){
					alert('两次密码不一致');
				}else if(data['msg'] == 3){
					alert('该用户名已存在');
				}else if(data['msg'] == 4){
					alert('密码不能少于6位');
				}else if(data['msg'] == 5){
					alert('请输入正确的手机号');
				}else if(data['msg'] == 6){
					alert('该手机号已经注册过了');
				}*/
				else
				{
					alert('修改失败');
					window.location.reload();
				}
			},
		});

		return false;
	})



</script>
{/block}