{extend name="index/index"}
{block name="content"}
        <div class="page-header">
            <h5>域名列表</h5>
        </div>
        <div class="main">
            <div class="mixbox">
                <div class="table-responsive">
                    <p class="pull-right">每页显示<span class="ml10 mr10">{$count}</span>条数据</p>
                    <div class="tool-box">
                        <a href="{:url('business/adddomain')}" class="btn btn-ces"><i class="iconfont icon-plus r"></i>新增</a>
                    </div>
                    <table class="table tools">
                        <thead>
                        <tr class="sortmix">
                            <th class="lock">序号</th>
                            <th class="lock">域名</th>
                            <th class="lock">所有者</th>
                            <th class="lock">域名模板</th>
                            <th class="lock">实名</th>
                            <th class="lock">购买时间</th>
                            <th class="lock">到期时间</th>
                            <th class="lock">状态</th>
                            <th class="lock control">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $res as $val}
                        <tr>

                            <th scope="row">{$val['id']}</th>
                            <td>{$val['domainname']}</td>
                            <td>{$val['userid']}</td>
                            <td>{$val['domain_temp']}</td>
                            <td>{if condition="$val['realname'] eq 1"} 未实名
                                {elseif condition="$val['realname'] eq 2"/}无需实名
                                {else/}已实名
                                {/if}
                            </td>
                            <td>{$val['create_time']}</td>
                            <td>{$val['last_time']}</td>
                            <td>{if condition="$val['state'] eq 1"} 正常
                                {elseif condition="$val['state'] eq 2"/}即将到期
                                {else/}已到期
                                {/if}</td>
                            <td class="control">
                                <a class="control btn btn-ces btn-xs" href="{:url('business/domain_edit',['id'=>$val['id']])}">编辑</a>
                                <a class="control btn btn-danger btn-xs js-del" nid="{$val['id']}" href="javascript:;">删除</a>
                            </td>
                        </tr>
                        {/foreach}

                        </tbody>
                    </table>
                    <div class="vba-pagination">
                        <ul class="pagination">
                            {$res->render()}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
{/block}
{block name="script"}
<script>
    $('.js-del').click(function () {

        var thiss = $(this);
        var id = $(this).attr('nid');
        $.ajax({
            type: 'POST',
            url:"{:url('business/delete')}",
            data: {id: id},
            dataType: 'json',
            success: function (data) {
                if (data['msg'] == 1) {
                    alert('删除成功');
                    thiss.parent().parent().remove();
                }else if(data['msg'] == 2){
                    alert('您没有操作权限!');
                }else if(data['msg'] == 3){
                    alert('系统错误!');
                }else{
                    alert("删除失败");
                }
            }
        })
    });
</script>
{/block}