{extend name="index/index"}
{block name="content"}
		<div class="page-header">
			<ul class="nav nav-tabs line">
				<li class="active">
					<a href="javascript:;">编辑虚拟主机</a>
				</li>
			</ul>
		</div>
		<div class="main">
			<div class="mixbox">
				<form id="editvhost" class="form-horizontal" action="{:url('business/editvhost')}" method="post">
					<div class="form-group">
						<label class="col-md-2 control-label" for="">所有者：</label>
						<div class="col-md-4">
							<div class="select">
								<select name="userid" class="form-control unline">
									{foreach $userlist as $k =>$v}
									<option value="{$v['id']}" {if condition="$res.userid eq $v['id']"} selected="selected"{/if}>{$v['username']}</option>
									{/foreach}
								</select>
							</div>
						</div>
					</div>
					<br>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">产品型号：</label>
						<div class="col-md-4">
							<div class="select">
								<select name="pid" class="form-control unline">
									{foreach $product as $val}
									<option value="{$val['id']}" {if condition="$res.pid eq $val['id']"} selected="selected"{/if}>{$val['name']}</option>
									{/foreach}
								</select>
							</div>
						</div>
					</div>
					<br>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">开通时间：</label>
						<div class="col-md-4">
							<input id="create_time" type="text" name="create_time" value="{$res.create_time}" class="form-control create" />
						</div>
					</div>
					<br>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">到期时间：</label>
						<div class="col-md-4">
							<input id="last_time" type="text" name="last_time" value="{$res.last_time}" class="form-control last" />
						</div>
					</div>
					<br>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">主机管理账号：</label>
							<div class="col-md-4">
								<div class="form-control-static line">
									<input type="text" name="number" class="form-control unline title" value="{$res.number}" placeholder="请输入主机管理账号" />

								</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">主机管理密码：</label>
						<div class="row">
							<div class="col-md-4">
								<div class="form-control-static line">
									<input type="password" name="" class="form-control unline title" value="{$res.password}" placeholder="请输入主机管理密码" />

								</div>
							</div>
							<div class="col-md-3" style="line-height: 45px;">
								<a href="#editPass" data-toggle="modal">修改密码</a>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">FTP地址：</label>
						<div class="col-md-4">
							<input type="text" name="ftp_add" class="form-control unline title" value="{$res.ftp_add}" placeholder="请输入FTP地址" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">FTP端口：</label>
						<div class="col-md-4">
							<input type="text" name="fport" class="form-control unline title" value="{$res.fport}" placeholder="请输入FTP端口" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">FTP账号：</label>
						<div class="col-md-4">
							<input type="text" name="ftp_num" class="form-control unline title" value="{$res.ftp_num}" placeholder="请输入FTP账号" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">FTP密码：</label>
						<div class="row">
							<div class="col-md-4">
								<div class="form-control-static line">
									<input type="password" name="" class="form-control unline title" value="{$res.ftp_password}" placeholder="请输入FTP密码" />
								</div>
							</div>
							<div class="col-md-3" style="line-height: 45px;">
								<a href="#editftpPass" data-toggle="modal">修改密码</a>
							</div>
						</div>
					</div>
					<br>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">MYSQL连接地址：</label>
						<div class="col-md-4">
							<input type="text" name="mysql_add" class="form-control unline title" value="{$res.mysql_add}" placeholder="请输入MYSQL连接地址" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">MYSQL端口：</label>
						<div class="col-md-4">
							<input type="text" name="mport" class="form-control unline title" value="{$res.mport}" placeholder="请输入MYSQL端口" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">MYSQL账号：</label>
						<div class="col-md-4">
							<input type="text" name="mysql_num" class="form-control unline title" value="{$res.mysql_num}" placeholder="请输入MYSQL账号" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">MYSQL密码：</label>
						<div class="row">
							<div class="col-md-4">
								<div class="form-control-static line">
									<input type="password" name="" class="form-control unline title" value="{$res.mysql_password}" placeholder="请输入MYSQL密码" />
								</div>
							</div>
							<div class="col-md-3" style="line-height: 45px;">
								<a href="#editmysqlPass" data-toggle="modal">修改密码</a>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">联系人：</label>
						<div class="col-md-4">
							<input type="text" name="owner" class="form-control unline title" value="{$res.owner}" placeholder="请输入联系人" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">手机号：</label>
						<div class="col-md-4">
							<input type="text" name="mobile" class="form-control unline title" value="{$res.mobile}" placeholder="请输入手机号" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">邮箱：</label>
						<div class="col-md-4">
							<input type="text" name="email" class="form-control unline title" value="{$res.email}" placeholder="请输入邮箱" />
							<label class="unline-label"></label>
						</div>
					</div>
					<br>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">域名绑定：</label>
						<div class="row">
							<div class="col-md-4">
								<textarea name="domain" type="text" class="form-control unline idiograph" placeholder="多个ip用逗号隔开" rows="6">{$res.domain}</textarea>
								<label class="unline-label"></label>
							</div>
							<div class="col-md-4">
								<span class="help-block">域名绑定 多个用 , 隔开</span>
							</div>
						</div>
					</div>
					<input type="hidden" name="id" value="{$res.id}">
					<div class="form-group">
						<label class="col-md-2 control-label" for="">默认首页：</label>
						<div class="col-md-4">
							<input type="text" name="home" class="form-control unline title" value="{$res.home}" placeholder="请输入默认首页" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">错误页定义：</label>
						<div class="col-md-4">
							<input type="text" name="error" class="form-control unline title" value="{$res.error}" placeholder="请输入错误页定义" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">独立ip：</label>
						<div class="col-md-4">
							<input type="text" name="onlyip" class="form-control unline title" value="{$res.onlyip}" placeholder="请输入独立ip" />
							<label class="unline-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="">备注：</label>
						<div class="col-md-4">
							<textarea name="remarks" type="text" class="form-control unline idiograph" placeholder="请输入备注" rows="6">{$res.remarks}</textarea>
							<label class="unline-label"></label>
						</div>
					</div>

					<br>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-4">
							<button type="submit" class="btn btn-ces tijiao">提交</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="modal fade" id="editPass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="">修改主机管理密码</h4>
					</div>
					<div class="modal-body">
						<form id="savepass" class="form-horizontal" action="{:url('business/editdomain')}" method="post">
							<div class="form-group">
								<label class="col-md-3 control-label" for="">输入旧密码：</label>
								<div class="col-md-8">
									<input type="password" name="oldpassword" class="form-control line oldpass" />
									<label class="line-label"></label>
								</div>
							</div>
							<input type="hidden" name="id" value="{$res.id}">
							<div class="form-group">
								<label class="col-md-3 control-label" for="">输入新密码：</label>
								<div class="col-md-8">
									<input type="password" name="password"  class="form-control line newpass" />
									<label class="line-label"></label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="">重复新密码：</label>
								<div class="col-md-8">
									<input type="password" name=""  class="form-control line newpass1" />
									<label class="line-label"></label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-3 col-md-8">
									<button type="submit" class="btn btn-ces js-tijiao">提交修改</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="editftpPass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="">修改FTP密码</h4>
					</div>
					<div class="modal-body">
						<form id="saveftppass" class="form-horizontal" action="{:url('business/editdomain')}" method="post">
							<div class="form-group">
								<label class="col-md-3 control-label" for="">输入旧密码：</label>
								<div class="col-md-8">
									<input type="password" name="oldpassword" class="form-control line oldpass" />
									<label class="line-label"></label>
								</div>
							</div>
							<input type="hidden" name="id" value="{$res.id}">
							<div class="form-group">
								<label class="col-md-3 control-label" for="">输入新密码：</label>
								<div class="col-md-8">
									<input type="password" name="ftp_password"  class="form-control line newpass" />
									<label class="line-label"></label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="">重复新密码：</label>
								<div class="col-md-8">
									<input type="password" name=""  class="form-control line newpass1" />
									<label class="line-label"></label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-3 col-md-8">
									<button type="submit" class="btn btn-ces js-saveftp">提交修改</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="editmysqlPass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">修改MYSQL密码</h4>
					</div>
					<div class="modal-body">
						<form id="savemysqlpass" class="form-horizontal" action="{:url('business/editdomain')}" method="post">
							<div class="form-group">
								<label class="col-md-3 control-label" for="">输入旧密码：</label>
								<div class="col-md-8">
									<input type="password" name="oldpassword" class="form-control line oldpass" />
									<label class="line-label"></label>
								</div>
							</div>
							<input type="hidden" name="id" value="{$res.id}">
							<div class="form-group">
								<label class="col-md-3 control-label" for="">输入新密码：</label>
								<div class="col-md-8">
									<input type="password" name="mysql_password"  class="form-control line newpass" />
									<label class="line-label"></label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="">重复新密码：</label>
								<div class="col-md-8">
									<input type="password" name=""  class="form-control line newpass1" />
									<label class="line-label"></label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-3 col-md-8">
									<button type="submit" class="btn btn-ces js-savemysql">提交修改</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


{/block}
{block name="script"}
<script>
	$(document).ready(function() {

		//开始时间

		$('.create').daterangepicker({
			singleDatePicker: true,
			opens: 'left',
			showButtonPanel: false,
			buttonClasses: 'btn-sm btn btn-default',
			applyClass: 'btn-sm btn btn-ces',
			cancelClass: 'btn-sm btn btn-default',
			ranges: {
			},
			locale: {
				applyLabel: '确定',
				cancelLabel: '取消',
				fromLabel: '起始时间',
				toLabel: '结束时间',
				customRangeLabel: '自定义',
				daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
				monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
					'七月', '八月', '九月', '十月', '十一月', '十二月'
				],
				firstDay: 1
			}
		});
		$('.create').on('apply.daterangepicker', function(ev, picker) {

			//console.log(picker.startDate.format('YYYY-MM-DD HH:II:SS'));
			$("#create_time").val(picker.endDate.format('YYYY-MM-DD hh:mm:ss'));
		});

		//到期时间
		$('.last').daterangepicker({
			singleDatePicker: true,
			opens: 'left',
			showButtonPanel: false,
			buttonClasses: 'btn-sm btn btn-default',
			applyClass: 'btn-sm btn btn-ces',
			cancelClass: 'btn-sm btn btn-default',
			ranges: {
			},
			locale: {
				applyLabel: '确定',
				cancelLabel: '取消',
				fromLabel: '起始时间',
				toLabel: '结束时间',
				customRangeLabel: '自定义',
				daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
				monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
					'七月', '八月', '九月', '十月', '十一月', '十二月'
				],
				firstDay: 1
			}
		});
		$('.last').on('apply.daterangepicker', function(ev, picker) {

			//console.log(picker.startDate.format('YYYY-MM-DD HH:II:SS'));
			$("#last_time").val(picker.endDate.format('YYYY-MM-DD hh:mm:ss'));
		});

	});

	$('.js-tijiao').click(function () {

		//提交后获取所有内容 判断
		if($("#savepass .oldpass").val() == '') {
			alert('请输入旧密码！');
			return false;
		}
		if($("#savepass .newpass").val() == '') {
			alert('请输入新密码！');
			return false;
		}
		if($("#savepass .newpass1").val() == '') {
			alert('请输入确认密码！');
			return false;
		}

		if($("#savepass .newpass").val() != $("#savepass .newpass1").val()) {
			alert('新密码与确认密码不一致！');
			return false;
		}
		/*if ($('#password').val() == '') {
		 alert('请输入密码!');
		 return false;
		 }
		 if ($('#repassword').val() == '') {
		 alert('请重复输入密码');
		 return false;
		 }*/
		var formData = new FormData($('#savepass')[0]);
		$.ajax({
			url: "{:url('business/editvhost')}",
			type: "post",
			data: formData,
			async: false,
			cache: false,
			contentType: false,
			processData: false,
			success: function (data) {
				console.log(data);
				if(data['msg'] == 1) {
					alert("修改成功");
					window.location.reload();
				} else if(data['msg'] == 2) {
					alert("原密码不正确");
				}else if(data['msg'] == 3) {
					alert("新密码不能与原密码相同");
				}
				else {
					alert('修改失败');
					window.location.reload();
				}
			},
		});

		return false;
	})
	$('.js-saveftp').click(function () {

		//提交后获取所有内容 判断
		if($("#saveftppass .oldpass").val() == '') {
			alert('请输入旧密码！');
			return false;
		}
		if($("#saveftppass .newpass").val() == '') {
			alert('请输入新密码！');
			return false;
		}
		if($("#saveftppass .newpass1").val() == '') {
			alert('请输入确认密码！');
			return false;
		}

		if($("#saveftppass .newpass").val() != $("#saveftppass .newpass1").val()) {
			alert('新密码与确认密码不一致！');
			return false;
		}
		/*if ($('#password').val() == '') {
		 alert('请输入密码!');
		 return false;
		 }
		 if ($('#repassword').val() == '') {
		 alert('请重复输入密码');
		 return false;
		 }*/
		var formData = new FormData($('#saveftppass')[0]);
		$.ajax({
			url: "{:url('business/editvhost')}",
			type: "post",
			data: formData,
			async: false,
			cache: false,
			contentType: false,
			processData: false,
			success: function (data) {
				console.log(data);
				if(data['msg'] == 1) {
					alert("修改成功");
					window.location.reload();
				} else if(data['msg'] == 2) {
					alert("原密码不正确");
				}else if(data['msg'] == 3) {
					alert("新密码不能与原密码相同");
				}
				else {
					alert('修改失败');
					window.location.reload();
				}
			},
		});

		return false;
	})
	$('.js-savemysql').click(function () {

		//提交后获取所有内容 判断
		if($("#savemysqlpass .oldpass").val() == '') {
			alert('请输入旧密码！');
			return false;
		}
		if($("#savemysqlpass .newpass").val() == '') {
			alert('请输入新密码！');
			return false;
		}
		if($("#savemysqlpass .newpass1").val() == '') {
			alert('请输入确认密码！');
			return false;
		}

		if($("#savemysqlpass .newpass").val() != $("#savemysqlpass .newpass1").val()) {
			alert('新密码与确认密码不一致！');
			return false;
		}
		/*if ($('#password').val() == '') {
		 alert('请输入密码!');
		 return false;
		 }
		 if ($('#repassword').val() == '') {
		 alert('请重复输入密码');
		 return false;
		 }*/
		var formData = new FormData($('#savemysqlpass')[0]);
		$.ajax({
			url: "{:url('business/editvhost')}",
			type: "post",
			data: formData,
			async: false,
			cache: false,
			contentType: false,
			processData: false,
			success: function (data) {
				console.log(data);
				if(data['msg'] == 1) {
					alert("修改成功");
					window.location.reload();
				} else if(data['msg'] == 2) {
					alert("原密码不正确");
				}else if(data['msg'] == 3) {
					alert("新密码不能与原密码相同");
				}
				else {
					alert('修改失败');
					window.location.reload();
				}
			},
		});

		return false;
	})

	$('.tijiao').click(function () {

   //提交后获取所有内容 判断

		var formData = new FormData($('#editvhost')[0]);
		$.ajax({
			url: "{:url('business/editvhost')}",
			type: "post",
			data: formData,
			async: false,
			cache: false,
			contentType: false,
			processData: false,
			success: function (data) {
				console.log(data);
				if (data['msg'] == 1) {
					alert('修改成功');
					window.location.href = "{:url('business/vhost')}";
				}/*else if(data['msg'] == 2){
					alert('两次密码不一致');
				}else if(data['msg'] == 3){
					alert('该用户名已存在');
				}else if(data['msg'] == 4){
					alert('密码不能少于6位');
				}else if(data['msg'] == 5){
					alert('请输入正确的手机号');
				}else if(data['msg'] == 6){
					alert('该手机号已经注册过了');
				}*/
				else
				{
					alert('修改失败');
					window.location.reload();
				}
			},
		});

		return false;
	})



</script>
{/block}